- size = 45
%svg{version: "1.1", viewBox: "0 0 #{10 * size} #{8 * size}", class: "board"}
  %title= position.name
  %desc= "FEN: #{position.fen}"
  %g{transform: "translate(#{size},0)"}
    = render "positions/svg/squares", size: size
    = render "positions/svg/pieces", size: size, pieces: position.pieces
    = render "positions/svg/active", size: size, active: position.active
