= render "utils/title", key: "vocab.kanjis"

= form_tag kanjis_path, method: :get, class: "form-inline justify-content-center" do
  = label_tag :q, t("vocab.kanji"), class: "sr-only"
  = text_field_tag :q, params[:q], class: "form-control mr-1 mb-1", placeholder: t("vocab.kanji"), size: 16, autofocus: true
  = label_tag :level, t("vocab.level"), class: "sr-only"
  = select_tag :level, kanji_search_level_menu(params[:level]), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :order, t("order"), class: "sr-only"
  = select_tag :order, kanji_search_order_menu(params[:order]), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"

%table{class: "table table-bordered table-striped table-sm mt-3"}
  %thead
    %tr.d-flex
      %th.col-1.text-center= t("vocab.kanji")
      %th.col-1.text-center= t("vocab.frequency")
      %th.col-1.text-center= t("total")
      %th.col-4.text-center{colspan: 2}= t("vocab.onyomi")
      %th.col-5.text-center{colspan: 2}= t("vocab.kunyomi")
  %tbody{id: "results"}
    = render "results", kanjis: @kanjis

.text-center.mt-3
  = link_to t("vocab.readings"), readings_path, class: "btn btn-success"
