= render "utils/title", text: @kanji.symbol, header: true

.row
  .col-md-offset-3.col-md-6
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th.col-md-2= t("vocab.onyomi")
          %td.col-md-10= render "kanas", yomis: @kanji.yomis.select{ |y| y.on }
        %tr
          %th= t("vocab.kunyomi")
          %td= render "kanas", yomis: @kanji.yomis.select{ |y| !y.on }
        %tr
          %th= t("vocab.meaning")
          %td= @kanji.meaning
        %tr
          %th= t("vocab.level")
          %td= @kanji.level

.row.top_margin
  .col-xs-12
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-xs-1= t("vocab.kanji")
          %th.col-xs-2= t("vocab.reading")
          %th.col-xs-4= t("vocab.meaning")
          %th.col-xs-3= t("vocab.category")
          %th.col-xs-1.text-center= t("vocab.level")
          %th.col-xs-1.text-center= t("vocab.audio")
      %tbody
        - @vocabs.each do |vocab|
          %tr
            %td= link_to vocab.kanji, vocab
            %td= vocab.reading
            %td= vocab.meaning
            %td= vocab.category
            %td.text-center= vocab.level
            %td.text-center= render "vocabs/audio", vocab: vocab, ojad: true

.text-center
  = link_to t("vocab.kanjis"), kanjis_path, class: "btn btn-success"
  = link_to t("vocab.readings"), readings_path, class: "btn btn-success"
