:ruby
  lo = Layout.new(xs: [4,4], md: [3,3]).to_a
  inputs = [
    [:q,        t("search"),          :text, lo[0], autofocus: true],
    [:division, t("team.division"), :select, lo[1], menu: team_division_search_menu, prompt: t("team.division")],
  ]

= render "utils/title", key: "team.teams"

.row
  %div{class: center(md: 10, lg: 8, xl: 6)}
    %section
      .header.text-center
        %h3= t("team.teams")
      .body{"data-turbo" => "true"}
        = render "utils/search/form", index: teams_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr.d-flex
                %th.col-7= t("team.name")
                %th.col-4= t("team.short")
                %th.col-1.text-center= t("team.abbrev.division")
            %tbody
              = render partial: "team", collection: @teams.matches
              = render "utils/pagination_links", pager: @teams, columns: 3
      - if can?(:create, Team)
        .footer
          = link_to t("team.new"), new_team_path, class: "blue-btn"
