= render "utils/title", key: "team.teams"

:ruby
  inputs = [
    [:q, t("search"), :text, size: 16, autofocus: true],
  ]
= render "utils/search/form", index: teams_path, inputs: inputs

.row.mt-3
  .col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr.d-flex
          %th.col-7= t("team.name")
          %th.col-5= t("team.short")
      %tbody{id: "results"}
        = render "results", teams: @teams

- if can?(:create, Team)
  .text-center.mt3
    = link_to t("team.new"), new_team_path, class: "btn btn-info"
