= render "utils/title", text: @team.name

.row
  %div{class: center(md: 10, lg: 8, xl: 6)}
    %section
      .header.text-center
        %h3= @team.name
      .body
        %table{class: "table table-bordered table-sm"}
          %tbody
            %tr
              %th= t("team.name")
              %td= @team.name
            %tr
              %th= t("team.short")
              %td= @team.short
      .footer
        = link_to t("team.teams"), last_search(teams_path), class: "green-btn"
        - if can?(:edit, Team)
          = link_to t("edit"), edit_team_path(@team), class: "blue-btn"
