- misas.matches.each do |misa|
  %tr
    %td
      = link_to misa.title, misa
      - if misa.japanese
        = t("misa.abbrev.japanese")
    %td= t("misa.categories.#{misa.category}")
    %td.text-center= misa.lines
    %td.text-center= misa.minutes
    %td.text-center= misa.published&.strftime("%y-%m-%d")
    %td.text-center
      - if misa.long
        = link_to t("misa.abbrev.long"), misa.long_url, target: misa.target
      = link_to t("misa.abbrev.short"), misa.short_url, target: misa.target
= render "utils/pagination_links", pager: misas, columns: 6
