= render "utils/title", key: "misa.misa"

.row
  %div{class: Sni::Center.call(lg: 10, xx: 8)}
    %section
      .header
        %h5.d-inline= @misa.title
        %small.float-end
          = @misa.series_number
          = @misa.published
          - if @misa.url
            = link_to t("misa.abbrev.url"), @misa.url, target: t("misa.target")
          - if @misa.alt
            = link_to t("misa.abbrev.alt"), @misa.alt, target: t("misa.target")
          = @misa.minutes
          - if @misa.japanese
            = t("misa.abbrev.japanese")
      - if @misa.note.present?
        .body
          %article= @misa.note_html
      .footer
        = link_to t("misa.misas"), last_search(misas_path), class: "green-btn"
        - if can?(:edit, Misa)
          = link_to t("edit"), edit_misa_path(@misa), class: "blue-btn"
