- tapas.matches.each do |tapa|
  %tr
    %td.text-center= tapa.number
    %td= link_to tapa.title, tapa.post_url, target: "external"
    %td= tapa.keywords
    - if can?(:edit, tapa)
      %td.text-center= link_to t("edit"), edit_tapa_path(tapa), class: "btn btn-info btn-xs"
= render "utils/pagination_links", pager: tapas, columns: 3 + (can?(:edit, Tapa) ? 1 : 0)
