- tapas.matches.each do |tapa|
  %tr
    %td.text-center= tapa.number
    %td= link_to tapa.title, tapa.post_url, target: "external"
    %td= tapa.keywords
    %td.text-center= tapa.star ? t("symbol.star") : ""
    %td.text-center
      - if tapa.notes.present?
        %button{type: "button", class: "btn btn-success btn-xs", "data-toggle" => "modal", "data-target" => "#notes", "data-id" => tapa.id, "data-number" => tapa.number}= t("symbol.note")
    - if can?(:edit, tapa)
      %td.text-center= link_to t("edit"), edit_tapa_path(tapa), class: "btn btn-info btn-xs"
= render "utils/pagination_links", pager: tapas, columns: 4 + (can?(:edit, Tapa) ? 1 : 0)
