= render "utils/title", key: "tapa.tapas", header: true

= content_for :javascript do
  = render "tapas.js"

.text-center.top_margin
  = form_tag tapas_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :number, t("tapa.number"), class: "sr-only"
      = text_field_tag :number, params[:number], class: "form-control", placeholder: t("tapa.number"), size: 10
    .form-group
      = label_tag :query, t("tapa.query"), class: "sr-only"
      = text_field_tag :query, params[:query], class: "form-control", placeholder: t("tapa.query"), size: 30
    .form-group
      = label_tag :star, t("tapa.star"), class: "sr-only"
      = select_tag :star, tapa_star_search_menu(params[:star]), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"
    = link_to t("reset"), "#", class: "btn btn-success", id: "reset"

.row.top_margin
  .col-xs-12.col-md-10.col-md-offset-1
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center.col-xs-1= t("tapa.short.number")
          %th= t("tapa.title")
          %th= t("tapa.keywords")
          %th.text-center.col-xs-1= t("tapa.star")
          %th.text-center.col-xs-1= t("notes")
          - if can?(:edit, Tapa)
            %th.col-xs-1
      %tbody{id: "results"}
        = render "results", tapas: @tapas

.text-center.top_margin
  - if can?(:create, Tapa)
    = link_to t("tapa.new"), new_tapa_path, class: "btn btn-info"
  = render "utils/help_button"

= render "notes_popup"

- content_for :help_title do
  = t("tapa.help.search")
- content_for :help do
  %p
    This is a searchable list of Avdi Grimm's
    = link_to "Ruby Tapas", "https://rubytapas.dpdcart.com/subscriber/content", target: "external"
    screencasts.
  %p Constrain the search with:
  %ul
    %li
      = succeed(":") do
        %strong= t("tapa.number")
      enter a single number (e.g. "1"),
      an inequality (e.g. "> 100" or "<= 200") or
      a range (e.g. "100-200").
    %li
      = succeed(":") do
        %strong= t("tapa.query")
      enter a substring to match (case insensitively) at least one of these attributes.
  %p When ready to search, hit the "Enter" key or click "Search".
  %p
    Note that keywords sometimes consist of a class name,
    followed by a hash (instance method) or period (class method),
    followed by a method name (e.g. "Fixnum#to_s", "Dir.home").
