.row
  .col-md-10
    = form_for dragon, html: { class: "form-horizontal" } do |f|
      %fieldset
        - shared = { form: f, object: dragon, col: "md", pad: 3, width: 4}
        = render "utils/text_field_for", shared.merge(param: :first_name, text: t("person.first_name"))
        = render "utils/text_field_for", shared.merge(param: :last_name, text: t("person.last_name"))
        = render "utils/check_box_for", shared.merge(param: :male, text: t("person.male"), width: 1)

      .row
        .offset-md-3.col-md-9
          = f.submit t("save"), class: "btn btn-primary"
          = link_to t("cancel"), dragons_path, class: "btn btn-secondary"
          - unless dragon.new_record?
            = link_to t("delete"), dragon, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
