= render "utils/title", key: "verb_pair.verb_pairs"

.text-center
  = form_tag verb_pairs_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :q, t("query"), class: "sr-only"
      = text_field_tag :query, params[:query], class: "form-control", placeholder: t("query"), size: 16
    .form-group
      = label_tag :group, t("verb_pair.group"), class: "sr-only"
      = select_tag :group, verb_pair_group_menu(params[:group], search: true), class: "form-control auto-submit"
    .form-group
      = label_tag :order, t("order"), class: "sr-only"
      = select_tag :order, verb_pair_search_order_menu(params[:order]), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-xs-12
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-xs-5.text-center{colspan: 3}= t("verb_pair.transitive")
          %th.col-xs-2.text-center= t("verb_pair.group")
          %th.col-xs-5.text-center{colspan: 3}= t("verb_pair.intransitive")
      %tbody{id: "results"}
        = render "results", pairs: @verb_pairs

.text-center
  - if can?(:create, VerbPair)
    = link_to t("verb_pair.new"), new_verb_pair_path, class: "btn btn-info"
