= render "utils/title", text: @verb_pair.title, header: true

= render "vocabs/quick_accent_updates", selector: "#accent_updates"

- v1 = @verb_pair.transitive
- v2 = @verb_pair.intransitive

.row
  .offset-md-2.col-md-8
    %table{class: "table table-bordered"}
      %tbody#accent_updates
        %tr
          %th{rowspan: 4}= t("verb_pair.transitive")
          %td
            = link_to v1.kanji, v1
            = render "vocabs/audio_accent", vocab: v1
        %tr
          %td{class: vocab_text_color(v1)}= v1.reading
        %tr
          %td= v1.meaning
        %tr
          %td= v1.category
        %tr
          %th{rowspan: 4}= t("verb_pair.intransitive")
          %td
            = link_to v2.kanji, v2
            = render "vocabs/audio_accent", vocab: v2
        %tr
          %td{class: vocab_text_color(v2)}= v2.reading
        %tr
          %td= v2.meaning
        %tr
          %td= v2.category
        %tr
          %th= t("verb_pair.group")
          %td= t("verb_pair.groups")[@verb_pair.group]

.text-center
  = link_to t("verb_pair.verb_pairs"), verb_pairs_path, class: "btn btn-success"
  - if can?(:manage, VerbPair)
    = link_to t("edit"), edit_verb_pair_path(@verb_pair), class: "btn btn-info"
