= render "utils/title", text: @verb_pair.title, header: true

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered"}
      %tbody
        %tr
          %th{rowspan: 4}= t("verb_pair.transitive")
          %td= link_to @verb_pair.transitive.kanji, @verb_pair.transitive
        %tr
          %td= render "vocabs/audio", vocab: @verb_pair.transitive, text: @verb_pair.transitive.reading
        %tr
          %td= @verb_pair.transitive.meaning
        %tr
          %td= @verb_pair.transitive.category
        %tr
          %th{rowspan: 4}= t("verb_pair.intransitive")
          %td= link_to @verb_pair.intransitive.kanji, @verb_pair.transitive
        %tr
          %td= render "vocabs/audio", vocab: @verb_pair.intransitive, text: @verb_pair.intransitive.reading
        %tr
          %td= @verb_pair.intransitive.meaning
        %tr
          %td= @verb_pair.intransitive.category
        %tr
          %th= t("verb_pair.group")
          %td= t("verb_pair.groups")[@verb_pair.group]

.text-center
  = link_to t("verb_pair.verb_pairs"), verb_pairs_path, class: "btn btn-success"
  - if can?(:manage, VerbPair)
    = link_to t("edit"), edit_verb_pair_path(@verb_pair), class: "btn btn-info"
