.row
  %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
    = form_for note, :url => { :action => "nupdate" }, html: { class: "crud" } do |form|
      %section
        .header.text-center
          %h4.d-inline
            = note.number
            = note.title
        .body
          = form.label :number, t("note.shift")
          = form.select :number, note_number_menu(note)
        .footer
          = form.submit t("save"), class: "btn btn-primary btn-sm"
          = link_to t("cancel"), note, class: "btn btn-secondary btn-sm"
