:ruby
  lo = Sni::Layout.call(sm: [3,3,3], xs: [4,4,4])
  inputs = [
    [:q,      t("query"),       :text,   lo[0], size: 16, placeholder: t("search"), autofocus: true],
    [:series, t("note.series"), :select, lo[1], menu: note_series_menu(params[:series])],
    [:order,  t("order"),       :select, lo[2], menu: note_search_order_menu(params[:order])],
  ]

= render "utils/title", key: "note.notes"

.row
  %div{class: center(xx: 8, lg: 10)}
    %section
      .header.text-center
        %h3= t("note.notes")
      .body
        = render "utils/search/form", index: notes_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th= t("note.title")
                %th= t("note.series")
                %th.text-center= t("note.updated")
            %tbody
              = render partial: "note", collection: @notes.matches
              = render "utils/pagination_links", pager: @notes, columns: 3
      .footer
        - if can?(:create, Note)
          = link_to t("note.new"), new_note_path, class: "blue-btn"
