= render "utils/title", key: "note.notes"

:ruby
  inputs = [
    [:q,      t("query"),       :text,   size: 16, value: params[:name], placeholder: t("search"), autofocus: true],
    [:series, t("note.series"), :select, menu: note_series_menu(params[:series])],
    [:order,  t("order"),       :select, menu: note_search_order_menu(params[:order])],
  ]
= render "utils/search/form", index: notes_path, inputs: inputs

.row.mt-3
  %div{class: center(xl: 8, lg: 10)}
    %table{class: "table table-bordered table-striped table-sm"}
      %thead
        %tr
          %th= t("note.title")
          %th= t("note.series")
          %th.text-center= t("note.updated")
      %tbody{id: "results"}
        = render "results", notes: @notes

- if can?(:create, Note)
  .text-center.mt-3
    = link_to t("note.new"), new_note_path, class: "btn btn-info"
