= render "utils/title", text: @note.title

.row
  %div{class: Sni::Center.call(lg: 10, xx: 8)}
    %section
      .header
        %h5.d-inline= @note.title
        %small.float-end
          = @note.series_number(links: true)
      .body
        %article= @note.stuff_html
      .footer
        = link_to t("note.notes"), last_search(notes_path), class: "green-btn"
        - if can?(:edit, Note)
          = link_to t("edit"), edit_note_path(@note), class: "blue-btn"
        - if can?(:delete, Note)
          = link_to t("delete"), @note, class: "red-btn", data: { turbo_method: :delete, turbo_confirm: t("sure") }
