- defined?(date_format) || date_format = "%b %e, %Y"
- defined?(index) || index = true

.panel{class: "panel-#{blog.draft ? 'warning' : 'default'}"}
  .panel-heading
    %b= link_to_if index, blog.title, blog
    .pull-right
      %small= blog.created_at.strftime(date_format)
      - if index && can?(:edit, blog)
        = link_to t("edit"), edit_blog_path(blog), class: "btn btn-info btn-xs"
  .panel-body
    ~ blog.story_html(short: index)
    - if index && blog.paragraphs > 1
      %p= link_to t("blog.more"), blog
  - unless index
    .panel-footer.small
      = succeed(":") do
        = t("updated_at")
      = blog.updated_at.to_s(:nosec)
