- defined?(date_format) || date_format = "%b %e, %Y"
- defined?(index) || index = true

.card{class: "bg-#{blog.draft ? 'warning' : 'light'} mb-3"}
  .card-header
    = link_to_if index, blog.title, blog
    .float-right
      %small= blog.created_at.strftime(date_format)
  .card-body
    ~ blog.story_html(short: index)
    - if index && blog.paragraphs > 1
      %p= link_to t("blog.more"), blog
  - unless index
    .card-footer.small
      = succeed(":") do
        = t("updated_at")
      = blog.updated_at.to_s(:nosec)
