= render "utils/title", key: "blog.blog"

= form_tag blogs_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :q, t("query"), class: "sr-only"
  = text_field_tag :q, params[:q], class: "form-control mr-1", size: 16
  = button_tag t("search"), type: "submit", class: "btn btn-success"

#results.mt-3
  = render "results", blogs: @blogs

- if can?(:create, Blog)
  .text-center
    = link_to t("blog.new"), new_blog_path, class: "btn btn-info"
