- kanjis.matches.each do |kanji|
  %tr
    %td.text-center.double-size{rowspan: 2}= link_to kanji.character, kanji, "data-turbo" => "false"
    %td= kanji.meaning
    %td.double-size{rowspan: 2, "data-turbo" => "false"}
      - kanji.similar_kanjis.each do |k|
        = link_to k.character, k
  %tr
    %td= kanji.reading
= render "utils/pagination_links", pager: kanjis, columns: 3
