= render "utils/title", key: "wk.kanji.candidates"

%section
  .header.text-center
    %h3= t("wk.kanji.candidates")
  .body
    %table{class: "table table-bordered table-sm mt-3"}
      %thead
        %tr.d-flex
          %th.col-1.text-center= t("wk.kanji.kanji")
          %th.col-1.text-center= t("count")
          %th.col-10.text-center= t("wk.vocab.vocabs")
      %tbody
        - @candidates.each do |kanji, vocabs|
          %tr.d-flex
            %td.col-1.text-center= link_to kanji.character, kanji
            %td.col-1.text-center= vocabs.size
            %td.col-10= safe_join(vocabs.map { |vocab| link_to(vocab.characters, vocab) }, ", ")
  .footer
    = link_to t("wk.radical.radicals"), last_search(wk_radicals_path), class: "green-btn"
    = link_to t("wk.kanji.kanjis"), wk_kanjis_path, class: "green-btn"
    = link_to t("wk.kanji.favourites"), favourites_wk_kanjis_path, class: "green-btn"
    = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "green-btn"
    = link_to t("wk.kana.kanas"), last_search(wk_kanas_path), class: "green-btn"
    = link_to t("wk.kana.favourites"), favourites_wk_kanas_path, class: "green-btn"
