= render "utils/title", key: "wk.kanji.favourites"

%section
  .header.text-center
    %h3= t("wk.kanji.favourites")
  .body
    %table{class: "table table-bordered mt-3 w-auto mx-auto kanji-grid"}
      %tbody
        - i = 0
        - 1.upto(8) do |row|
          %tr
            - 1.upto(12) do |col|
              %td.text-center.p-0
                - kanji = @favourites[i]
                - if kanji
                  = link_to kanji.character, kanji
                - else
                  = "\u3000"
                - i += 1
  .footer
    = link_to t("wk.radical.radicals"), last_search(wk_radicals_path), class: "green-btn"
    = link_to t("wk.kanji.kanjis"), wk_kanjis_path, class: "green-btn"
    = link_to t("wk.kanji.favourites"), wk_kanjis_path(special: "favourite"), class: "green-btn"
    = link_to t("wk.kanji.candidates"), candidates_wk_kanjis_path, class: "green-btn"
    = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "green-btn"
    = link_to t("wk.kana.kanas"), last_search(wk_kanas_path), class: "green-btn"
