= render "utils/title", key: "wk.kanji.kanjis"

= form_tag wk_kanjis_path, method: :get, class: "form-inline justify-content-center" do
  = label_tag :kquery, t("wk.kanji.kanji"), class: "sr-only"
  = text_field_tag :kquery, params[:kquery], class: "form-control mr-1 mb-1", placeholder: t("wk.kanji.kanji"), size: 16, autofocus: true
  = label_tag :id, t("wk.id"), class: "sr-only"
  = text_field_tag :id, params[:id], class: "form-control mr-1 mb-1", placeholder: t("wk.short.id"), size: 5
  = label_tag :level, t("wk.level"), class: "sr-only"
  = select_tag :level, wk_level_menu(params[:level]), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :level, t("wk.kanji.image"), class: "sr-only"
  = select_tag :image, wk_kanji_image_menu(params[:image]), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :order, t("order"), class: "sr-only"
  = select_tag :order, wk_kanji_order_menu(params[:order]), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"

.row
  %table{class: "table table-bordered table-striped table-sm mt-3"}
    %thead
      %tr.d-flex
        %th.col-1.text-center= t("wk.short.character")
        %th.col-5.text-center= t("wk.meaning")
        %th.col-5.text-center= t("wk.reading")
        %th.col-1.text-center= t("wk.level")
    %tbody
      = render "results", kanjis: @kanjis

.text-center
  = link_to t("wk.radical.radicals"), last_search(wk_radicals_path), class: "btn btn-success"
  = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "btn btn-success"
