:ruby
  lo = Layout.new(
    md: [2,2,2,2,2],
    sm: [[3,3,3],[3,3]],
    xs: [[4,4,4],[4,4]],
  ).to_a
  inputs = [
    [:kquery, t("wk.kanji.kanji"), :text,   lo[0], placeholder: t("wk.kanji.kanji")],
    [:level,  t("wk.level"),       :select, lo[1], menu: wk_level_menu(params[:level])],
    [:id,     t("wk.id"),          :text,   lo[2], placeholder: t("wk.short.id")],
    [:image,  t("wk.kanji.image"), :select, lo[3], menu: wk_kanji_image_menu(params[:image])],
    [:order,  t("order"),          :select, lo[4], menu: wk_kanji_order_menu(params[:order])],
  ]

= render "utils/title", key: "wk.kanji.kanjis"

%section
  .header.text-center
    %h3= t("wk.kanji.kanjis")
  .body
    = render "utils/search/form", index: wk_kanjis_path, inputs: inputs, remote: false
    %table{class: "table table-bordered table-sm mt-3"}
      %thead
        %tr.d-flex
          %th.col-1.text-center= t("wk.short.character")
          %th.col-5.text-center= t("wk.meaning")
          %th.col-5.text-center= t("wk.reading")
          %th.col-1.text-center= t("wk.level")
      %tbody
        = render "results", kanjis: @kanjis
  .footer
    = link_to t("wk.radical.radicals"), last_search(wk_radicals_path), class: "btn btn-success btn-sm"
    = link_to t("wk.kanji.kanjis"), wk_kanjis_path, class: "btn btn-success btn-sm"
    = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "btn btn-success btn-sm"
    = link_to t("wk.kana.kanas"), last_search(wk_kanas_path), class: "btn btn-success btn-sm"
