= render "utils/title", text: @kanji.character, header: true

%table{class: "table table-bordered"}
  %tbody
    %tr.d-flex
      %td.col-3= t("wk.meaning")
      %td.col-9= @kanji.meaning
    %tr.d-flex
      %td.col-3= t("wk.reading")
      %td.col-9= @kanji.reading
    %tr.d-flex
      %td.col-3= t("wk.radical.radicals")
      %td.col-9
        - @kanji.radicals.each do |radical|
          = link_to radical.character_name, radical
    %tr.d-flex
      %td.col-3= t("wk.kanji.similar")
      %td.col-9{style: "font-size: 2em"}
        - @kanji.similar_kanjis.each do |kanji|
          = link_to kanji.character, kanji
    %tr.d-flex
      %td.col-3= t("wk.hint.meaning")
      %td.col-9= @kanji.meaning_mnemonic.html_safe
    %tr.d-flex
      %td.col-3= t("wk.hint.reading")
      %td.col-9= @kanji.reading_mnemonic.html_safe
    %tr.d-flex
      %td.col-3= t("wk.level")
      %td.col-9= @kanji.level
    %tr.d-flex
      %td.col-3= t("wk.id")
      %td.col-9= @kanji.wk_id
    %tr.d-flex
      %td.col-3= t("wk.last_updated")
      %td.col-9= @kanji.last_updated

%table{class: "table table-bordered table-striped table-sm mt-3"}
  %thead
    = render "wk/vocabs/table_header"
  %tbody
    = render "wk/vocabs/table_rows", vocabs: @vocabs

.text-center
  = link_to t("wk.radical.radicals"), wk_radicals_path, class: "btn btn-success"
  = link_to t("wk.kanji.kanjis"), wk_kanjis_path, class: "btn btn-success"
  = link_to t("wk.vocab.vocabs"), wk_vocabs_path, class: "btn btn-success"
