= render "utils/title", text: @kanji.character, header: true

.row
  .offset-md-2.col-md-8.offset-lg-3.col-lg-6
    %table{class: "table table-bordered"}
      %tbody
        %tr.d-flex
          %td.col-3= t("wk.character")
          %td.col-9= @kanji.character
        %tr.d-flex
          %td.col-3= t("wk.level")
          %td.col-9= @kanji.level
        %tr.d-flex
          %td.col-3= t("wk.id")
          %td.col-9= @kanji.wk_id

.text-center
  = link_to t("wk.radical.radicals"), wk_radicals_path, class: "btn btn-success"
  = link_to t("wk.kanji.kanjis"), wk_kanjis_path, class: "btn btn-success"
