= render "wk/readings/utils"
= render "utils/title", text: @kanji.character

%section
  .header.text-center
    %h1.display-1
      = @kanji.linked_character
      - if @kanji.kvg_xml.present?
        = render inline: @kanji.kvg_xml
  .body
    - if @kanji.kvg_frames.present?
      .text-center.mb-3.overflow-auto
        = render inline: @kanji.kvg_frames
    - if path = @kanji.image_path
      %img.mb-3{src: path, width: "100%"}
    %table{class: "table table-bordered"}
      %tbody
        %tr.d-flex
          %td.col-3= t("wk.meaning")
          %td.col-9
            = @kanji.meaning
            - if path = @kanji.pdf_path
              = link_to "PDF", path
        %tr.d-flex
          %td.col-3= t("wk.reading")
          %td.col-9= @kanji.reading
        %tr.d-flex
          %td.col-3= t("wk.radical.radicals")
          %td.col-9
            - @kanji.radicals.each do |radical|
              = link_to radical.character_name, radical
        %tr.d-flex
          %td.col-3= t("wk.kanji.similar.similar")
          %td.col-9.double-size
            - @kanji.similar_kanjis.each do |kanji|
              = link_to kanji.character, kanji
        %tr.d-flex
          %td.col-3= t("wk.hint.meaning")
          %td.col-9= @kanji.meaning_mnemonic.html_safe
        %tr.d-flex
          %td.col-3= t("wk.hint.reading")
          %td.col-9= @kanji.reading_mnemonic.html_safe
        %tr.d-flex
          %td.col-3= t("wk.links")
          %td.col-9
            - %w/kanshudo jisho japandict/.each do |x|
              = link_to t("wk.#{x}.text"), t("wk.#{x}.url.kanji", kanji: @kanji.character), target: "external"
            - if @kanji.level <= Wk::Kanji::OBS_LEVEL
              = link_to t("wk.obsidian"), @kanji.obs_url
            - if @daily
              = link_to t("wk.daily.text"), t("wk.daily.url", id: @daily.id)
        %tr.d-flex
          %td.col-3= t("wk.level")
          %td.col-9= @kanji.level
        %tr.d-flex
          %td.col-3= t("wk.id")
          %td.col-9= @kanji.wk_id
        %tr.d-flex
          %td.col-3= t("wk.last_updated")
          %td.col-9= @kanji.last_updated
      %table{class: "table table-bordered table-sm mt-3"}
        %thead
          = render "wk/vocabs/table_header"
        %tbody#accent_updates
          = render "wk/vocabs/table_rows", vocabs: @vocabs
  .footer
    = link_to t("wk.radical.radicals"), last_search(wk_radicals_path), class: "green-btn"
    = link_to t("wk.kanji.kanjis"), wk_kanjis_path, class: "green-btn"
    = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "green-btn"
    = link_to t("wk.kana.kanas"), last_search(wk_kanas_path), class: "green-btn"
