.row
  .col-md-12
    = form_for occupation, html: { class: "form-horizontal" } do |f|
      %fieldset
        - shared = { form: f, object: occupation, col: "md", pad: 2, width: 4 }
        = render "utils/text_field_for", shared.merge(param: :kanji, text: t("vocab.kanji"))
        = render "utils/text_field_for", shared.merge(param: :reading, text: t("vocab.reading"))
        = render "utils/text_field_for", shared.merge(param: :meaning, text: t("vocab.meaning"), width: 7)
      .row
        .offset-md-2.col-md-10
          = f.submit t("save"), class: "btn btn-primary"
          = link_to t("cancel"), occupation.new_record?? occupations_path : occupation, class: "btn btn-secondary"
          - unless occupation.new_record?
            = link_to t("delete"), occupation, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
