- occupations.matches.each do |occupation|
  %tr
    %td= link_to occupation.kanji, occupation
    %td= occupation.reading
    %td= occupation.meaning
    %td.text-center= render "vocabs/audio", vocab: occupation.vocab if occupation.vocab
= render "utils/pagination_links", pager: occupations, columns: 4
