= render "utils/title", key: "vocab.occupation.occupations"

= content_for :javascript do
  = render "vocabs/quick_accent_update.js"

= form_tag occupations_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :q, t("search"), class: "sr-only"
  = text_field_tag :q, params[:q], class: "form-control mr-1 mb-1", placeholder: t("search"), size: 16, autofocus: true
  = label_tag :order, t("order"), class: "sr-only"
  = select_tag :order, occupation_search_order_menu(params[:order]), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :ending, t("vocab.ending"), class: "sr-only"
  = select_tag :ending, occupation_ending_menu(params[:ending]), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"

.row
  .offset-md-1.col-md-10.offset-xl-2.col-xl-8
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("vocab.kanji")
          %th= t("vocab.reading")
          %th.text-center= t("vocab.audio")
          %th= t("vocab.meaning")
      %tbody#results
        = render "results", occupations: @occupations

- if can?(:create, Occupation)
  .text-center
    = link_to t("vocab.occupation.new"), new_occupation_path, class: "btn btn-info"
