:ruby
  lo = Layout.new(
    md: [3,2,2],
    sm: [4,3,3],
    xs: [4,4,4],
  ).to_a
  inputs = [
    [:order,  t("order"),       :select, lo[0], menu: ks_boot_order_menu(params[:order])],
    [:server, t("ks.server"),   :select, lo[1], menu: ks_server_menu(params[:server])],
    [:app,    t("ks.boot.app"), :select, lo[2], menu: ks_app_menu(params[:app])],
  ]

= render "utils/title", key: "ks.boot.boots"

.row
  %div{class: center(md: 10, lg: 8, xl: 6)}
    %section
      .header.text-center
        %h3= t("ks.boot.boots")
      .body
        = render "utils/search/form", index: ks_boots_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th= t("ks.boot.happened")
                %th.text-center= t("ks.server")
                %th.text-center= t("ks.boot.app")
            %tbody
              = render partial: "boot", collection: @boots.matches
              = render "utils/pagination_links", pager: @boots, columns: 3
      .footer
        = link_to t("ks.journal.journals"), ks_journals_path, class: "green-btn"
