.row
  .col-4.text-right= t("vocab.kanji")
  .col-8= question.vocab.kanji
.row.mt-3
  .col-4.text-right= t("vocab.category")
  .col-8= question.vocab.category
.row.mt-3
  .col-12
    = form_for question, html: { class: "form-horizontal" } do |f|
      - shared = { form: f, object: question, col: "md", pad: 4 }
      = render "utils/text_field_for", shared.merge(param: :meaning, text: t("vocab.meaning"), width: 4, side: "md-right", autofocus: true)
      = render "utils/text_field_for", shared.merge(param: :reading, text: t("vocab.reading"), width: 4, side: "md-right")
      = f.hidden_field(:vocab_id, value: question.vocab.id)
      = f.hidden_field(:vocab_test_id, value: question.vocab_test.id)
      = render "new_question_buttons", question: question, f: f
