.row
  %strong.col-md-4.text-right= t("vocab.audio")
  .col-md-1= render "vocabs/audio", vocab: question.vocab, autoplay: true
.row.top_margin
  .col-md-12
    = form_for question, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        - shared = { form: f, object: question, col: "md", pad: 4 }
        = render "utils/text_field_for", shared.merge(param: :kanji, text: t("vocab.kanji"), width: 4)
        = render "utils/text_field_for", shared.merge(param: :meaning, text: t("vocab.meaning"), width: 4)
        = f.hidden_field(:vocab_id, value: question.vocab.id)
        = f.hidden_field(:vocab_test_id, value: question.vocab_test.id)
      .row
        .col-md-offset-4.col-md-8
          = f.submit t("submit"), class: "btn btn-info"
