.row.top_margin
  .col-xs-12
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-xs-2= t("vocab.kanji")
          %th.col-xs-6= t("vocab.meaning")
          %th.col-xs-2= t("vocab.reading")
          %th.col-xs-1.text-center= t("vocab.audio")
          %th.col-xs-1
      %tbody
        - test.vocab_questions.each_with_index do |q, i|
          %tr
            %td= q.vocab.kanji
            %td= q.meaning_plus
            %td= q.reading
            %td.text-center
              - if q.reading_correct
                = render "vocabs/audio", vocab: q.vocab, autoplay: i == 0 && test_not_finished
            %td.text-center
              = t("symbol.#{q.meaning_correct ? 'tick' : 'cross'}")
              = t("symbol.#{q.reading_correct ? 'tick' : 'cross'}")
