.row.top_margin
  .col-xs-12
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-xs-8= t("vocab.meaning")
          %th.col-xs-2= t("vocab.kanji")
          %th.col-xs-1.text-center= t("vocab.audio")
          %th.col-xs-1
      %tbody
        - test.vocab_questions.each_with_index do |q, i|
          %tr
            %td= q.vocab.meaning
            %td= q.kanji
            %td.text-center
              - if q.answered_correctly?
                = render "vocabs/audio", vocab: q.vocab, autoplay: i == 0 && test_not_finished
            %td.text-center= t("symbol.#{q.kanji_correct ? 'tick' : 'cross'}")
