= render "utils/title", key: "vocab.test.tests"

.text-center
  = form_tag vocab_tests_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :order, t("order"), class: "sr-only"
      = select_tag :order, vocab_test_search_order_menu(params[:order]), class: "form-control auto-submit"
    .form-group
      = label_tag :category, t("vocab.test.category"), class: "sr-only"
      = select_tag :category, vocab_test_category_menu(params[:category], search: true), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-xs-12.col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-xs-7
            = t("vocab.level")
            = "/"
            = t("vocab.test.category")
          %th.col-xs-2.text-center= t("updated_at")
          %th.col-xs-1.text-center= t("total")
          %th.col-xs-1.text-center= t("vocab.test.progress_rate")
          %th.col-xs-1.text-center= t("vocab.test.hit_rate")
      %tbody{id: "results"}
        = render "results", tests: @tests

.text-center
  - if can?(:create, VocabTest)
    = link_to t("vocab.test.new"), new_vocab_test_path, class: "btn btn-info"
