= render "utils/title", key: "vocab.test.tests"

= form_tag vocab_tests_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :level, t("vocab.level"), class: "sr-only"
  = select_tag :level, vocab_level_menu(params[:level], search: true), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :category, t("vocab.test.category"), class: "sr-only"
  = select_tag :category, vocab_test_category_menu(params[:category], search: true), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :order, t("order"), class: "sr-only"
  = select_tag :order, vocab_test_search_order_menu(params[:order]), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.mt-3
  .offset-md-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr.d-flex
          %th.col-2.text-center= t("updated")
          %th.col-1= t("vocab.level")
          %th.col-4= t("vocab.test.category")
          %th.col-1.text-center= t("total")
          %th.col-2.text-center= t("vocab.test.progress_rate")
          %th.col-2.text-center= t("vocab.test.hit_rate")
      %tbody{id: "results"}
        = render "results", tests: @tests

- if can?(:create, VocabTest)
  .text-center
    = link_to t("vocab.test.new"), new_vocab_test_path, class: "btn btn-info"
