= render "utils/title", text: t("vocab.test.test")

%p.text-center
  %button.btn.btn-md.btn-default
    = t("vocab.test.#{@test.category}")
  %button.btn.btn-md.btn-default
    = t("vocab.level")
    = @test.level
  %button.btn.btn-md.btn-default
    = "#{@test.correct}/#{@test.total} (#{@test.progress_rate}%)"
  %button.btn.btn-md.btn-default
    = "#{@test.correct}/#{@test.attempts} (#{@test.hit_rate}%)"

- if @next_question
  %hr
  = render "next_question_#{@test.category}", question: @next_question

%hr
= render "questions_#{@test.category}", test: @test, test_not_finished: @next_question.present?

%hr
.text-center
  = link_to t("vocab.test.tests"), vocab_tests_path, class: "btn btn-success"
  - if can?(:manage, VocabTest)
    = link_to t("delete"), @test, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
