.row
  .col-md-offset-2.col-md-8
    = form_for [commentable, comment], html: { class: "form-horizontal", role: "form" } do |f|
      - if comment.new_record?
        = f.hidden_field :commentable_type
        = f.hidden_field :commentable_id
      %fieldset
        - shared = { form: f, object: comment, col: "md", pad: 2 }
        = render "utils/text_field_for", shared.merge(param: :date, text: t("date"), width: 3)
        = render "utils/text_field_for", shared.merge(param: :source, text: t("comment.source"), width: 4)
        = render "utils/text_area_for", shared.merge(param: :text, text: t("comment.text"), width: 8)
      .row
        .col-md-offset-2.col-md-10
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), commentable, class: "btn btn-default"
          - unless comment.new_record?
            = link_to t("delete"), [commentable, comment], class: "btn btn-danger", method: :delete, data: { confirm: "Sure?" }
