.panel.panel-default
  .panel-heading
    = comment.date.strftime(date_format)
    = t("separator")
    = comment.source
    - if can?(:edit, comment)
      .pull-right
        = link_to t("edit"), edit_polymorphic_path([commentable, comment]), class: "btn btn-info btn-xs"
  .panel-body= comment.html
