%tr
  %td= link_to person.name(reversed: !%w/first known/.include?(params[:order]), full: true, with_married_name: true), person, "data-turbo-frame" => "_top"
  %td.text-center= t("person.symbol.#{ person.male ? '' : 'fe' }male")
  %td.text-center= person.born_plus
  %td.text-center= person.died_plus
