= render "utils/title", key: "person.people"

.text-center
  = form_tag people_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :last_name, t("person.last_name"), class: "sr-only"
      = text_field_tag :last_name, params[:last_name], class: "form-control", placeholder: t("person.last_name"), size: 10
    .form-group
      = label_tag :last_name, t("person.first_names"), class: "sr-only"
      = text_field_tag :first_names, params[:first_names], class: "form-control", placeholder: t("person.first_names"), size: 10
    .form-group
      = label_tag :born, t("person.born"), class: "sr-only"
      = text_field_tag :born, params[:born], class: "form-control", placeholder: t("person.born"), size: 4
    .form-group
      = label_tag :gender, t("person.gender"), class: "sr-only"
      = select_tag :gender, person_gender_search_menu(params[:gender]), class: "form-control auto-submit"
    .form-group
      = label_tag :gender, t("order"), class: "sr-only"
      = select_tag :order, person_search_order_menu(params[:order]), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"

%p

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("name")
          %th.text-center.col-md-1= t("person.born")          
      %tbody{id: "results"}
        = render "results", people: @people

.text-center
  - if can?(:create, Person)
    = link_to t("person.new"), new_person_path, class: "btn btn-info"
