= render "utils/title", text: @person.name(full: false), header: true
- content_for :javascript do
  = render "autocompleter.js", id: @person.id

.row
  .col-xs-offset-0.col-xs-12.col-sm-offset-1.col-sm-10.col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("person.last_name")
          %td= @person.last_name
        %tr
          %th= t("person.first_names")
          %td= @person.first_names
        %tr
          %th= t("person.known_as")
          %td= @person.known_as
        - if @person.married_name
          %tr
            %th= t("person.married_name")
            %td= @person.married_name
        %tr
          %th= t("person.gender")
          %td= t("person.#{@person.male ? '' : 'fe'}male")
        %tr
          %th= t("person.born")
          %td= @person.born
        - if @person.died.present?
          %tr
            %th= t("person.died")
            %td= @person.died
        - if @person.father.present?
          %tr
            %th= t("person.father")
            %td= link_to @person.father.name(full: false), @person.father
        - if @person.mother.present?
          %tr
            %th= t("person.mother")
            %td= link_to @person.mother.name(full: false), @person.mother
        = render "people", people: @person.siblings, label: t("person.siblings")
        = render "people", people: @person.partners, label: t("person.partners")
        = render "people", people: @person.children, label: t("person.children")
        %tr
          %th= t("person.relationship_to")
          %td.form-inline
            .input-group.input-group-sm
              = text_field_tag :term, "", class: "form-control", placeholder: t("person.complete_name"), size: 25
            = "&nbsp;&nbsp;".html_safe
            %span#relative

= render "pictures/results", pictures: @person.pictures

%p

- if @person.notes.present?
  .panel.panel-default
    .panel-heading
      = t("notes")
    .panel-body= @person.notes_html

%p

.text-center
  - if can?(:manage, Person)
    = link_to t("edit"), edit_person_path(@person), class: "btn btn-info"
  = link_to t("person.people"), people_path, class: "btn btn-success"
  = link_to t("picture.pictures"), pictures_path, class: "btn btn-success"
