= render "utils/title", text: @person.name(full: false)

.row
  %div{class: center(sm: 10, md: 8)}
    %section
      .header.text-center
        %h3= @person.name(full: false)
      - if @person.pictures.count > 0
        .body
          = render "pictures/results", pictures: @person.pictures
      .body.border-top
        .btn-toolbar.justify-content-center
          .btn-group.me-1
            = link_to t("person.tree"), tree_people_path(id: @person.id), class: "green-btn"
            = link_to t("person.people"), last_search(people_path), class: "green-btn"
            = link_to t("picture.pictures"), last_search(pictures_path), class: "green-btn"
          .btn-group.me-1
            - if can?(:manage, Person)
              = link_to t("edit"), edit_person_path(@person), class: "blue-btn"
            - if can?(:create, Picture)
              = link_to t("picture.new"), new_picture_path(person_id: @person.id), class: "blue-btn"
            - if can?(:create, Partnership)
              = link_to t("partnership.new"), new_partnership_path(person_id: @person.id), class: "blue-btn"
        %table{class: "table table-bordered table-sm mt-3"}
          %tbody
            %tr
              %th= t("person.last_name")
              %td= @person.last_name
            %tr
              %th= t("person.first_names")
              %td= @person.first_names
            %tr
              %th= t("person.known_as")
              %td= @person.known_as
            - if @person.married_name
              %tr
                %th= t("person.married_name")
                %td= @person.married_name
            %tr
              %th= t("person.gender")
              %td= t("person.#{@person.male ? '' : 'fe'}male")
            %tr
              %th= t("person.born")
              %td= @person.born_plus
            - if @person.died.present?
              %tr
                %th= t("person.died")
                %td= @person.died_plus
            - if @person.father.present?
              %tr
                %th= t("person.father")
                %td= link_to @person.father.name(full: false), @person.father
            - if @person.mother.present?
              %tr
                %th= t("person.mother")
                %td= link_to @person.mother.name(full: false), @person.mother
            = render "people", people: @person.siblings, label: t("person.siblings")
            = render "partners", partnerships: @person.partnerships, male: @person.male, label: t("person.partners")
            = render "people", people: @person.children, label: t("person.children")
            %tr
              %th= t("person.realm")
              %td= t("person.realms")[@person.realm]
            %tr{id: "relationship_row"}
              %th= t("person.relationship_to")
              %td
                .input-group.input-group-sm
                  = text_field_tag :term, "", class: "form-control", placeholder: t("search"),
                    "data-controller" => "autocomplete--relationship",
                    "data-autocomplete--relationship-person-id-value" => @person.id
            - if @person.sensitive.present? && current_user.admin?
              %tr
                %td.note{colspan: 2}= @person.combined_html
            - elsif @person.notes.present?
              %tr
                %td.note{colspan: 2}= @person.notes_html
