= render "utils/title", text: @person.name

.row
  .col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.col-md-offset-3.col-md-6
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("person.last_name")
          %td= @person.last_name
        %tr
          %th= t("person.first_names")
          %td= @person.first_names
        %tr
          %th= t("person.known_as")
          %td= @person.known_as
        %tr
          %th= t("person.gender")
          %td= t("person.#{@person.male ? '' : 'fe'}male")
        %tr
          %th= t("person.born")
          %td= @person.born
        - if @person.died.present?
          %tr
            %th= t("person.died")
            %td= @person.died
        - if @person.father.present?
          %tr
            %th= t("person.father")
            %td= link_to @person.father.name(full: false), @person.father
        - if @person.mother.present?
          %tr
            %th= t("person.mother")
            %td= link_to @person.mother.name(full: false), @person.mother

.margin_bottom
  = render "pictures/results", pictures: @person.pictures

%p

- if @person.notes.present?
  .panel.panel-default
    .panel-heading
      = t("notes")
    .panel-body= @person.notes_html

%p

- if can?(:manage, Person)
  .text-center.margin_top
    = link_to t("edit"), edit_person_path(@person), class: "btn btn-info"
