= render "utils/title", key: "person.family_tree"

- content_for :javascript do
  = render "people/tree_elm.min.js"

#elm

%p

.form-inline.text-center
  %span.input-group.input-group-sm
    = text_field_tag :term, "", class: "form-control", placeholder: t("search"), size: 30

%p
  %a{id: "toggler", href: "#", onclick: "toggle_help()"} Help
%div{id: "help", style: "display: none"}
  %ul
    %li The parents, partners and children of <b>one person at a time</b> are shown (the name of the person currently in focus is in <b>bold</b>).
    %li To <b>change focus</b> either <b>click</b> on a parent, partner or child or <b>search</b> for names in the box just above this help.
    %li To cycle through <b>partners</b> of the focus (when more than 1) click the <b>number/total</b> box (e.g. "<em>1 of 3</em>", "<em>2 of 3</em>", etc.).
    %li Clicking the name or picture of the focus exits the tree; it goes to their <b>details page</b>.

= javascript_tag do
  = render "tree.js", person: @person
