= render "utils/title", key: "person.family_tree"

- content_for :javascript do
  = render "people/tree_elm.min.js"

.row
  .col-md-12
    #elm

%p

.row
  .col-md-12
    .form-inline.text-center
      %span.input-group.input-group-sm
        = text_field_tag :term, "", class: "form-control", placeholder: t("search"), size: 30

= javascript_tag do
  = render "tree.js", person: @person
