= render "utils/title", key: "person.family_tree"

- content_for :javascript do
  = render "people/tree_elm.min.js"

#elm

%p

.form-inline.text-center
  %span.input-group.input-group-sm
    = text_field_tag :term, "", class: "form-control", placeholder: t("search"), size: 30

%p
  %a{id: "toggler", href: "#", onclick: "toggle_help()"} Help
%div{id: "help", style: "display: none"}
  %ul
    %li The parents, partners and children of <b>one person at a time</b> are shown (the name of the person currently in focus is in <b>bold</b>).
    %li To <b>change focus</b> either <b>click</b> on a parent, partner or child or <b>search</b> for names in the box just above this help.
    %li To see <b>other partners</b> (if more than 1) and their children then click the <b>number/total box</b> (e.g. "<em>1</em> of <em>2</em>").
    %li Click the person in focus to leave the tree and go to their <b>details page</b>.

= javascript_tag do
  = render "tree.js", person: @person
