= render "utils/title", key: "vocab.radicals"

= form_tag radicals_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :q, t("vocab.radical"), class: "sr-only"
  = text_field_tag :q, params[:q], class: "form-control mr-1 mb-1", placeholder: t("vocab.radical"), size: 16, autofocus: true
  = label_tag :level, t("vocab.level"), class: "sr-only"
  = select_tag :level, radical_search_level_menu(params[:level]), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :old, t("vocab.old_meaning"), class: "sr-only"
  = select_tag :old, radical_old_meaning_menu(params[:old]), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :order, t("order"), class: "sr-only"
  = select_tag :order, radical_search_order_menu(params[:order]), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"

.row
  .offset-lg-1.col-lg-10.offset-xl-2.col-xl-8
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr.d-flex
          %th.col-1.text-center= t("vocab.radical")
          %th.col-3= t("vocab.meaning")
          %th.col-1.text-center= t("vocab.level")
          %th.col-1.text-center= t("vocab.kanji")
          %th.col-5= t("vocab.meaning")
          %th.col-1.text-center= t("vocab.level")
      %tbody{id: "results"}
        = render "results", radicals: @radicals
