%tr
  %td= link_to station.display_name, station, "data-turbo-frame" => "_top"
  %td= station.postcode
  %td= station.address
  %td.text-center= station.latest_price&.price_display
  %td.text-center= station.latest_price&.price_delta_display
