- readings.matches.each do |reading|
  %tr
    %td.col-xs-1.text-center= link_to reading.kana, reading
    %td.col-xs-1.text-center= reading.total
    %td.col-xs-4= render "symbols", yomis: reading.yomis.select{ |y| y.on }
    %td.col-xs-1.text-center= reading.onyomi
    %td.col-xs-4= render "symbols", yomis: reading.yomis.select{ |y| !y.on }
    %td.col-xs-1.text-center= reading.kunyomi
= render "utils/pagination_links", pager: readings, columns: 6
