= render "vocabs/multi_search"

= render "utils/title", text: @reading.kana, header: true

.row
  .offset-md-1.col-md-10
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr.d-flex
          %td.col-2.col-lg-1.text-center= t("vocab.kanji")
          %td.col-5.col-lg-5.text-center= t("vocab.onyomi")
          %td.col-5.col-lg-6.text-center= t("vocab.kunyomi")
      %tbody
        = render "kanjis", kanjis: @reading.on_kanjis, skip_link: @reading.kana
        = render "kanjis", kanjis: @reading.kun_kanjis, skip_link: @reading.kana

.text-center
  = link_to t("vocab.readings"), readings_path, class: "btn btn-success"
  = link_to t("vocab.kanjis"), kanjis_path, class: "btn btn-success"
