:ruby
  lo = Layout.new(xs: [3,3,3,3]).to_a
  inputs = [
    [:date,    t("date"),     :text,   lo[0]],
    [:email,   t("email"),    :text,   lo[1]],
    [:ip,      t("login.ip"), :text,   lo[2]],
    [:success, t("login.ip"), :select, lo[3], menu: login_success_menu(params[:success])],
  ]

= render "utils/title", key: "login.logins"

.row
  %div{class: center(xl: 6, lg: 8, md: 10)}
    %section
      .header.text-center
        %h3= t("login.logins")
      .body
        = render "utils/search/form", index: logins_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %tbody
              = render partial: "login", collection: @logins.matches
              = render "utils/pagination_links", pager: @logins, columns: 4
