= render "utils/title", key: "opening.openings"

= form_tag openings_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :q, t("query"), class: "sr-only"
  = text_field_tag :q, params[:q], class: "form-control mr-1 mb-1", placeholder: t("query"), size: 16
  = button_tag t("search"), type: "submit", class: "btn btn-success"

%table{class: "table table-bordered table-striped table-sm mt-3"}
  %thead
    %tr
      %th.text-center= t("opening.code")
      %th= t("description")
  %tbody{id: "results"}
    = render "results", openings: @openings

- if can?(:create, Opening)
  .text-center
    = link_to t("opening.new"), new_opening_path, class: "btn btn-info"
