= render "utils/title", text: @opening.code

.offset-md-1.col-md-10.offset-xl-2.col-xl-8
  .card
    .card-header= @opening.code
    .card-body= @opening.description

.text-center.mt-3
  - if can?(:update, @opening)
    = link_to t("edit"), edit_opening_path(@opening), class: "btn btn-info"
  = link_to t("opening.openings"), openings_path, class: "btn btn-success"
