:ruby
  lo = Sni::Layout.call(xl: [2,2,2], md: [3,2,3], xs: [4,2,4])
  inputs = [
    [:query, t("query"),         :text,   lo[0], placeholder: t("search"), autofocus: true],
    [:level, t("grammar.level"), :select, lo[1], menu: grammar_level_menu(params[:level])],
    [:order, t("order"),         :select, lo[2], menu: grammar_order_menu(params[:order])],
  ]

= render "utils/title", key: "grammar.grammar"

%section
  .header.text-center
    %h3= t("grammar.grammar")
  .body
    = render "utils/search/form", index: grammars_path, inputs: inputs
    .row
      %div{class: Sni::Center.call(md: 10, lg: 8, xl: 6)}
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th= t("grammar.ref")
                %th= t("grammar.title")
                %th.text-center= t("grammar.examples")
                %th.text-center= t("grammar.level")
            %tbody
              = render partial: "grammar", collection: @grammars.matches
              = render "utils/pagination_links", pager: @grammars, columns: 4
  - if can?(:create, Grammar)
    .footer
      = link_to t("grammar.new"), new_grammar_path, class: "blue-btn"
      = link_to t("grammar.group.groups"), grammar_groups_path, class: "green-btn"
