= render "utils/title", text: @grammar.title

- content_for :javascript do
  = render partial: "level_update", formats: :js, locals: { id: @grammar.id }

.row
  %div{class: center(lg: 10, xx: 8)}
    %section
      .header
        %h5.d-inline
          = @grammar.ref
          = @grammar.title
        .float-end
          - if @prev
            = link_to t("symbol.prev"), @prev
          %span#level
            = render "level", level: @grammar.level
          - if @next
            = link_to t("symbol.next"), @next
      .body
        %article= @grammar.note_html
        - unless @examples.empty?
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %td= t("wk.example.japanese")
                %td= t("wk.example.english")
                %td
                %td
            %tbody
              - @examples.each do |example|
                %tr{id: "example-#{example.id}"}
                  %td= example.japanese_html
                  %td= example.english
                  %td.text-center= link_to t("symbol.cross"), remove_example_grammar_path(example_id: example.id), remote: true, method: :delete, class: "btn btn-warning btn-sm"
                  %td.text-center= link_to t("edit"), edit_wk_example_path(example, return_page: grammar_path(@grammar)), class: "btn btn-primary btn-sm"
      .footer
        = link_to t("grammar.grammar"), grammars_path, class: "btn btn-success btn-sm"
        - if can?(:create, Wk::Example)
          = link_to t("wk.example.new"), new_wk_example_path(return_page: grammar_path(@grammar)), class: "btn btn-primary btn-sm"
        - if can?(:edit, @grammar)
          = link_to t("edit"), edit_grammar_path(@grammar), class: "btn btn-primary btn-sm"
        - if can?(:delete, @grammar)
          = link_to t("delete"), @grammar, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: t("sure") }
