.row
  .offset-md-1.col-md-11
    = form_for conversation, html: { class: "form-horizontal" } do |f|
      - shared = { form: f, object: conversation, col: "md", pad: 1, width: 9}
      = render "utils/text_field_for", shared.merge(param: :title, text: t("conversation.title"))
      = render "utils/text_field_for", shared.merge(param: :audio, text: t("conversation.audio"), width: 4)
      = render "utils/text_area_for", shared.merge(param: :story, text: t("conversation.story"), rows: 40)
      .row
        .offset-md-1.col-md-11
          = f.submit t("save"), class: "btn btn-primary"
          = link_to t("cancel"), conversation.new_record?? conversations_path : conversation, class: "btn btn-secondary"
          - unless conversation.new_record?
            = link_to t("delete"), conversation, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
