= render "utils/title", key: "conversation.conversations"

.text-center
  = form_tag conversations_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :q, t("query"), class: "sr-only"
      = text_field_tag :q, params[:q], class: "form-control", size: 16
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-xs-offset-1.col-xs-10
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-xs-4= t("conversation.title")
          %th.col-xs-7= t("conversation.story")
          %th.col-xs-1.text-center= t("conversation.audio")
      %tbody{id: "results"}
        = render "results", conversations: @conversations

.text-center.top_margin
  - if can?(:create, Conversation)
    = link_to t("conversation.new"), new_conversation_path, class: "btn btn-info"
