= render "utils/title", key: "conversation.conversations"

= form_tag conversations_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :q, t("query"), class: "sr-only"
  = text_field_tag :q, params[:q], class: "form-control mr-1 mb-1", placeholder: t("search"), size: 16, autofocus: true
  = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.mt-3
  .offset-1.col-10.offset-md-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("conversation.title")
          %th= t("conversation.story")
          %th.text-center= t("conversation.audio")
      %tbody{id: "results"}
        = render "results", conversations: @conversations

- if can?(:create, Conversation)
  .text-center
    = link_to t("conversation.new"), new_conversation_path, class: "btn btn-info"
