= render "utils/title", text: @conversation.title

.panel{class: "panel-default"}
  .panel-heading
    %b= @conversation.title
    .pull-right
      = render "audio", conversation: @conversation
  .panel-body
    ~ @conversation.story_html

.text-center.top_margin
  = link_to t("conversation.conversations"), conversations_path, class: "btn btn-success"
  - if can?(:edit, Blog)
    = link_to t("edit"), edit_conversation_path(@conversation), class: "btn btn-info"
  - if can?(:delete, Blog)
    = link_to t("delete"), @conversation, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
