= render "utils/title", text: @conversation.title

.card{class: "panel-default"}
  .card-header
    %b= @conversation.title
    .float-right
      = render "audio", conversation: @conversation
  .card-body
    ~ @conversation.story_html

.text-center.mt-3
  = link_to t("conversation.conversations"), conversations_path, class: "btn btn-success"
  - if can?(:edit, Conversation)
    = link_to t("edit"), edit_conversation_path(@conversation), class: "btn btn-info"
  - if can?(:delete, Conversation)
    = link_to t("delete"), @conversation, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
  - if @prev
    = link_to t("symbol.prev"), @prev, class: "btn btn-success"
  - if @next
    = link_to t("symbol.next"), @next, class: "btn btn-success"
