= link_to "WK", "https://www.wanikani.com/vocabulary/#{kanji}", class: "btn btn-primary btn-sm external-link", target: "wanikani"
= link_to "JS", "https://jisho.org/search/#{kanji}", class: "btn btn-success btn-sm external-link", target: "jisho"
= link_to "FV", "https://forvo.com/search/#{kanji}/", class: "btn btn-info btn-sm external-link", target: "forvo"
= link_to "JD", "https://www.japandict.com/#{kanji}", class: "btn btn-danger btn-sm external-link", target: "jdict"
= link_to "SR", "https://suiren.io/words/#{kanji}", class: "btn btn-warning btn-sm external-link", target: "suiren"
= link_to "OJ", "https://www.gavo.t.u-tokyo.ac.jp/ojad/eng/search/index/word:#{kanji}", class: "btn btn-danger btn-sm external-link", target: "ojad"
