= link_to "WK", "https://www.wanikani.vocabulary/#{kanji}", class: "btn btn-primary btn-sm external-link", target: "wanikani"
= link_to "JS", "http://jisho.org/search/#{kanji}", class: "btn btn-success btn-sm external-link", target: "jisho"
= link_to "SR", "http://suiren.io/words/#{kanji}", class: "btn btn-warning btn-sm external-link", target: "suiren"
