.row
  .col-md-12
    = form_for vocab, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        - shared = { form: f, object: vocab, col: "md", pad: 2 }
        = render "utils/text_field_for", shared.merge(param: :audio, text: t("vocab.audio"), width: 7)
        = render "utils/text_field_for", shared.merge(param: :reading, text: t("vocab.reading"), width: 4)
        = render "utils/text_field_for", shared.merge(param: :kanji, text: t("vocab.kanji"), width: 4)
        = render "utils/text_field_for", shared.merge(param: :meaning, text: t("vocab.meaning"), width: 7)
        = render "utils/text_field_for", shared.merge(param: :category, text: t("vocab.category"), width: 5)
        = render "utils/text_field_for", shared.merge(param: :level, text: t("vocab.level"), width: 1)
      .row
        .col-md-offset-4.col-md-8
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), vocab.new_record?? vocabs_path : vocab, class: "btn btn-default"
          - unless vocab.new_record?
            = link_to t("delete"), vocab, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
