- homonyms.matches.each do |homonym|
  %tr
    %td= link_to homonym.kanji, homonym
    %td= homonym.reading_with_accent
    %td= homonym.meaning
    %td= homonym.category
    %td.text-center= homonym.level
    %td.text-center= render "audio", vocab: homonym, color_id: homonym.color_id, ojad: true
= render "utils/pagination_links", pager: homonyms, columns: 6
