- defined?(vocab)   || vocab = true
- defined?(kanji)   || kanji  = true
- defined?(reading) || reading  = true

.row
  .offset-lg-2.col-lg-8
    .row
      - if vocab
        .col
          = form_tag vocabs_path, method: :get, class: "form-inline justify-content-center" do
            = label_tag :qv, t("vocab.vocab"), class: "sr-only"
            = text_field_tag :qv, params[:qv], class: "form-control", placeholder: t("vocab.vocab"), size: 14
      - if kanji
        .col
          = form_tag kanjis_path, method: :get, class: "form-inline justify-content-center" do
            = label_tag :qk, t("vocab.kanji"), class: "sr-only"
            = text_field_tag :qk, params[:qk], class: "form-control", placeholder: t("vocab.kanji"), size: 14
      - if reading
        .col
          = form_tag readings_path, method: :get, class: "form-inline justify-content-center" do
            = label_tag :qr, t("vocab.reading"), class: "sr-only"
            = text_field_tag :qr, params[:qr], class: "form-control", placeholder: t("vocab.reading"), size: 14

%hr
