- vocabs.matches.each do |vocab|
  %tr
    %td= link_to vocab.kanji, vocab
    %td= vocab.reading
    %td= vocab.meaning
    %td= vocab.category
    %td.text-center= vocab.level
    %td.text-center= render "audio", vocab: vocab, ojad: true
= render "utils/pagination_links", pager: vocabs, columns: 6
