- vocabs.matches.each do |vocab|
  %tr
    %td= link_to vocab.kanji, vocab
    %td= vocab.kana
    %td= vocab.meaning
    %td.text-center= render "audio", vocab: vocab
= render "utils/pagination_links", pager: vocabs, columns: 4
