= render "utils/title", key: "vocab.homonyms"

.text-center
  = form_tag homonyms_vocabs_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :q, t("search"), class: "sr-only"
      = text_field_tag :q, params[:q], class: "form-control", placeholder: t("search"), size: 16, autofocus: true
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-xs-12
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-xs-1= t("vocab.kanji")
          %th.col-xs-2= t("vocab.reading")
          %th.col-xs-4= t("vocab.meaning")
          %th.col-xs-3= t("vocab.category")
          %th.col-xs-1.text-center= t("vocab.level")
          %th.col-xs-1.text-center= t("vocab.audio")
      %tbody{id: "results"}
        = render "homonym_results", homonyms: @homonyms
