= render "utils/title", key: "vocab.vocabs"

.text-center
  = form_tag vocabs_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :q, t("query"), class: "sr-only"
      = text_field_tag :q, params[:q], class: "form-control", placeholder: t("query"), size: 16
    .form-group
      = label_tag :order, t("order"), class: "sr-only"
      = select_tag :order, vocab_search_order_menu(params[:order]), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-xs-12
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-xs-1= t("vocab.kanji")
          %th.col-xs-2= t("vocab.reading")
          %th.col-xs-4= t("vocab.meaning")
          %th.col-xs-3= t("vocab.category")
          %th.col-xs-1.text-center= t("vocab.level")
          %th.col-xs-1.text-center= t("vocab.audio")
      %tbody{id: "results"}
        = render "results", vocabs: @vocabs

.text-center
  - if can?(:create, Vocab)
    = link_to t("vocab.new"), new_vocab_path, class: "btn btn-info"
