= render "utils/title", text: @vocab.kanji, header: true

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("vocab.audio")
          %td= render "audio", vocab: @vocab
        %tr
          %th= t("vocab.reading")
          %td= @vocab.reading
        %tr
          %th= t("vocab.kanji")
          %td= @vocab.kanji
        %tr
          %th= t("vocab.meaning")
          %td= @vocab.meaning
        %tr
          %th= t("vocab.category")
          %td= @vocab.category
        %tr
          %th= t("vocab.level")
          %td= @vocab.level
        - if @vocab.verb
          %tr
            %th= t("verb.verb")
            %td= link_to @vocab.verb.kanji, @vocab.verb

.text-center
  = link_to t("vocab.vocabs"), vocabs_path, class: "btn btn-success"
  - if can?(:manage, Vocab)
    = link_to t("edit"), edit_vocab_path(@vocab), class: "btn btn-info"
