= render "multi_search"

= render "utils/title", text: @vocab.kanji

%h1.text-center= @vocab.linked_kanji

.row.mt-3
  .offset-md-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("vocab.audio")
          %td= render "audio", vocab: @vocab
        %tr
          %th= t("vocab.reading")
          %td= @vocab.reading
        %tr
          %th= t("vocab.accent")
          %td
            = render "accent_pattern", vocab: @vocab
            = link_to t("vocab.ojad"), @vocab.ojad, class: "btn btn-info btn-sm", target: "ojad"
        %tr
          %th= t("vocab.kanji")
          %td= link_to_if @kanji, @vocab.kanji, @kanji
        %tr
          %th= t("vocab.meaning")
          %td= @vocab.meaning
        %tr
          %th= t("vocab.category")
          %td= @vocab.category
        %tr
          %th= t("vocab.level")
          %td= @vocab.level

.text-center
  = render "external_links", kanji: @vocab.kanji

- if @vocab.verb?
  .mt-3
    = render "conjugate", verb: @vocab

.text-center.mt-3
  = link_to t("vocab.vocabs"), vocabs_path, class: "btn btn-success"
  - if can?(:manage, Vocab)
    = link_to t("edit"), edit_vocab_path(@vocab), class: "btn btn-info"
