- flats.matches.each do |flat|
  %tr
    %td.text-center= link_to flat.address, flat
    %td.text-center= flat.block
    %td.text-center= flat.bay
    %td.text-center= flat.category
    %td.text-center= flat.name
= render "utils/pagination_links", pager: flats, columns: 5
