- flats.matches.each do |flat|
  %tr
    %td.text-center= link_to flat.address, flat
    %td.text-center= flat.block
    %td.text-center= flat.bay
    %td.text-center= flat.category
    %td.text-center= flat.name
    %td.text-center= link_to flat.owner.first_names, flat.owner if flat.owner
    %td.text-center= link_to flat.tenant.first_names, flat.tenant if flat.tenant
= render "utils/pagination_links", pager: flats, columns: 7
