= render "utils/title", key: "flat.flats", header: true

:ruby
  inputs = [
    [:building, t("flat.building"), :text,   size: 5],
    [:number,   t("flat.number"),   :text,   size: 5],
    [:block,    t("flat.block"),    :text,   size: 5],
    [:bay,      t("flat.bay"),      :text,   size: 5],
    [:category, t("flat.category"), :text,   size: 5],
    [:name,     t("flat.name"),     :text,   size: 5],
    [:order,    t("order"),         :select, menu: flat_search_order_menu(params[:order])],
  ]
= render "utils/search/form", index: flats_path, inputs: inputs

.row.mt-3
  .col-md-8.offset-md-2
    %table{class: "table table-bordered table-striped table-sm"}
      %thead
        %tr
          %th.text-center= t("flat.address")
          %th.text-center= t("flat.block")
          %th.text-center= t("flat.bay")
          %th.text-center= t("flat.category")
          %th.text-center= t("flat.name")
      %tbody{id: "results"}
        = render "results", flats: @flats

- if can?(:create, Flat)
  .text-center.mt3
    = link_to t("flat.new"), new_flat_path, class: "btn btn-info"
