= render "utils/title", key: "flat.flats", header: true

= content_for :javascript do
  = render "flats.js"

= form_tag flats_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :building, t("flat.building"), class: "sr-only"
  = text_field_tag :building, params[:building], class: "form-control mr-1 mb-1", placeholder: t("flat.building"), size: 5
  = label_tag :number, t("flat.number"), class: "sr-only"
  = text_field_tag :number, params[:number], class: "form-control mr-1 mb-1", placeholder: t("flat.number"), size: 5
  = label_tag :block, t("flat.block"), class: "sr-only"
  = text_field_tag :block, params[:block], class: "form-control mr-1 mb-1", placeholder: t("flat.block"), size: 5
  = label_tag :bay, t("flat.bay"), class: "sr-only"
  = text_field_tag :bay, params[:bay], class: "form-control mr-1 mb-1", placeholder: t("flat.bay"), size: 5
  = label_tag :category, t("flat.category"), class: "sr-only"
  = text_field_tag :category, params[:category], class: "form-control mr-1 mb-1", placeholder: t("flat.category"), size: 5
  = label_tag :name, t("flat.name"), class: "sr-only"
  = text_field_tag :name, params[:name], class: "form-control mr-1 mb-1", placeholder: t("flat.name"), size: 5
  = label_tag :order, t("order"), class: "sr-only"
  = select_tag :order, flat_search_order_menu(params[:order]), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"
  = link_to t("reset"), "#", class: "btn btn-success mr-1 mb-1", id: "reset"

.row.mt-3
  .col-md-8.offset-md-2
    %table{class: "table table-bordered table-striped table-sm"}
      %thead
        %tr
          %th.text-center= t("flat.address")
          %th.text-center= t("flat.block")
          %th.text-center= t("flat.bay")
          %th.text-center= t("flat.category")
          %th.text-center= t("flat.name")
      %tbody{id: "results"}
        = render "results", flats: @flats

- if can?(:create, Flat)
  .text-center.mt3
    = link_to t("flat.new"), new_flat_path, class: "btn btn-info"
