= render "utils/title", text: t("flat.flat"), header: true

.row
  .offset-md-3.col-md-6
    %table{class: "table table-bordered table-striped table-sm"}
      %tbody
        %tr
          %th= t("flat.building")
          %td= @flat.building
        %tr
          %th= t("flat.number")
          %td= @flat.number
        %tr
          %th= t("flat.block")
          %td= @flat.block
        %tr
          %th= t("flat.bay")
          %td= @flat.bay
        %tr
          %th= t("flat.category")
          %td= @flat.category
        %tr
          %th= t("flat.name")
          %td= @flat.name
        %tr
          %th= t("flat.owner")
          %td= link_to @flat.owner.name, @flat.owner if @flat.owner
        %tr
          %th= t("flat.tenant")
          %td= link_to @flat.tenant.name, @flat.tenant if @flat.tenant
        %tr
          %th= t("flat.landlord")
          %td= link_to @flat.landlord.name, @flat.landlord if @flat.landlord

= render "residents/bottom_links", focus: :flat, flat: @flat

- if @flat.notes.present?
  .card.mt-3
    .card-header
      = t("notes")
    .card-body= @flat.notes_html
