= render "utils/title", key: "problem.problems"

:ruby
  inputs = [
    [:level,       t("problem.level"),       :select, menu: problem_level_menu(params[:level], search: true)],
    [:category,    t("problem.category"),    :select, menu: problem_category_menu(params[:category], search: true)],
    [:subcategory, t("problem.subcategory"), :select, menu: problem_subcategory_menu(params[:subcategory], search: true)],
    [:question,    t("question.question"),    :text,   size: 16, value: params[:quuestion]],
  ]
= render "utils/search/form", index: problems_path, inputs: inputs

.row.mt-3
  .col-md-10.offset-md-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("problem.description")
          %th
      %tbody{id: "results"}
        = render "results", problems: @problems

- if can?(:create, Problem)
  .text-center.mt3
    = link_to t("problem.new"), new_problem_path, class: "btn btn-info"
