= render "utils/title", text: @problem.description

.card
  .card-header
    = @problem.description
    .float-right
      - if @last
        = link_to t("problem.icons.last"), @last
      - if @next
        = link_to t("problem.icons.next"), @next
  .card-body= @problem.note_html

.text-center.mt-3
  = link_to t("problem.problems"), problems_path, class: "btn btn-success"
  - if can?(:edit, Problem)
    = link_to t("edit"), edit_problem_path(@problem), class: "btn btn-info"
