= render "utils/title", text: @problem.description

- content_for :javascript do
  = render "questions/answers.js"

.card
  .card-header
    = @problem.description
    .float-right
      = link_to_if @last, t("problem.icons.last"), controller: "problems", action: "show", id: @last, pids: @pids
      = link_to_if @next, t("problem.icons.next"), controller: "problems", action: "show", id: @next, pids: @pids
      = "#{@number} of #{@count}"
      - if can?(:create, Question)
        = link_to t("question.icons.new"), new_question_path(problem_id: @problem.id), class: "badge badge-info"
      - if can?(:edit, @problem)
        = link_to t("problem.icons.edit"), edit_problem_path(@problem), class: "badge badge-info"
  - if @problem.audio.present?
    .card-body.text-center
      %audio{controls: "true"}
        %source{src: @problem.audio_path, type: @problem.audio_type}
  - if @problem.note.present?
    .card-body= @problem.note_html

#question.mt-3
  - if @question
    = render "questions/show", question: @question
