-# custom version of utils/crud/_form
.row
  %div{class: Sni::Center.call(xl: 10)}
    = form_for vocab, html: { class: "crud" } do |form|
      %section
        .header.text-center
          %h3.d-inline= vocab.characters
        .body
          -# custom version of utils/crud/_area
          = form.label :notes, t("notes"), class: "form-label"
          = form.text_area :notes, rows: 20, class: "form-control"
        .footer
          -# custom version of utils/crud/_buttons
          = form.submit t("save"), class: "blue-btn"
          = link_to t("cancel"), vocab, class: "gray-btn"
