%tr.d-flex
  %th.col-1= t("wk.short.characters")
  %th.col-2= t("wk.reading")
  %th.col-1.text-center= t("wk.vocab.audio")
  %th.col-4= t("wk.meaning")
  %th.col-3= t("wk.vocab.parts")
  %th.col-1.text-center= t("wk.level")
