- vocabs.each do |vocab|
  %tr.d-flex
    %td.col-1= link_to vocab.characters, vocab
    %td.col-2= vocab.reading
    %td.col-1.text-center= render "wk/readings/audio", reading: vocab.readings.first, max: 1
    %td.col-4= vocab.meaning.truncate(40)
    %td.col-3= vocab.parts_of_speech.truncate(30)
    %td.col-1.text-center= vocab.level
