:ruby
  lo = Layout.new(
    lg: [2,2,1,2,1,2],
    md: [[3,3,2],[3,1,2]],
    xs: [[4,3,3],[4,3,3]],
  ).to_a
  inputs = [
    [:vquery, t("wk.vocab.vocab"), :text,   lo[0], placeholder: t("wk.vocab.vocab")],
    [:notes,  t("wk.vocab.notes"), :text,   lo[1], placeholder: t("wk.vocab.notes")],
    [:level,  t("wk.level"),       :select, lo[2], menu: wk_level_menu(params[:level])],
    [:parts,  t("wk.vocab.parts"), :select, lo[3], menu: wk_vocab_parts_menu(params[:parts]), multiple: true, size: 4],
    [:id,     t("wk.id"),          :text,   lo[4], placeholder: t("wk.short.id")],
    [:order,  t("order"),          :select, lo[5], menu: wk_vocab_order_menu(params[:order])],
  ]

= render "utils/title", key: "wk.vocab.vocabs"
= render "wk/readings/utils"

%section
  .header.text-center
    %h3= t("wk.vocab.vocabs")
  .body
    = render "utils/search/form", index: wk_vocabs_path, inputs: inputs, remote: false
    %table{class: "table table-bordered table-sm mt-3"}
      %thead
        = render "table_header"
      %tbody#accent_updates
        = render "table_rows", vocabs: @vocabs.matches
        = render "utils/pagination_links", pager: @vocabs, columns: 4
  .footer
    = link_to t("wk.radical.radicals"), last_search(wk_radicals_path), class: "btn btn-success btn-sm"
    = link_to t("wk.kanji.kanjis"), last_search(wk_kanjis_path), class: "btn btn-success btn-sm"
    = link_to t("wk.example.examples"), last_search(wk_examples_path), class: "btn btn-success btn-sm"
    = link_to t("wk.group.groups"), last_search(wk_groups_path), class: "btn btn-success btn-sm"
