= render "quick_accent_updates"
= render "utils/title", text: @vocab.characters

%h1.text-center= @vocab.linked_characters

%table{class: "table table-bordered"}
  %tbody
    %tr.d-flex
      %td.col-3= t("wk.meaning")
      %td.col-9= @vocab.meaning
    %tr.d-flex
      %td.col-3= t("wk.reading")
      %td.col-9= @vocab.reading
    %tr.d-flex#accent_updates
      %td.col-3= t("wk.vocab.audio")
      %td.col-9= render "audio", vocab: @vocab
    %tr.d-flex
      %td.col-3= t("wk.vocab.parts")
      %td.col-9= @vocab.parts_of_speech
    %tr.d-flex
      %td.col-3= t("wk.hint.meaning")
      %td.col-9= @vocab.meaning_mnemonic.html_safe
    %tr.d-flex
      %td.col-3= t("wk.hint.reading")
      %td.col-9= @vocab.reading_mnemonic.html_safe
    - pairs = @vocab.pairs
    - unless pairs.empty?
      %tr.d-flex
        %td.col-3= [t("wk.verb_pair.#{@vocab.transitive? ? 'in' : ''}transitive"), t("wk.verb_pair.partner#{pairs.size > 1 ? 's' : ''}")].join(" ")
        %td.col-9
          - pairs.each do |pair|
            - vocab = @vocab.transitive? ? pair.intransitive : pair.transitive
            = link_to vocab.characters, vocab
            = precede("(") do
              = succeed(")") do
                = t("wk.verb_pair.categories.#{pair.category}", locale: "jp")
    %tr.d-flex
      %td.col-3= t("wk.level")
      %td.col-9= @vocab.level
    %tr.d-flex
      %td.col-3= t("wk.id")
      %td.col-9= @vocab.wk_id
    %tr.d-flex
      %td.col-3= t("wk.last_updated")
      %td.col-9= @vocab.last_updated
    - if @vocab.notes.present?
      %tr.d-flex
        %td.col-12{colspan: 2}= @vocab.notes_html

.text-center
  - if can?(:manage, Wk::Vocab)
    = link_to t("edit"), edit_wk_vocab_path(@vocab), class: "btn btn-info"
  = link_to t("wk.radical.radicals"), wk_radicals_path, class: "btn btn-success"
  = link_to t("wk.kanji.kanjis"), wk_kanjis_path, class: "btn btn-success"
  = link_to t("wk.vocab.vocabs"), wk_vocabs_path, class: "btn btn-success"
