= render "wk/readings/utils"
= render "utils/title", text: @vocab.characters

%section
  .header.text-center
    %h1{class: @vocab.hidden ? 'hidden' : ''}= @vocab.linked_characters
  .body
    %table{class: "table table-bordered"}
      %tbody#accent_updates
        %tr
          %td= t("wk.meaning")
          %td= @vocab.meaning
        - @vocab.readings.each do |reading|
          %tr
            %td= t("wk.reading")
            %td
              = reading.characters
              = render "wk/readings/audio", reading: reading
        - @homos.each do |homo|
          %tr
            %td= t("wk.vocab.homo")
            %td
              = link_to homo.characters, homo
              = render "wk/readings/audio", reading: homo.readings.first
              = homo.meaning
        %tr
          %td= t("wk.vocab.parts")
          %td= @vocab.parts_of_speech
        %tr
          %td= t("wk.hint.meaning")
          %td= @vocab.meaning_mnemonic.html_safe
        %tr
          %td= t("wk.hint.reading")
          %td= @vocab.reading_mnemonic.html_safe
        %tr
          %td= t("wk.links")
          %td
            - %w/kanshudo jisho japandict/.each do |x|
              = link_to t("wk.#{x}.text"), t("wk.#{x}.url.vocab", vocab: @vocab.characters), target: "external"
        %tr
          %td= t("wk.level")
          %td= @vocab.level
        %tr
          %td= t("wk.id")
          %td= @vocab.wk_id
        %tr
          %td= t("wk.last_updated")
          %td= @vocab.last_updated
        - if @vocab.any_notes?
          %tr
            %td.col-12{colspan: 2}= @vocab.notes_html
        - unless @examples.empty?
          %tr
            %td.col-12{colspan: 2}
              %table{class: "table table-bordered table-sm"}
                %thead
                  %tr
                    %td= t("wk.example.japanese")
                    %td= t("wk.example.english")
                    %td
                %tbody
                  - @examples.each do |example|
                    %tr
                      %td= example.japanese_html(bold: @vocab.characters)
                      %td= example.english
                      %td.text-center= link_to t("edit"), edit_wk_example_path(example, return_page: wk_vocab_path(@vocab)), class: "blue-btn"
  .footer
    - if can?(:manage, Wk::Vocab)
      = link_to t("wk.vocab.edit"), edit_wk_vocab_path(@vocab), class: "blue-btn"
    = link_to t("wk.radical.radicals"), last_search(wk_radicals_path), class: "green-btn"
    = link_to t("wk.kanji.kanjis"), last_search(wk_kanjis_path), class: "green-btn"
    = link_to t("wk.vocab.vocabs"), wk_vocabs_path, class: "green-btn"
    = link_to t("wk.kana.kanas"), last_search(wk_kanas_path), class: "green-btn"
    = link_to t("wk.example.examples"), wk_examples_path(query: @vocab.characters), class: "green-btn"
    = link_to t("wk.group.groups"), wk_groups_path(query: @vocab.characters), class: "green-btn"
