- stars.matches.each do |star|
  %tr
    %td= link_to star.name, star
    %td= link_to star_constellation(star), star.constellation
    %td.text-center= star.components
    %td.text-center= star.distance
    %td.text-center= star.magnitude
    %td.text-center= star_mass(star.mass)
    %td.text-center= star_right_ascension(star.alpha)
    %td.text-center= star_declination(star.delta)
= render "utils/pagination_links", pager: stars, columns: 8
