= render "utils/title", text: @star.name

.row
  %div{class: center(lg: 10, xx: 8)}
    %section
      .header
        %h5.d-inline= @star.name
      .body
        %ul
          %li= "#{t('star.distance')}: #{@star.distance} #{t('star.unit.distance')}"
          %li= "#{t('star.alpha')}: #{star_right_ascension(@star.alpha)}"
          %li= "#{t('star.delta')}: #{star_declination(@star.delta)}"
        = @star.note_html
      .footer
        = link_to t("star.stars"), stars_path, class: "green-btn"
        - if can?(:edit, Star)
          = link_to t("edit"), edit_star_path(@star), class: "blue-btn"
