= render "utils/title", text: @star.name

.row
  %div{class: center(lg: 10, xx: 8)}
    %section
      .header
        %h5.d-inline= @star.name
      .body
        = @star.note_html
      .footer
        = link_to t("star.stars"), stars_path, class: "green-btn"
        - if can?(:edit, Star)
          = link_to t("edit"), edit_star_path(@star), class: "blue-btn"
