= render "utils/title", text: @star.name

.row
  %div{class: center(lg: 10, xx: 8)}
    %section
      .header
        %h5.d-inline= @star.name
      .body
        %ul
          %li
            = "#{t('star.constellation')}:"
            = link_to star_constellation(@star), @star.constellation
          %li= "#{t('star.components')}: #{@star.components}"
          %li= "#{t('star.distance')}: #{@star.distance} #{t('star.unit.distance')}"
          %li= "#{t('star.luminosity')}: #{star_decimal(@star.luminosity)} #{t('star.unit.luminosity')}"
          %li= "#{t('star.magnitude')}: #{star_decimal(@star.magnitude)}"
          %li= "#{t('star.mass')}: #{star_decimal(@star.mass)} #{t('star.unit.mass')}"
          %li= "#{t('star.radius')}: #{star_decimal(@star.radius)} #{t('star.unit.radius')}"
          %li= "#{t('star.alpha')}: #{star_right_ascension(@star.alpha)}"
          %li= "#{t('star.delta')}: #{star_declination(@star.delta)}"
          - if @star.wikipedia.present?
            %li= link_to t("star.wikipedia"), star_wikipedia(@star.wikipedia), target: "_wikipedia"
        = @star.note_html
      .footer
        = link_to t("star.stars"), stars_path, class: "green-btn"
        = link_to t("constellation.constellations"), constellations_path, class: "green-btn"
        - if can?(:edit, Star)
          = link_to t("edit"), edit_star_path(@star), class: "blue-btn"
