= render "utils/title", key: "historical_event.events"

.row
  .offset-md-1.col-md-10
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-9= t("description")
          %th.col-1.text-center= t("historical_event.start")
          %th.col-1.text-center= t("historical_event.finish")
          - if can?(:edit, HistoricalEvent)
            %th.col-1
      %tbody
        - @events.each do |event|
          %tr
            %td= event.description
            %td.text-center= event.start
            %td.text-center= event.finish
            - if can?(:edit, HistoricalEvent)
              %td.text-center
                = link_to t("edit"), edit_historical_event_path(event), class: "btn btn-info btn-sm"

- if can?(:create, HistoricalEvent)
  .text-center
    = link_to t("historical_event.new"), new_historical_event_path, class: "btn btn-info"
