= render "utils/title", key: "user.users"

.row
  %div{class: Sni::Center.call(lg: 6, md: 8, sm: 10)}
    %section
      .header.text-center
        %h3= t("user.users")
      .body
        %table{class: "table table-bordered table-sm"}
          %thead
            %tr
              %th= t("email")
              %th= t("name")
              %th= t("user.role")
          %tbody
            - @users.each do |user|
              %tr
                %td= link_to user.email, user
                %td= user.name
                %td= t("user.roles.#{user.role}")
      - if can?(:create, User)
        .footer
          = link_to t("user.new"), new_user_path, class: "blue-btn"
