= render "utils/title", text: @user.email

.row
  %div{class: center(xl:6, md: 8, xs: 10)}
    %section
      .header.text-center
        %h3= @user.email
      .body
        %table{class: "table table-bordered table-sm"}
          %tbody
            %tr
              %th= t("user.role")
              %td= t("user.roles.#{@user.role}")
            %tr
              %th= t("name")
              %td= @user.name
            %tr
              %th= t("otp.otp")
              %td
                = otp_required(@user)
                = otp_active(@user)
      .footer
        = link_to t("user.users"), users_path, class: "btn btn-success btn-sm"
        - if can?(:manage, User)
          = link_to t("edit"), edit_user_path(@user), class: "btn btn-primary btn-sm"
