%tr
  %td= link_to favourite.name, favourite, "data-turbo-frame" => "_top"
  %td.d-none.d-lg-table-cell= favourite.note.truncate(25)
  %td.text-center= I18n.t("favourite.categories")[favourite.category]
  %td.text-center= favourite.year
  %td.text-center= favourite.sandra if favourite.sandra > 0
  %td.text-center= favourite.mark if favourite.mark > 0
  %td.text-center= favourite.total
