.row
  .col-md-12
    = form_for favourite, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        - shared = { form: f, object: favourite, col: "md", pad: 2 }
        = render "utils/text_field_for", shared.merge(param: :name, text: t("name"), width: 6)
        = render "utils/text_field_for", shared.merge(param: :year, text: t("year"), width: 2)
        = render "utils/select_for", shared.merge(param: :category, text: t("favourite.category"), width: 2, menu: favourite_category_menu(favourite))
        = render "utils/select_for", shared.merge(param: :mark, text: t("favourite.mark"), width: 1, menu: favourite_score_menu(favourite.mark, favourite.new_record?))
        = render "utils/select_for", shared.merge(param: :sandra, text: t("favourite.sandra"), width: 1, menu: favourite_score_menu(favourite.sandra, favourite.new_record?))
        = render "utils/text_field_for", shared.merge(param: :link, text: t("favourite.link"), width: 8)
      .row
        .col-md-offset-4.col-md-8
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), favourites_path, class: "btn btn-default"
          - unless favourite.new_record?
            = link_to t("delete"), favourite, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
