- favourites.matches.each do |favourite|
  %tr
    %td= link_to favourite.name, favourite
    %td= favourite.note&.truncate(30)
    %td.text-center= I18n.t("favourite.categories")[favourite.category]
    %td.text-center= favourite.year
    %td.text-center= favourite.sandra if favourite.sandra > 0
    %td.text-center= favourite.mark if favourite.mark > 0
= render "utils/pagination_links", pager: favourites, columns: 6
