- favourites.matches.each do |favourite|
  %tr
    %td= link_to_if favourite.link, favourite.name, favourite.link, target: "_external"
    %td= favourite.fans
    %td.text-center= I18n.t("favourite.categories")[favourite.category]
    %td.text-center= favourite.year
    - if can?(:edit, favourite)
      %td.text-center= link_to t("edit"), edit_favourite_path(favourite), class: "btn btn-info btn-xs"
= render "utils/pagination_links", pager: favourites, columns: 4 + (can?(:edit, Favourite) ? 1 : 0)
