= render "utils/title", key: "favourite.favourites", header: true

:ruby
  inputs = [
    [:query,    t("query"),              :text,   size: 20, value: params[:query], placeholder: "#{t("name")}/#{t("favourite.note")}"],
    [:category, t("favourite.category"), :select, menu: favourite_category_search_menu(params[:category])],
    [:year,     t("year"),               :text,   size: 7,  value: params[:year]],
    [:order,    t("order"),              :select, menu: favourite_order_menu(params[:order])],
  ]
= render "utils/search/form", index: favourites_path, inputs: inputs

%table.table.table-bordered.table-striped.table-sm.mt-3
  %thead
    %tr
      %th= t("name")
      %th= t("favourite.note")
      %th.text-center= t("favourite.category")
      %th.text-center= t("year")
      %th.text-center= t("favourite.sandra")
      %th.text-center= t("favourite.mark")
      %th.text-center= t("total")
  %tbody#results
    = render "results", favourites: @favourites

- if can?(:create, Favourite)
  .text-center.mt-3
    = link_to t("favourite.new"), new_favourite_path, class: "btn btn-info"
