= render "utils/title", key: "favourite.favourites"

.text-center
  = form_tag favourites_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :name, t("name"), class: "sr-only"
      = text_field_tag :name, params[:name], class: "form-control", placeholder: t("name"), size: 20
    .form-group
      = label_tag :year, t("year"), class: "sr-only"
      = text_field_tag :year, params[:year], class: "form-control", placeholder: t("year"), size: 7
    .form-group
      = label_tag :category, t("favourite.category"), class: "sr-only"
      = select_tag :category, favourite_category_search_menu(params[:category]), class: "form-control auto-submit"
    .form-group
      = label_tag :category, t("favourite.fans"), class: "sr-only"
      = select_tag :fan, favourite_fan_search_menu(params[:fan]), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"

%p

.row
  .col-xs-12.col-md-8.col-md-offset-2
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("name")
          %th= t("favourite.fans")
          %th.text-center.col-xs-1= t("favourite.category")
          %th.text-center.col-xs-1= t("year")
          - if can?(:edit, Favourite)
            %th.col-xs-1
      %tbody{id: "results"}
        = render "results", favourites: @favourites

.text-center
  - if can?(:create, Favourite)
    = link_to t("favourite.new"), new_favourite_path, class: "btn btn-info"
