= render "utils/title", key: "favourite.favourites"

.text-center
  = form_tag favourites_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :name, t("query"), class: "sr-only"
      = text_field_tag :query, params[:query], class: "form-control", placeholder: t("query"), size: 20
    .form-group
      = label_tag :year, t("year"), class: "sr-only"
      = text_field_tag :year, params[:year], class: "form-control", placeholder: t("year"), size: 7
    .form-group
      = label_tag :category, t("favourite.category"), class: "sr-only"
      = select_tag :category, favourite_category_search_menu(params[:category]), class: "form-control auto-submit"
    .form-group
      = label_tag :order, t("order"), class: "sr-only"
      = select_tag :order, favourite_order_menu(params[:order]), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"

%p

.row
  .col-xs-12
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("name")
          %th= t("note")
          %th.text-center.col-xs-1= t("favourite.category")
          %th.text-center.col-xs-1= t("year")
          %th.text-center.col-xs-1= t("favourite.sandra")
          %th.text-center.col-xs-1= t("favourite.mark")
          %th.text-center.col-xs-1= t("total")
      %tbody{id: "results"}
        = render "results", favourites: @favourites

.text-center
  - if can?(:create, Favourite)
    = link_to t("favourite.new"), new_favourite_path, class: "btn btn-info"
