= render "utils/title", text: @favourite.name

.row
  .offset-lg-1.col-lg-10.offset-xl-2.col-xl-8
    %section
      .header.text-center
        %h3= @favourite.name
      .body
        %table{class: "table table-bordered"}
          %tbody
            %tr
              %td= t("name")
              %th{colspan: 3}= link_to_if @favourite.link.present?, @favourite.name, @favourite.link, target: "_external"
            %tr
              %td= t("favourite.category")
              %th= t("favourite.categories")[@favourite.category]
              %td= t("year")
              %th= @favourite.year
            %tr
              %td= t("favourite.sandra")
              %th= @favourite.sandra if @favourite.sandra > 0
              %td= t("favourite.mark")
              %th= @favourite.mark if @favourite.mark > 0
            %tr
              %td{colspan: 4}= @favourite.note_html
      .footer
        = link_to t("favourite.title"), last_search(favourites_path), class: "green-btn"
        - if can?(:manage, Favourite)
          = link_to t("edit"), edit_favourite_path(@favourite), class: "blue-btn"
