%tr
  %td= link_to classifier.name, classifier, "data-turbo-frame" => "_top"
  %td= classifier.category.truncate(25)
  %td= classifier.max_amount
  %td= classifier.min_amount
  %td{style: classifier_style(classifier).first}= classifier.color
