:ruby
  lo = Sni::Layout.call(lg: [3], md: [4], xs: [6])
  inputs = [
    [:query, t("query"), :text, lo[0], size: 20, placeholder: t("query")],
  ]

= render "utils/title", key: "classifier.classifiers"

%section.mt-3
  .header
    .d-flex.justify-content-between.align-items-center
      %h3.mb-0= t("classifier.classifiers")
      = link_to t("transaction.last_upload"), transactions_path(upload_id: 0), class: "green-btn"
  .body
    = render "utils/search/form", index: classifiers_path, inputs: inputs
    = turbo_frame_tag :results, "data-turbo-action" => "advance" do
      %table.table.table-bordered.table-sm.mt-3
        %thead
          %tr
            %th= t("classifier.name")
            %th= t("classifier.category")
            %th= t("classifier.max_amount")
            %th= t("classifier.min_amount")
            %th= t("classifier.color")
        %tbody
          = render partial: "classifier", collection: @classifiers
  .footer
    = link_to t("transaction.transactions"), transactions_path, class: "green-btn"
    - if can?(:create, Classifier)
      = link_to t("classifier.new"), new_classifier_path, class: "blue-btn"
