= render "utils/title", text: @classifier.name

.row
  .offset-lg-1.col-lg-10.offset-xl-2.col-xl-8
    %section
      .header.text-center
        %h3= @classifier.name
      .body
        %table{class: "table table-bordered"}
          %tbody
            %tr
              %th= t("transaction.transactions")
              - count = Transaction.where(classifier_id: @classifier.id).count
              %td= link_to_if(count > 0, count, transactions_path(classifier_id: @classifier.id))
            %tr
              %th= t("classifier.category")
              %td= @classifier.category
            %tr
              %th= t("classifier.max_amount")
              %td= @classifier.max_amount
            %tr
              %th= t("classifier.min_amount")
              %td= @classifier.min_amount
            %tr
              %th= t("classifier.color")
              %td{style: classifier_style(@classifier).first}= @classifier.color
            %tr
              %th.text-center{colspan: 2}= t("classifier.description")
            %tr
              %td{colspan: 2}
                %pre= @classifier.description
      .footer
        = link_to t("classifier.classifiers"), classifiers_path, class: "green-btn"
        = link_to t("transaction.transactions"), transactions_path, class: "green-btn"
        - if can?(:manage, Classifier)
          = link_to t("edit"), edit_classifier_path(@classifier), class: "blue-btn"
