= render "utils/title", text: t("tutorial.title", number: @tutorial.number)

- comments, boards = @tutorial.split_notes

- unless boards.empty?
  = content_for :javascript do
    = render partial: "pages/board_elm_min", formats: :js
    = render partial: "utils/board/boards", formats: :js, locals: { fens: boards }

%section
  .header
    %h4.d-inline= t("tutorial.title", number: @tutorial.number)
    .float-end
      - if @prev || @next
        - if @prev
          = link_to @prev, class: "btn btn-success btn-sm" do
            = t("tutorial.prev")
            = @prev.number
        - if @prev && @next
          = "&nbsp;".html_safe
        - if @next
          = link_to @next, class: "btn btn-success btn-sm" do
            = @next.number
            = t("tutorial.next")
        = "&nbsp;".html_safe
      = @tutorial.date.strftime("%Y-%m-%d")
  .body
    - comments.each do |html|
      - if html.match(/\AFEN__(\d+)\z/)
        = render "utils/board/board", id: $1
      - else
        = html
  .footer
    = link_to t("tutorial.tutorials"), last_search(tutorials_path), class: "btn btn-success btn-sm"
    - if can?(:edit, Tutorial)
      = link_to t("edit"), edit_tutorial_path(@tutorial), class: "btn btn-primary btn-sm"
    - if can?(:delete, Tutorial)
      = link_to t("delete"), @tutorial, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: t("sure") }
