= render "utils/title", text: t("tutorial.title", number: @tutorial.number)

- comments = @tutorial.split_notes

%section
  .header
    %h4.d-inline= t("tutorial.title", number: @tutorial.number)
    .float-end
      - if @prev || @next
        - if @prev
          = link_to @prev, class: "green-btn" do
            = t("tutorial.prev")
            = @prev.number
        - if @prev && @next
          = "&nbsp;".html_safe
        - if @next
          = link_to @next, class: "green-btn" do
            = @next.number
            = t("tutorial.next")
        = "&nbsp;".html_safe
      = @tutorial.date.strftime("%Y-%m-%d")
  .body
    - comments.each do |html|
      - if html.match(/\AFEN__(.*)\z/)
        = render "board", fen_opt: $1
      - else
        = html
  .footer
    = link_to t("tutorial.tutorials"), last_search(tutorials_path), class: "green-btn"
    - if can?(:edit, Tutorial)
      = link_to t("edit"), edit_tutorial_path(@tutorial), class: "blue-btn"
    - if can?(:delete, Tutorial)
      %span{"data-turbo" => "true"}
        = link_to t("delete"), @tutorial, class: "red-btn", data: { turbo_method: :delete, turbo_confirm: t("sure") }
