- content_for :javascript do
  = render "couples_completer.js", realm: partnership.realm

.row
  .offset-md-1.col-md-10
    = form_for partnership, html: { class: "form-horizontal" } do |f|
      - shared = { form: f, object: partnership, col: "md", pad: 3}
      = render "utils/select_completer_for", shared.merge(param: :husband_id, text: t("partnership.husband"), menu: partnership_husband_menu(partnership), width: 4, cwidth: 3)
      = render "utils/select_completer_for", shared.merge(param: :wife_id, text: t("partnership.wife"), menu: partnership_wife_menu(partnership), width: 4, cwidth: 3)
      = render "utils/text_field_for", shared.merge(param: :wedding, text: t("partnership.wedding"), width: 3)
      = render "utils/check_box_for", shared.merge(param: :wedding_guess, text: t("partnership.wedding_guess"), width: 1)
      = render "utils/text_field_for", shared.merge(param: :divorce, text: t("partnership.divorce"), width: 3)
      = render "utils/check_box_for", shared.merge(param: :divorce_guess, text: t("partnership.divorce_guess"), width: 1)
      = render "utils/check_box_for", shared.merge(param: :marriage, text: t("partnership.marriage"), width: 1)
      = render "utils/select_for", shared.merge(param: :realm, text: t("person.realm"), menu: person_realm_menu(partnership.realm), width: 2)

      .row
        .offset-md-3.col-md-9
          = f.submit t("save"), class: "btn btn-primary"
          = link_to t("cancel"), partnership.new_record?? partnerships_path : partnership, class: "btn btn-secondary"
          - unless partnership.new_record?
            = link_to t("delete"), partnership, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
