.row
  .col-md-offset-2.col-md-8
    = form_for partnership, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        - shared = { form: f, object: partnership, col: "md", pad: 4}
        = render "utils/select_for", shared.merge(param: :husband_id, text: t("partnership.husband"), menu: partnership_husband_menu(partnership), width: 4)
        = render "utils/select_for", shared.merge(param: :wife_id, text: t("partnership.wife"), menu: partnership_wife_menu(partnership), width: 4)
        = render "utils/text_field_for", shared.merge(param: :wedding, text: t("partnership.wedding"), width: 3)
        = render "utils/text_field_for", shared.merge(param: :divorce, text: t("partnership.divorce"), width: 3)
        = render "utils/check_box_for", shared.merge(param: :marriage, text: t("partnership.marriage"), width: 1)

      .row
        .col-md-offset-4.col-md-8
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), partnership.new_record?? partnerships_path : partnership, class: "btn btn-default"
          - unless partnership.new_record?
            = link_to t("delete"), partnership, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
