= render "utils/title", text: t("partnership.partnership")

.row
  .offset-md-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("partnership.husband")
          %td= link_to @partnership.husband.name, @partnership.husband
        %tr
          %th= t("partnership.wife")
          %td= link_to @partnership.wife.name, @partnership.wife
        %tr
          %th= t("partnership.wedding")
          %td= @partnership.wedding_plus
        - if @partnership.divorce.present?
          %tr
            %th= t("partnership.divorce")
            %td= @partnership.divorce_plus
        %tr
          %th= t("partnership.marriage")
          %td= t(@partnership.marriage ? "yes" : "no")
        %tr
          %th= t("person.realm")
          %td= t("person.realms")[@partnership.realm]

.text-center.margin_top
  - if can?(:manage, Partnership)
    = link_to t("edit"), edit_partnership_path(@partnership), class: "btn btn-info"
    = link_to t("person.people"), people_path, class: "btn btn-success"
    = link_to t("partnership.partnerships"), partnerships_path, class: "btn btn-success"
