- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi"
- content_for :javascript do
  = render "graph.js", igd: @igd

= render "utils/title", key: "income.incomes"

#chart{style: "height: #{@igd.full_height}px"}

%p

.text-center
  = link_to t("list"), incomes_path, class: "btn btn-success"
  - if @scope != "total"
    = link_to t("total"), graph_incomes_path(scope: "total"), class: "btn btn-success"
  - else
    = link_to t("income.joint"), graph_incomes_path(scope: "joint"), class: "btn btn-success"
