- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi"
- content_for :javascript do
  = render partial: "graph", formats: :js, locals: { igd: @igd }

= render "utils/title", key: "income.graph"

%section
  .header.text-center
    %h3= t("income.graph")
  .body
    #chart{style: "height: #{@igd.full_height}px"}
  .footer
    = link_to t("list"), incomes_path, class: "btn btn-success btn-sm"
    - if @scope != "total"
      = link_to t("total"), graph_incomes_path(scope: "total"), class: "btn btn-success btn-sm"
    - else
      = link_to t("income.joint"), graph_incomes_path(scope: "joint"), class: "btn btn-success btn-sm"
