= render "utils/title", key: "income.incomes"

%section
  .header.text-center
    %h3= t("income.incomes")
  .body
    %table{class: "table table-bordered table-sm"}
      %thead
        %tr
          %th.text-center= t("description")
          %th.text-center= t("income.category.category")
          %th.text-center= t("income.start")
          %th.text-center= t("income.finish")
          %th.text-center= t("income.period.period")
          %th.text-center= t("amount")
          %th.text-center= t("annual")
          %th.text-center= t("income.joint")
          %th.text-center= t("annual")
          - if can?(:edit, Income)
            %th
      %tbody
        - total, joint = 0, 0
        - @incomes.each do |income|
          - _total = income.annual(joint: false)
          - _joint = income.annual(joint: true)
          - total += _total
          - joint += _joint
          %tr
            %td= income.description
            %td.text-center= t("income.category.#{income.category}")
            %td.text-center= nobr(income.start)
            %td.text-center= nobr(income.finish)
            %td.text-center= t("income.period.#{income.period}")
            %td.text-right= "%.2f" % income.amount
            %td.text-right= _total
            %td.text-center= "%d%%" % income.joint
            %td.text-right= _joint
            - if can?(:edit, Income)
              %td.text-center
                = link_to t("edit"), edit_income_path(income), class: "btn btn-primary btn-sm"
        %tr
          %th{colspan: 6}
          %th.text-right= total
          %th
          %th.text-right= joint
          - if can?(:edit, Income)
            %td
  .footer
    = render "categories", category: @category
    - if can?(:create, Income)
      = link_to t("income.new"), new_income_path, class: "btn btn-primary btn-sm"
    = link_to t("graph"), graph_incomes_path, class: "btn btn-success btn-sm"
