- ent, sse = %w/entry sub_section/.map{ |p| "pages/deeds/#{p}" }

= render ent, number: 1
= render sse, entry: 1, number: 1,  title: "DEFINITIONS"
= render sse, entry: 1, number: 2,  title: "THE SHARED ACCESS ROAD"
= render sse, entry: 1, number: 3,  title: "CONDITIONS APPLICABLE TO THE BANK SITE"
= render sse, entry: 1, number: 4,  title: "CONDITIONS APPLICABLE TO THE RENNIE'S LOCK SITE"
= render sse, entry: 1, number: 5,  title: "THE MUTUAL WALL"
= render sse, entry: 1, number: 6,  title: "CONDITIONS APPLICABLE TO WALKWAYS AND COMBINED WALKWAY AND CYCLE ROUTE"
= render sse, entry: 1, number: 7,  title: "CONDITIONS APPLICABLE TO LANDSCAPING AREAS"
= render sse, entry: 1, number: 8,  title: "RECIPROCAL RIGHTS IN RESPECT OF RENNIE'S LOCK SITE. THE BANK SITE AND REMAINING DOCK ESTATE"
= render sse, entry: 1, number: 9,  title: "RIGHTS GRANTED OVER THE MAIN ACCESS ROADS"
= render sse, entry: 1, number: 10, title: "MAINTENANCE OF THE MAIN ACCESS ROADS"
= render sse, entry: 1, number: 11, title: "MAINTENANCE OF COMMON SERVICE MEDIA"
= render sse, entry: 1, number: 12, title: "ACKNOWLEDGEMENT THAT BURDEN OF SERVITUDE RIGHTS MAY BE INCREASED"
= render sse, entry: 1, number: 13, title: "JUS QUAESITUM TERTIO"
= render sse, entry: 1, number: 14, title: "ARBITRATION"
= render sse, entry: 1, number: 15, title: "IRRITANCY AND DECLARATION"
= render ent, number: 2
= render ent, number: 3
= render sse, entry: 3, number: 1,  title: "DEFINITIONS"
= render sse, entry: 3, number: 2,  title: "OWNERSHIP OF COMMON PARTS OF THE BLOCKS AND COMMON AMENITY GROUND"
= render sse, entry: 3, number: 3,  title: "MAINTENANCE OF COMMON PARTS OF THE BLOCKS"
= render sse, entry: 3, number: 4,  title: "MAINTENANCE OF FLATS"
= render sse, entry: 3, number: 5,  title: "MAINTENANCE OF COMMON AMENITY GROUND AND ACCESS ROUTE"
= render sse, entry: 3, number: 6,  title: "ALTERATIONS ETC."
= render sse, entry: 3, number: 7,  title: "COLOR SCHEME"
= render sse, entry: 3, number: 8,  title: "PROPRIETORS' MEETINGS"
= render sse, entry: 3, number: 9,  title: "UNKNOWN"
= render sse, entry: 3, number: 10, title: "USE AND PROHIBITIONS"
= render sse, entry: 3, number: 11, title: "INSURANCE"
= render sse, entry: 3, number: 12, title: "RESERVED RIGHTS"
= render sse, entry: 3, number: 13, title: "ACKNOWLEDGEMENT"
= render sse, entry: 3, number: 14, title: "EXPENSES"
= render sse, entry: 3, number: 15, title: "ARBITRATION"
= render sse, entry: 3, number: 16, title: "IRRITANCY AND DECLARATION"
