:ruby
  if team == match.home_team
    our_score = match.home_score
    opp_score = match.away_score
    opponent = match.away_team.short
    venue = "H"
  else
    our_score = match.away_score
    opp_score = match.home_score
    opponent = match.home_team.short
    venue = "A"
  end
  if our_score > opp_score
    result = "W"
    btn = "success"
  elsif our_score < opp_score
    result = "L"
    btn = "danger"
  else
    result = "D"
    btn = "secondary"
  end
  title = "#{our_score}-#{opp_score} #{venue} #{opponent}"

%button.btn.btn-sm{class: "btn-#{btn}", title: title, "data-toggle" => "tooltip", "data-placement" => "left"}= result
