= render "utils/title", key: "pages.aoc.title"

- content_for :javascript do
  = render "aoc_elm.min.js"
  = render "aoc.js"

.row
  .col-xs-12
    %form{class: "form-horizontal", role: "form"}
      .form-group
        %label.control-label.col-xs-2= t("pages.aoc.year")
        .col-xs-4.col-sm-3.col-md-2
          %select{class: "form-control input-sm", size: "1", id: "year"}
            %option{value: ""}= t("select")
            - (2015..2015).each do |year|
              %option{value: "#{year}", selected: year == 2015}= year
      .form-group
        %label.control-label.col-xs-2= t("pages.aoc.day")
        .col-xs-4.col-sm-3.col-md-2
          %select{class: "form-control input-sm", size: "1", id: "day"}
            %option{value: ""}= t("select")
            - (1..25).each do |day|
              %option{value: "#{day}"}
                = day
                = "🌳" unless [15, 16, 17, 18, 20, 21, 22, 23, 24].include? day # done
                = "🕰" if [4, 6, 10, 11, 13].include? day # slow
      .form-group
        %label.control-label.col-xs-2= t("pages.aoc.answer")
        .col-xs-5
          %input{class: "form-control", type: "text", id: "answer"}
        .col-xs-5.text-center
          = image_tag "loader.gif", size: "20x20", alt: t("loading"), id: "loading", style: "display: none"
      .form-group
        %label.control-label.col-xs-2= t("pages.aoc.input")
        .col-xs-10
          %textarea{class: "form-control monospace", rows: "50", id: "input"}
