:ruby
  lo = Layout.new(xl: [2], md: [4], xs: [6]).to_a
  inputs = [[:q, t("search"), :text, lo[0], placeholder: nil]]

= render "utils/title", key: "pages.risle.pam"

%section
  .header.text-center
    %h3= t("pages.risle.pam")
  .body
    = render "utils/search/form", index: pam_path, inputs: inputs
  = turbo_frame_tag :results, "data-turbo-action" => "advance" do
    - if @answer
      .footer.text-center
        %h3= @answer
