- d = @data
= turbo_frame_tag :table do
  .row.justify-content-center
    .col-auto
      .d-flex.align-items-center.gap-2.mt-3
        -# Button 1: First match date
        - if d.nav_first
          = link_to t("pages.premier.buttons2.first"), premier2_table_path(season: d.season, date: d.nav_first.to_fs(:db)), class: "btn btn-outline-secondary btn-sm"
        - else
          %button.btn.btn-outline-secondary.btn-sm{disabled: true}= t("pages.premier.buttons2.first")

        -# Button 2: Back 5 match dates
        - if d.nav_back5
          = link_to t("pages.premier.buttons2.back5"), premier2_table_path(season: d.season, date: d.nav_back5.to_fs(:db)), class: "btn btn-outline-secondary btn-sm"
        - else
          %button.btn.btn-outline-secondary.btn-sm{disabled: true}= t("pages.premier.buttons2.back5")

        -# Button 3: Back 1 match date
        - if d.nav_back1
          = link_to t("pages.premier.buttons2.back1"), premier2_table_path(season: d.season, date: d.nav_back1.to_fs(:db)), class: "btn btn-outline-secondary btn-sm"
        - else
          %button.btn.btn-outline-secondary.btn-sm{disabled: true}= t("pages.premier.buttons2.back1")

        -# Button 4: Most recent match (or today)
        - if d.nav_today
          = link_to t("pages.premier.buttons2.today"), premier2_table_path(season: d.season, date: d.nav_today.to_fs(:db)), class: "btn btn-outline-primary btn-sm"
        - else
          %button.btn.btn-outline-primary.btn-sm{disabled: true}= t("pages.premier.buttons2.today")

        -# Button 5: Forward 1 match date
        - if d.nav_forward1
          = link_to t("pages.premier.buttons2.forward1"), premier2_table_path(season: d.season, date: d.nav_forward1.to_fs(:db)), class: "btn btn-outline-secondary btn-sm"
        - else
          %button.btn.btn-outline-secondary.btn-sm{disabled: true}= t("pages.premier.buttons2.forward1")

        -# Button 6: Forward 5 match dates
        - if d.nav_forward5
          = link_to t("pages.premier.buttons2.forward5"), premier2_table_path(season: d.season, date: d.nav_forward5.to_fs(:db)), class: "btn btn-outline-secondary btn-sm"
        - else
          %button.btn.btn-outline-secondary.btn-sm{disabled: true}= t("pages.premier.buttons2.forward5")

        -# Button 7: Last match date
        - if d.nav_last
          = link_to t("pages.premier.buttons2.last"), premier2_table_path(season: d.season, date: d.nav_last.to_fs(:db)), class: "btn btn-outline-secondary btn-sm"
        - else
          %button.btn.btn-outline-secondary.btn-sm{disabled: true}= t("pages.premier.buttons2.last")

  .row.justify-content-center
    .col-auto
      .overflow-auto
        %table{class: "table table-bordered table-striped table-sm mt-3", "data-controller" => "tooltips"}
          %thead
            %tr
              %th
              %th.text-center= t("pages.premier.played")
              %th.text-center= t("pages.premier.won")
              %th.text-center= t("pages.premier.drawn")
              %th.text-center= t("pages.premier.lost")
              %th.text-center= t("pages.premier.for")
              %th.text-center= t("pages.premier.against")
              %th.text-center= t("pages.premier.diff")
              %th.text-center= t("pages.premier.points")
              - d.indicies.each do |i|
                %td.text-center= i + 1
          %tbody
            - d.ids.each do |id|
              %tr
                %td= link_to nbsp(d.name[id]), stats_team_path(id), "data-turbo-frame" => "_top"
                %td.text-center= d.played[id]
                %td.text-center= d.won[id]
                %td.text-center= d.drew[id]
                %td.text-center= d.lost[id]
                %td.text-center= d.for[id]
                %td.text-center= d.against[id]
                %td.text-center= d.diff[id]
                %th.text-center= d.points[id]
                - d.indicies.each do |i|
                  %td.shrink.font-monospace
                    - style = case d.labels[id][i]
                      - when "W" then "success"
                      - when "D" then "secondary"
                      - when "L" then "danger"
                      - when "H" then "outline-primary"
                      - when "A" then "outline-danger"
                    %button.btn.btn-sm.btn-tiny{class: "btn-#{style}", title: d.tooltips[id][i],
                      "data-bs-toggle" => "tooltip", "data-placement" => "top"}= d.labels[id][i]
