- d = @data
= turbo_frame_tag :table do
  .row.justify-content-center
    .col-auto
      %table{class: "table table-bordered table-sm mt-3"}
        %tr
          - d.dates.each do |date|
            %td.txt-center
              - if date == d.date
                %b= date.strftime("%a %-0d %b")
              - else
                = link_to date.strftime("%-0d %b"), premier_table_path(season: d.season, date: date.to_fs(:db))
  .row.justify-content-center
    .col-auto
      .overflow-auto
        %table{class: "table table-bordered table-striped table-sm mt-3", "data-controller" => "tooltips"}
          %thead
            %tr
              %th
              %th.text-center= t("pages.premier.played")
              %th.text-center= t("pages.premier.won")
              %th.text-center= t("pages.premier.drawn")
              %th.text-center= t("pages.premier.lost")
              %th.text-center= t("pages.premier.for")
              %th.text-center= t("pages.premier.against")
              %th.text-center= t("pages.premier.diff")
              %th.text-center= t("pages.premier.points")
              - d.indicies.each do |i|
                %td.text-center= i + 1
          %tbody
            - d.ids.each do |id|
              %tr
                %td= link_to nbsp(d.name[id]), stats_team_path(id), "data-turbo-frame" => "_top"
                %td.text-center= d.played[id]
                %td.text-center= d.won[id]
                %td.text-center= d.drew[id]
                %td.text-center= d.lost[id]
                %td.text-center= d.for[id]
                %td.text-center= d.against[id]
                %td.text-center= d.diff[id]
                %th.text-center= d.points[id]
                - d.indicies.each do |i|
                  %td.shrink.font-monospace
                    - style = case d.labels[id][i]
                      - when "W" then "success"
                      - when "D" then "secondary"
                      - when "L" then "danger"
                      - when "H" then "outline-primary"
                      - when "A" then "outline-danger"
                    %button.btn.btn-sm.btn-tiny{class: "btn-#{style}", title: d.tooltips[id][i],
                      "data-bs-toggle" => "tooltip", "data-placement" => "top"}= d.labels[id][i]
