:ruby
  d = @data
  lo = Sni::Layout.call(md: [4], xs: [6])
  inputs = [
    [:season, t("match.season"), :select, lo[0], menu: premier_season_menu(d.season)],
  ]
  my_meta_tags "pages.premier"

.row
  %div{class: Sni::Center.call(xl: 8, lg: 10)}
    %section
      .header.text-center
        %h3= t("pages.premier.title")
      .body
        = render "utils/search/form", index: premier3_path, inputs: inputs, frame: nil

        .row.justify-content-center{"data-controller" => "premier3", "data-premier3-home-value" => d.home_start, "data-premier3-start-value" => d.home_start, "data-premier3-complete-value" => d.season_complete}
          .col-auto
            .overflow-auto
              %table{class: "table table-bordered table-striped table-sm mt-3", "data-controller" => "tooltips", "data-premier3-target" => "table"}
                %thead
                  %tr
                    %td{colspan: 9}
                    %td{colspan: 38}
                      .d-flex.align-items-center.gap-2.justify-content-center
                        -# Button 1: First
                        %button.btn.btn-outline-secondary.btn-sm.btn-tiny{"data-action" => "premier3#first", "data-premier3-target" => "firstBtn"}= t("pages.premier.buttons2.first")
                        -# Button 2: Back 5
                        %button.btn.btn-outline-secondary.btn-sm.btn-tiny{"data-action" => "premier3#back5", "data-premier3-target" => "back5Btn"}= t("pages.premier.buttons2.back5")
                        -# Button 3: Back 1
                        %button.btn.btn-outline-secondary.btn-sm.btn-tiny{"data-action" => "premier3#back1", "data-premier3-target" => "back1Btn"}= t("pages.premier.buttons2.back1")
                        -# Button 4: Home (only if season not complete)
                        - unless d.season_complete
                          %button.btn.btn-outline-primary.btn-sm.btn-tiny{"data-action" => "premier3#home", "data-premier3-target" => "homeBtn"}= t("pages.premier.buttons2.today")
                        -# Button 5: Forward 1
                        %button.btn.btn-outline-secondary.btn-sm.btn-tiny{"data-action" => "premier3#forward1", "data-premier3-target" => "forward1Btn"}= t("pages.premier.buttons2.forward1")
                        -# Button 6: Forward 5
                        %button.btn.btn-outline-secondary.btn-sm.btn-tiny{"data-action" => "premier3#forward5", "data-premier3-target" => "forward5Btn"}= t("pages.premier.buttons2.forward5")
                        -# Button 7: Last
                        %button.btn.btn-outline-secondary.btn-sm.btn-tiny{"data-action" => "premier3#last", "data-premier3-target" => "lastBtn"}= t("pages.premier.buttons2.last")
                  %tr
                    %th
                    %th.text-center= t("pages.premier.played")
                    %th.text-center= t("pages.premier.won")
                    %th.text-center= t("pages.premier.drawn")
                    %th.text-center= t("pages.premier.lost")
                    %th.text-center= t("pages.premier.for")
                    %th.text-center= t("pages.premier.against")
                    %th.text-center= t("pages.premier.diff")
                    %th.text-center= t("pages.premier.points")
                    - (0..37).each do |i|
                      %td.text-center{"data-col" => i, class: (i < d.home_start || i > d.home_start + 9) ? "d-none" : nil}= i + 1
                %tbody
                  - d.ids.each do |id|
                    %tr
                      %td= link_to nbsp(d.name[id]), stats_team_path(id)
                      %td.text-center= d.played[id]
                      %td.text-center= d.won[id]
                      %td.text-center= d.drew[id]
                      %td.text-center= d.lost[id]
                      %td.text-center= d.for[id]
                      %td.text-center= d.against[id]
                      %td.text-center= d.diff[id]
                      %th.text-center= d.points[id]
                      - (0..37).each do |i|
                        %td.shrink.font-monospace{"data-col" => i, class: (i < d.home_start || i > d.home_start + 9) ? "d-none" : nil}
                          - style = case d.labels[id][i]
                            - when "W" then "success"
                            - when "D" then "secondary"
                            - when "L" then "danger"
                            - when "H" then "outline-primary"
                            - when "A" then "outline-danger"
                          %button.btn.btn-sm.btn-tiny{class: "btn-#{style}", title: d.tooltips[id][i],
                            "data-bs-toggle" => "tooltip", "data-placement" => "top"}= d.labels[id][i]
