:ruby
  lo = Layout.new(md: [2], xs: [4]).to_a.first
  inputs = [[:season, t("match.season"), :select, lo, menu: season_menu(@season)]]

- content_for :javascript do
  = render partial: "pages/premier/tooltips", formats: :js

= render "utils/title", key: "pages.premier.name"

.row
  %div{class: center(xl: 8, lg: 10)}
    %section
      .header.text-center
        %h3= t("pages.premier.name")
      .body
        = render "utils/search/form", index: premier_path, inputs: inputs, remote: false
        %table{class: "table table-bordered table-striped table-sm mt-3"}
          %thead
            %tr
              %th.shrink
              %th.text-center= t("pages.premier.played")
              %th.text-center= t("pages.premier.won")
              %th.text-center= t("pages.premier.drawn")
              %th.text-center= t("pages.premier.lost")
              %th.text-center= t("pages.premier.for")
              %th.text-center= t("pages.premier.against")
              %th.text-center= t("pages.premier.diff")
              %th.text-center= t("pages.premier.points")
              - if @dun > 0
                %td.shrink.text-center
                  - unless @one_sided
                    - if @due > 0
                      = link_to t("pages.premier.left"), premier_path(season: @season, dun_due: "dun")
                    - else
                      = link_to t("pages.premier.right"), premier_path(season: @season)
              - if @due > 0
                %td.shrink.text-center
                  - unless @one_sided
                    - if @dun > 0
                      = link_to t("pages.premier.right"), premier_path(season: @season, dun_due: "due")
                    - else
                      = link_to t("pages.premier.left"), premier_path(season: @season)
          %tbody
            - @teams.each do |t|
              %tr
                %th.shrink= t.short
                %td.text-center= t.played
                %td.text-center= t.won
                %td.text-center= t.drawn
                %td.text-center= t.lost
                %td.text-center= t.for
                %td.text-center= t.against
                %td.text-center= t.diff
                %th.text-center= t.points
                - if @dun > 0
                  %td.shrink.font-monospace
                    - t.latest_results.each do |m|
                      = render "pages/premier/latest", team: t, match: m
                - if @due > 0
                  %td.shrink.font-monospace
                    - t.upcoming_fixtures.each do |m|
                      = render "pages/premier/upcoming", team: t, match: m
