- my_meta_tags "pages.risle.map"

%svg#risle{
  version: "1.1",
  viewBox: "0 0 2000 1000",
  "data-controller" => "risle",
  "data-risle-ftob-value" => flat_ftob_map(@flats),
  "data-risle-btof-value" => flat_btof_map(@flats),
  "data-risle-okay-value" => can?(:park, Flat) || current_user.isle? || params[:p],
}
  %title Rennies Isle Map
  %desc Interactive map of Rennies Isle including blocks, flats, streets and parking bays.
  %rect{width: "100%", height: "100%", class: "background"}
  = render "pages/risle/grid" if params[:g]
  = render "pages/risle/bays"
  = render "pages/risle/buildings"
  = render "pages/risle/maindoors"
  = render "pages/risle/binhuts"
  = render "pages/risle/streets"
