= render "utils/title", key: "pages.risle.map"

- content_for :javascript do
  = render "risle.js"

.row
  .col-xs-12
    %svg{version: "1.1", viewBox: "0 0 2000 1000"}
      %title Rennies Isle Map
      %desc Interactive map of Rennies Isle including blocks, flats and parking bays.
      %rect{width: "100%", height: "100%", class: "background"}
      = render "pages/risle/grid" if params[:g]
      = render "pages/risle/bays"
      = render "pages/risle/buildings"
      = render "pages/risle/maindoors"
      = render "pages/risle/binhuts"
      = render "pages/risle/streets"
      = render "pages/risle/text"

- if @stats.any?
  = render "pages/risle/stats"
