= render "utils/title", key: "dragon.tribute"

%h1.text-center.mb-5.mt-5.tribute= t("dragon.title")

%p.tribute
  - @dragons.each_with_index do |dragon, i|
    - if i > 0
      = t("dragon.separator")
    %span= dragon.name

%p.text-center= t("dragon.subtitle")
