:ruby
  lo = Layout.new(xs: [3,3], md: [2,2], xl: [1,1]).to_a
  my_meta_tags "mass"

%section
  .header.text-center
    %h3= t("mass.title")
  .body{"data-controller" => "elm--weight",
    "data-elm--weight-start-value" => Mass::DEFAULT_START,
    "data-elm--weight-units-value" => @unit.key.to_s,
    "data-elm--weight-kilos-value" => "[#{@kilos.map(&:to_s).join(',')}]",
    "data-elm--weight-dates-value" => "[\"#{@dates.map(&:to_s).join('","')}\"]",
    "data-elm--weight-event-names-value" => "[\"#{@events.map{|e| e[0]}.join('","')}\"]",
    "data-elm--weight-event-dates-value" => "[\"#{@events.map{|e| e[1]}.join('","')}\"]",
    "data-elm--weight-event-spans-value" => "[#{@events.map{|e| e[2]}.join(',')}]",
    "data-elm--weight-debug-value" => "false",
    "data-action" => "keydown@window->elm--weight#moveCross",
  }
    .row
      %div{class: col(lo[0])}
        = label_tag :start, t("mass.start"), class: "visually-hidden"
        = select_tag :start, mass_months_menu, class: "form-select", "data-action" => "elm--weight#changeStart"
      %div{class: col(lo[1])}
        = label_tag :units, t("mass.unit.unit"), class: "visually-hidden"
        = select_tag :units, mass_unit_menu, class: "form-select", "data-action" => "elm--weight#changeUnits"
    %div{"data-elm--weight-target" => "elm"}
  .footer
    = link_to t("list"), masses_path, class: "green-btn"
    - if can?(:view, MassEvent)
      = link_to t("mass.event.events"), mass_events_path, class: "green-btn"
    - if can?(:create, Mass)
      = link_to t("mass.new"), new_mass_path, class: "blue-btn"
