:ruby
  lo = Layout.new(
    xs: [3,3],
    md: [2,2],
    xl: [1,1],
  ).to_a
  inputs = [
    [:start, t("mass.start"),     :select, lo[0], auto: false, menu: mass_months_menu],
    [:units, t("mass.unit.unit"), :select, lo[1], auto: false, menu: mass_unit_menu],
  ]

- content_for :javascript do
  = render partial: "weight_elm_min", formats: :js
  = render partial: "weight", formats: :js

= render "utils/title", key: "mass.mass"

%section
  .header.text-center
    %h3= t("mass.mass")
  .body
    = render "utils/search/form", index: weight_path, inputs: inputs, remote: false
    #elm-app
  .footer
    = link_to t("list"), masses_path, class: "btn btn-primary btn-sm"
    - if can?(:create, Mass)
      = link_to t("mass.new"), new_mass_path, class: "btn btn-primary btn-sm"
