= render "utils/title", key: "mass.mass"

- content_for :javascript do
  = render "weight_elm.min.js"
  = render "weight.js"

.row.mb-3
  .div{class: center(xs: 12)}
    .div{id: "elm-app"}

= form_tag weight_path, method: :get, remote: false, class: "form-inline justify-content-center mt-5" do
  = label_tag :start, t("mass.start"), class: "sr-only"
  = select_tag :start, mass_months_menu, class: "form-control mr-3"
  = label_tag :units, t("mass.unit.unit"), class: "sr-only"
  = select_tag :units, mass_unit_menu, class: "form-control mr-3"
