%tr
  %td= t("wk.group.categories.#{group.category}")
  %td= link_to group.vocab_list, wk_group_path(group), "data-turbo-frame" => "_top"
  %td.text-center= t("symbol.#{group.notes.present? ? 'tick' : 'cross'}")
  %td.text-center= link_to t("symbol.edit"), edit_wk_group_path(group), "data-turbo-frame" => "_top"
