= render "utils/title", key: "wk.group.groups"

:ruby
  inputs = [
    [:category, t("wk.group.category"), :select, menu: wk_group_category_menu(params[:category], search: true)],
    [:query,    t("wk.group.group"),    :text, value: params[:query]],
  ]
= render "utils/search/form", index: wk_groups_path, inputs: inputs

%table{class: "table table-bordered table-striped table-sm mt-3"}
  %thead
    %tr
      %th= t("wk.group.category")
      %th= t("wk.vocab.vocabs")
      %th
  %tbody{id: "results"}
    = render "results", groups: @groups

.text-center.mt3
  = link_to t("wk.vocab.vocabs"), wk_vocabs_path, class: "btn btn-success"
  = link_to t("wk.example.examples"), wk_examples_path, class: "btn btn-success"
  - if can?(:create, Wk::Group)
    = link_to t("wk.group.new"), new_wk_group_path, class: "btn btn-info"
