:ruby
  lo = Layout.new(
    xs: [5,5],
    sm: [4,4],
    md: [3,3],
    lg: [2,2],
  ).to_a
  inputs = [
    [:query,    t("wk.group.group"),    :text,   lo[0]],
    [:category, t("wk.group.category"), :select, lo[1], menu: wk_group_category_menu(params[:category], search: true)],
  ]

= render "utils/title", key: "wk.group.groups"

%section
  .header.text-center
    %h3= t("wk.group.groups")
  .body{"data-turbo" => "true"}
    = render "utils/search/form", index: wk_groups_path, inputs: inputs
    = turbo_frame_tag :results, "data-turbo-action" => "advance" do
      %table{class: "table table-bordered table-sm mt-3"}
        %thead
          %tr
            %th= t("wk.group.category")
            %th= t("wk.vocab.vocabs")
            %th
        %tbody
          = render partial: "group", collection: @groups.matches
          = render "utils/pagination_links", pager: @groups, columns: 3
  .footer
    = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "green-btn"
    = link_to t("wk.example.examples"), last_search(wk_examples_path), class: "green-btn"
    - if can?(:create, Wk::Group)
      = link_to t("wk.group.new"), new_wk_group_path, class: "blue-btn"
