= render "utils/title", text: @group.vocab_list

%section
  .header.text-center
    %h1= safe_join(@group.vocabs.map { |vocab| link_to(vocab.characters, vocab) }, " • ")
  .body
    %table{class: "table table-bordered"}
      %tbody
        %tr
          %td= t("wk.group.category")
          %td= t("wk.group.categories.#{@group.category}")
        %tr
          - if @group.notes.present?
            %td{colspan: 2}
              %article= @group.notes_html
          - else
            %td= t("wk.vocab.vocabs")
            %td= safe_join(@group.vocabs.map { |vocab| vocab.characters }, ", ")
  .footer
    - if can?(:manage, Wk::Group)
      = link_to t("edit"), edit_wk_group_path(@group), class: "blue-btn"
    = link_to t("wk.group.groups"), last_search(wk_groups_path), class: "green-btn"
