:ruby
  lo = Layout.new(
    md: [3,3],
    sm: [4,4],
    xs: [5,5],
  ).to_a
  inputs = [
    [:order,  t("order"),       :select, lo[0], menu: ks_mem_order_menu(params[:order])],
    [:server, t("ks.server"),   :select, lo[1], menu: ks_server_menu(params[:server])],
  ]

= render "utils/title", key: "ks.mem.mems"

.row
  %div{class: center(md: 12, lg: 10, xl: 8)}
    %section
      .header.text-center
        %h3= t("ks.mem.mems")
      .body
        = render "utils/search/form", index: ks_mems_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th= t("ks.mem.measured")
                %th.text-center= t("ks.server")
                %th.text-center= t("ks.mem.total")
                %th.text-center= t("ks.mem.used")
                %th.text-center= t("ks.mem.free")
                %th.text-center= t("ks.mem.avail")
                %th.text-center= t("ks.short.swap_used")
                %th.text-center= t("ks.short.swap_free")
                %th.text-center= t("ks.short.journal")
            %tbody
              = render partial: "mem", collection: @mems.matches
              = render "utils/pagination_links", pager: @mems, columns: 9
      .footer
        = link_to t("ks.journal.journals"), ks_journals_path, class: "green-btn"
        = link_to t("ks.boot.boots"), ks_boots_path, class: "green-btn"
        = link_to t("ks.proc.procs"), ks_procs_path, class: "green-btn"
