:ruby
  lo = Layout.new(
    xl: [2,2],
    md: [3,3],
    xs: [4,4],
  ).to_a
  inputs = [
    [:q,     t("query"), :text,   lo[0], placeholder: t("search"), autofocus: true],
    [:order, t("order"), :select, lo[1], menu: constellation_search_order_menu(params[:order])],
  ]

= render "utils/title", key: "constellation.constellations"

%section
  .header.text-center
    %h3= t("constellation.constellations")
  .body
    = render "utils/search/form", index: constellations_path, inputs: inputs
    %table{class: "table table-bordered table-sm mt-3"}
      %thead
        %tr
          %th= t("constellation.name")
          %th= t("constellation.iau")
      %tbody{id: "results"}
        = render "results", constellations: @constellations
  - if can?(:create, Constellation)
    .footer
      = link_to t("constellation.new"), new_constellation_path, class: "blue-btn"
