= render "utils/title", text: @constellation.name

.row
  %div{class: center(lg: 10, xx: 8)}
    %section
      .header
        %h5.d-inline= @constellation.name
      .body
        %ul
          %li
            = "#{t('constellation.iau')}: <b>#{@constellation.iau}</b>".html_safe
          %li
            = "#{t('star.stars')}:"
            %ul
              - @constellation.stars.order(:bayer).each do |star|
                %li
                  = star_bayer(star.bayer)
                  = link_to star.name, star
        = @constellation.note_html
        - if link = @constellation.iau_image_link
          %img{src: link, alt: @constellation.name, class: "styled mx-auto d-block mt-3 mb-3", width: "80%"}
      .footer
        = link_to t("constellation.constellations"), constellations_path, class: "green-btn"
        = link_to t("star.stars"), stars_path, class: "green-btn"
        - if can?(:edit, Constellation)
          = link_to t("edit"), edit_constellation_path(@constellation), class: "blue-btn"
