:ruby
  lo = Sni::Layout.call(xs: [6], md: [4], xl: [2])
  inputs = [
    [:query, t("wk.example.example"), :text, lo[0], autofocus: true, placeholder: t("search")],
  ]

= render "utils/title", key: "wk.example.examples"

%section
  .header.text-center
    %h3= t("wk.example.examples")
  .body
    = render "utils/search/form", index: wk_examples_path, inputs: inputs
    = turbo_frame_tag :results, "data-turbo-action" => "advance" do
      %table{class: "table table-bordered table-sm mt-3"}
        %thead
          %tr
            %th= t("wk.example.japanese")
            %th= t("wk.example.english")
            %th= t("wk.example.day")
            %th
        %tbody
          = render partial: "example", collection: @examples.matches
          = render "utils/pagination_links", pager: @examples, columns: 4
  .footer
    = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "green-btn"
    = link_to t("wk.group.groups"), last_search(wk_groups_path), class: "green-btn"
    = link_to t("wk.example.memorable", locale: "jp"), memorable_wk_examples_path, class: "green-btn"
    - if can?(:create, Wk::Example)
      = link_to t("wk.example.new"), new_wk_example_path, class: "blue-btn"
