= render "utils/title", text: t("wk.example.example")

%table{class: "table table-bordered table-sm"}
  %tbody
    %tr.d-flex
      %td.col-2= t("wk.example.japanese")
      %td.col-10= @example.japanese_html
    %tr.d-flex
      %td.col-2= t("wk.example.english")
      %td.col-10= @example.english

.text-center.mt-3
  - if can?(:edit, Wk::Example)
    = link_to t("edit"), edit_wk_example_path(@example), class: "btn btn-info"
  - if can?(:delete, Wk::Example)
    = link_to t("delete"), @example, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
  = link_to t("wk.example.examples"), wk_examples_path, class: "btn btn-success"
  = link_to t("wk.vocab.vocabs"), wk_vocabs_path, class: "btn btn-success"
