= render "utils/title", key: "book.library", header: true

.text-center
  = render "utils/help_button"

= form_tag books_path, method: :get, remote: true, class: "form-inline justify-content-center mt-3" do
  = label_tag :title, t("book.title"), class: "sr-only"
  = text_field_tag :title, params[:title], class: "form-control mr-1 mb-1", placeholder: t("book.title"), size: 16
  = label_tag :author, t("book.author"), class: "sr-only"
  = text_field_tag :author, params[:author], class: "form-control mr-1 mb-1", placeholder: t("book.author"), size: 16
  = label_tag :year, t("book.year"), class: "sr-only"
  = text_field_tag :year, params[:year], class: "form-control mr-1 mb-1", placeholder: t("book.year"), size: 10
  = label_tag :borrower, t("book.borrower"), class: "sr-only"
  = text_field_tag :borrower, params[:borrower], class: "form-control mr-1 mb-1", placeholder: t("book.borrower"), size: 10
  = label_tag :category, t("book.category"), class: "sr-only"
  = select_tag :category, book_category_menu(params[:category], search: true), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :medium, t("book.medium"), class: "sr-only"
  = select_tag :medium, book_medium_menu(params[:medium], search: true), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :order, t("order"), class: "sr-only"
  = select_tag :order, book_order_menu(params[:order]), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"

%table{class: "table table-bordered table-striped table-sm mt-3"}
  %thead
    %tr.d-flex
      %th.col-5= t("book.title")
      %th.col-3= t("book.author")
      %th.col-2= t("book.category")
      %th.col-1= t("book.medium")
      %th.col-1.text-center= t("book.year")
  %tbody{id: "results"}
    = render "results", books: @books

- content_for :help_title do
  = "How to Search for Books or CDs"
- content_for :help do
  %ul
    %li
      = succeed(",") do
        %strong= t("book.title")
      = succeed(":") do
        %strong= t("book.author")
      Enter one or more search terms separated by spaces for them all to be matched (case insensitively).
      For example "defence grunfeld" will match titles containing both "Grunfeld" and "Defence". Separate
      with pipes ("|") to match at least one term. For example "gruenfeld|grunfeld" will match titles which
      contain either "Grunfeld" or "Gruenfeld".
    %li
      = succeed(":") do
        %strong= t("book.year")
      Match on exact year of publication (e.g. "2000"), or minimum (e.g. ">=1972"),
      or maximum (e.g. "<=2010"), or greater than (e.g. ">1986") or less than (e.g. "<1955")
      or in an inclusive range (e.g. "2000-2010").
    %li
      = succeed(":") do
        %strong= t("book.borrower")
      Search for items currently on loan by matching the name of the person who has borrowed them.
      The titles of loaned items are displayed in strike-through font and the borrower's name is
      appended in parenthesis. As a special case, if you want to see all currently borrowed items,
      no matter who has borrowed them, then type the single word "ALL" (in capitals).
    %li
      = succeed(":") do
        %strong= t("book.category")
      Select a category to constrain matches to items belonging to that category only
      (each item is assigned to exactly one category).
    %li
      = succeed(":") do
        %strong= t("book.medium")
      Select
      = t("book.media.book")
      or
      = t("book.media.cd")
      to constrain matches to items of that type only.
    %li
      = succeed(":") do
        %strong= t("order")
      Select one of the options to order the matching items.
    %li
      = succeed(":") do
        %strong= t("book.note")
      Items for which any additional information has been recorded are indicated by a note symbol
      = precede("(") do
        = succeed(")") do
          %strong= t("book.note_symbol")
      attached to the title. To see that information, click the title.
