- @books.matches.each do |book|
  %tr.d-flex
    %td.col-5
      = link_to book do
        - if book.available
          = book.title
        - else
          %del= book.title
      - if book.borrower.present?
        = "(#{book.borrower})"
      - if book.note.present?
        = t("book.note_symbol")
    %td.col-3= book.author
    %td.col-2= t("book.categories.#{book.category}")
    %td.col-1= t("book.media.#{book.medium}")
    %td.col-1.text-center= book.year
= render "utils/pagination_links", pager: @books, columns: 5
