%tr
  %td= link_to journal.created_at.to_fs(:db), journal, "data-turbo-frame" => "_top"
  %td.text-center= journal.boots_count
  %td.text-center= journal.mems_count
  %td.text-center= journal.procs_count
  %td.text-center= journal.pcpus_count
  %td.text-center= journal.warnings
  %td.text-center= journal.problems
