%tr
  %td.text-center= link_to journal.created_at.to_fs(:db), journal, "data-turbo-frame" => "_top"
  %td.text-center= journal.boot
  %td.text-center= journal.mem
  %td.text-center= journal.top
  %td.text-center= journal.proc
  %td.text-center= journal.warnings
  %td.text-center= journal.problems
