:ruby
  lo = Layout.new(
    lg: [3,2,2],
    md: [3,3,3],
    sm: [4,3,3],
    xs: [4,4,4],
  ).to_a
  inputs = [
    [:order,    t("order"),               :select, lo[0], menu: ks_journal_order_menu(params[:order])],
    [:warnings, t("ks.journal.warnings"), :text,   lo[1], placeholder: t("ks.journal.warnings")],
    [:problems, t("ks.journal.problems"), :text,   lo[2], placeholder: t("ks.journal.problems")],
  ]

= render "utils/title", key: "ks.journal.journals"

.row
  %div{class: center(md: 10, lg: 8, xl: 6)}
    %section
      .header.text-center
        %h3= t("ks.journal.journals")
      .body
        = render "utils/search/form", index: ks_journals_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th= t("ks.journal.created")
                %th.text-center= t("ks.short.boot")
                %th.text-center= t("ks.short.mem")
                %th.text-center= t("ks.short.proc")
                %th.text-center= t("ks.short.pcpu")
                %th.text-center= t("ks.short.warnings")
                %th.text-center= t("ks.short.problems")
            %tbody
              = render partial: "journal", collection: @journals.matches,
                locals: { date_format: ks_journal_date_format(@journals.matches.first.created_at.to_date) }
              = render "utils/pagination_links", pager: @journals, columns: 7
      .footer
        = link_to t("ks.boot.boots"), ks_boots_path, class: "green-btn"
        = link_to t("ks.mem.mems"), ks_mems_path, class: "green-btn"
        = link_to t("ks.proc.procs"), ks_procs_path, class: "green-btn"
        = link_to t("ks.pcpu.pcpus"), ks_pcpus_path, class: "green-btn"
