:ruby
  lo = Layout.new(
    md: [3],
    sm: [4],
    xs: [5],
  ).to_a
  inputs = [
    [:order, t("order"), :select, lo[0], menu: ks_journal_order_menu(params[:order])],
  ]

= render "utils/title", key: "ks.journal.journals"

.row
  %div{class: center(md: 10, lg: 8, xl: 6)}
    %section
      .header.text-center
        %h3= t("ks.journal.journals")
      .body
        = render "utils/search/form", index: ks_journals_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th= t("ks.journal.created")
                %th.text-center= t("ks.short.boot")
                %th.text-center= t("ks.short.mem")
                %th.text-center= t("ks.short.top")
                %th.text-center= t("ks.short.proc")
                %th.text-center= t("ks.short.warnings")
                %th.text-center= t("ks.short.problems")
            %tbody
              = render partial: "journal", collection: @journals.matches
              = render "utils/pagination_links", pager: @journals, columns: 7
      .footer
        = link_to t("ks.boot.boots"), ks_boots_path, class: "green-btn"
        = link_to t("ks.mem.mems"), ks_mems_path, class: "green-btn"
