= render "utils/title", text: t("ks.journal.journal")

.row
  %div{class: center(md: 12, lg: 10, xl: 8)}
    %section
      .header.text-center
        %h3= t("ks.journal.journal")
      .body
        %table{class: "table table-bordered table-sm"}
          %tbody
            %tr
              %th= t("ks.journal.created")
              %td= @journal.created_at.to_fs(:db)
            %tr
              %th= t("ks.boot.boots")
              %td= @journal.boots_count
            %tr
              %th= t("ks.mem.mems")
              %td= @journal.mems_count
            %tr
              %th= t("ks.top.tops")
              %td= @journal.tops_count
            %tr
              %th= t("ks.proc.procs")
              %td= @journal.procs_count
            %tr
              %th= t("ks.journal.warnings")
              %td= @journal.warnings
            %tr
              %th= t("ks.journal.problems")
              %td= @journal.problems
            %tr
              %td{colspan: 2}
                %pre
                  = @journal.note
      .footer
        = link_to t("ks.journal.journals"), ks_journals_path, class: "green-btn"
