= render "utils/title", key: "bucket.buckets"

= form_tag buckets_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :name, t("name"), class: "sr-only"
  = text_field_tag :name, params[:name], class: "form-control mr-1 mb-1", placeholder: t("name"), size: 20
  = label_tag :fan, t("bucket.fans"), class: "sr-only"
  = select_tag :fan, bucket_fan_search_menu(params[:fan]), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.mt-3
  .col-md-10.offset-md-1
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr.d-flex
          %th.col-8.text-center= t("bucket.name")
          %th.col-2.text-center= t("bucket.mark")
          %th.col-2.text-center= t("bucket.sandra")
      %tbody{id: "results"}
        = render "results", buckets: @buckets

- if can?(:create, Bucket)
  .text-center.mt-3
    = link_to t("bucket.new"), new_bucket_path, class: "btn btn-info"
