= render "utils/title", key: "bucket.buckets", header: true

:ruby
  inputs = [
    [:name, t("name"),        :text,   size: 20, value: params[:name]],
    [:fan,  t("bucket.fans"), :select, menu: bucket_fan_search_menu(params[:fan])],
  ]
= render "utils/search/form", index: buckets_path, inputs: inputs

.row.mt-3
  %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
    %table{class: "table table-bordered table-striped table-sm"}
      %thead
        %tr
          %th.text-center= t("bucket.name")
          %th.text-center= t("bucket.mark")
          %th.text-center= t("bucket.sandra")
      %tbody{id: "results"}
        = render "results", buckets: @buckets

- if can?(:create, Bucket)
  .text-center.mt-3
    = link_to t("bucket.new"), new_bucket_path, class: "btn btn-info"
