
:ruby
  lo = Layout.new(xs: [3,3]).to_a
  inputs = [
    [:name, t("name"),        :text,   lo[0], size: 20],
    [:fan,  t("bucket.fans"), :select, lo[1], menu: bucket_fan_search_menu(params[:fan])],
  ]

= render "utils/title", key: "bucket.buckets"


.row
  %div{class: center(xl: 6, lg: 8, md: 10, sm: 12)}
    %section
      .header.text-center
        %h3= t("bucket.buckets")
      .body
        = render "utils/search/form", index: buckets_path, inputs: inputs
        %table{class: "table table-bordered table-sm mt-3"}
          %thead
            %tr
              %th.text-center= t("bucket.name")
              %th.text-center= t("bucket.mark")
              %th.text-center= t("bucket.sandra")
          %tbody{id: "results"}
            = render "results", buckets: @buckets
      - if can?(:create, Bucket)
        .footer
          = link_to t("bucket.new"), new_bucket_path, class: "btn btn-primary btn-sm"
