- content_for :javascript do
  = render "reveal.js"

- kanji = question.kanji

%div{id: "answer", style: "display:none"}
  %div.text-center
    %h1= kanji.symbol
  %div.text-center
    = render "kanjis/external_links", symbol: kanji.symbol

.row.mt-3
  .offset-xs-0.col-xs-12.offset-sm-1.col-sm-10.offset-md-2.col-md-8
    %table{class: "table table-bordered"}
      %tbody
        %tr
          %th= t("vocab.meaning")
          %td= kanji.meaning
        %tr
          %th= t("vocab.onyomi")
          %td= render "kanas", yomis: kanji.on_yomis
        %tr
          %th= t("vocab.kunyomi")
          %td= render "kanas", yomis: kanji.kun_yomis

.text-center.mt3
  %button.btn.btn-sm.btn-primary{id: "reveal-button"}= t("vocab.kanji_test.reveal")
  = link_to t("skip"), question.kanji_test, class: "btn btn-secondary btn-sm", id: "skip-button"
  - last_question = question.kanji_test.kanji_questions.first
  - if last_question && !last_question.answer
    = link_to t("vocab.test.redo"), kanji_test_path(question.kanji_test, redo_last: "true"), class: "btn btn-danger btn-sm", id: "redo-button"
  %button.btn.btn-sm.btn-success{id: "success-button", style: "display:none"}= t("vocab.kanji_test.success")
  %button.btn.btn-sm.btn-danger{id: "failure-button", style: "display:none"}= t("vocab.kanji_test.failure")

%table{class: "table table-bordered table-striped mt-3"}
  %thead
    %tr
      %th= t("vocab.kanji")
      %th= t("vocab.reading")
      %th= t("vocab.meaning")
      %th= t("vocab.category")
      %th.text-center= t("vocab.level")
      %th.text-center= t("vocab.audio")
  %tbody
    - @vocabs.each do |vocab|
      %tr
        %td= render "masked", text: vocab.kanji, secret: kanji.symbol
        %td= vocab.reading
        %td= vocab.meaning
        %td= vocab.category
        %td.text-center= vocab.level
        %td.text-center= render "vocabs/audio_accent", vocab: vocab

= form_for question, html: { id: "question-form" } do |f|
  = f.hidden_field(:kanji_id, value: kanji.id)
  = f.hidden_field(:kanji_test_id, value: question.kanji_test.id)
  = f.hidden_field(:answer, value: false)
