= render "utils/title", text: t("vocab.kanji_test.test")

%p.text-center
  %button.btn.btn-md.btn-secondary
    = t("vocab.level")
    = @test.level
  %button.btn.btn-md.btn-secondary
    = "#{@test.correct}/#{@test.total} (#{@test.progress_rate}%)"
  %button.btn.btn-md.btn-secondary
    = "#{@test.correct}/#{@test.attempts} (#{@test.hit_rate}%)"

- if @next_question
  %hr
  = render "next_question", question: @next_question, vocabs: @vocabs

%hr
= render "questions", test: @test, test_finished: @next_question.blank?

%hr
.text-center
  = link_to t("vocab.kanji_test.tests"), kanji_tests_path, class: "btn btn-success"
  - if can?(:manage, KanjiTest)
    = link_to t("delete"), @test, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
