= render "utils/title", key: "lesson.lessons"

= form_tag lessons_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :q, t("query"), class: "sr-only"
  = text_field_tag :q, params[:q], class: "form-control mr-1 mb-1", placeholder: t("search"), size: 16, autofocus: true
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"

%table{class: "table table-bordered table-striped table-sm mt-3"}
  %thead
    %tr
      %th= t("lesson.series")
      %th= t("lesson.section")
      %th= t("lesson.chapter")
      %th.text-center= t("lesson.abbrev.complete")
  %tbody{id: "results"}
    = render "results", lessons: @lessons

- if can?(:create, Lesson)
  .text-center.mt3
    = link_to t("lesson.new"), new_lesson_path, class: "btn btn-info"
