= render "utils/title", text: @lesson.chapter

- comments, boards = @lesson.split_notes

- unless boards.empty?
  = content_for :javascript do
    = render "utils/board/boards.js", fens: boards


.card
  .card-header
    = @lesson.chapter_and_links
    .float-right
      .small
        = @lesson.series
        = t("symbol.katakana_middle_dot")
        = @lesson.section
        = t("symbol.katakana_middle_dot")
        - if @lesson.eco.present?
          = @lesson.eco
          = t("symbol.katakana_middle_dot")
        = @lesson.complete_percent
        = t("symbol.katakana_middle_dot")
        - if @lesson.book.present?
          = link_to t("lesson.abbrev.book"), @lesson.book, target: "lesson_book"
          = t("symbol.katakana_middle_dot")
        = link_to "##{@lesson.chapter_no}", @lesson.link, target: "lesson_link"

  - unless comments.empty?
    .card-body
      - comments.each do |html|
        - if html.match(/\AFEN__(\d+)\z/)
          = render "utils/board/board", id: $1
        - else
          = html

.text-center.mt-3
  = link_to t("lesson.lessons"), last_search(lessons_path), class: "btn btn-success"
  - if can?(:edit, Lesson)
    = link_to t("edit"), edit_lesson_path(@lesson), class: "btn btn-info"
  - if can?(:delete, Lesson)
    = link_to t("delete"), @lesson, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
