= render "utils/title", text: @lesson.chapter

- comments, boards = @lesson.split_notes

- unless boards.empty?
  = content_for :javascript do
    = render partial: "utils/board/boards", formats: :js, locals: { fens: boards }

%section
  .header
    %h4.d-inline= @lesson.chapter_and_links
    .float-end
      .small
        = @lesson.series
        = t("symbol.katakana_middle_dot")
        = @lesson.section
        = t("symbol.katakana_middle_dot")
        - if @lesson.eco.present?
          = @lesson.eco
          = t("symbol.katakana_middle_dot")
        = @lesson.complete_percent
        = t("symbol.katakana_middle_dot")
        - if @lesson.book.present?
          = link_to t("lesson.abbrev.book"), @lesson.book, target: "lesson_book"
          = t("symbol.katakana_middle_dot")
        = link_to "##{@lesson.chapter_no}", @lesson.link, target: "lesson_link"
  - unless comments.empty?
    .body
      - comments.each do |html|
        - if html.match(/\AFEN__(\d+)\z/)
          = render "utils/board/board", id: $1
        - else
          = html
  .footer
    = link_to t("lesson.lessons"), last_search(lessons_path), class: "green-btn"
    - if can?(:edit, Lesson)
      = link_to t("edit"), edit_lesson_path(@lesson), class: "blue-btn"
    - if can?(:delete, Lesson)
      = link_to t("delete"), @lesson, class: "red-btn", method: :delete, data: { confirm: t("sure") }
