:ruby
  lo = Layout.new(
    xl: [2,2,2],
    md: [3,3,3],
    xs: [4,4,4],
  ).to_a
  inputs = [
    [:pquery,   t("wk.verb_pair.verb_pair"), :text,   lo[0], placeholder: t("wk.verb_pair.verb_pair")],
    [:category, t("wk.verb_pair.category"),  :select, lo[1], menu: wk_verb_pair_category_menu(params[:category])],
    [:order,    t("order"),                  :select, lo[2], menu: wk_verb_pair_order_menu(params[:order])],
  ]

= render "utils/title", key: "wk.verb_pair.verb_pairs"
= render "wk/readings/utils"

%section
  .header.text-center
    %h3= t("wk.verb_pair.verb_pairs")
  .body
    = render "utils/search/form", index: wk_verb_pairs_path, inputs: inputs, remote: false
    %table{class: "table table-bordered table-sm mt-3"}
      %tbody#accent_updates
        = render "results", pairs: @verb_pairs
