.row
  .col-xs-12
    = form_for similar_kanji, html: { class: "form-horizontal" } do |f|
      %fieldset
        - shared = { form: f, object: similar_kanji, col: "xs", pad: 4, width: 4}
        = render "utils/text_field_for", shared.merge(param: :kanjis, text: t("vocab.kanjis"))
        = render "utils/select_for", shared.merge(param: :category, text: t("vocab.similar.kanji.category.category"), width: 3, menu: similar_kanjis_category_menu(similar_kanji.category, select: similar_kanji.new_record?))

      .row
        .offset-xs-4.col-xs-8
          = f.submit t("save"), class: "btn btn-primary"
          = link_to t("cancel"), similar_kanji.new_record?? similar_kanjis_path : similar_kanji, class: "btn btn-secondary"
