= render "utils/title", key: "vocab.similar.kanjis"

.text-center
  = form_tag similar_kanjis_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :q, t("query"), class: "sr-only"
      = text_field_tag :q, params[:q], class: "form-control", size: 16, placeholder: t("vocab.kanjis"), autofocus: true
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-xs-8.col-xs-offset-2.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
    %table{class: "table table-bordered"}
      %thead
        %tr
          %th= t("vocab.kanjis")
      %tbody{id: "results"}
        = render "results", similar_kanjis: @similar_kanjis

.text-center.top_margin
  - if can?(:create, SimilarKanji)
    = link_to t("vocab.similar.kanji.new"), new_similar_kanji_path, class: "btn btn-info"
