= render "utils/title", text: @similar_kanji.kanjis, header: true

.row.mt-3
  .offset-md-1.col-md-10.offset-xl-2.col-xl-8
    %table{class: "table table-bordered"}
      %thead
        %tr
          %th.text-center= t("vocab.kanji")
          %th= t("vocab.meaning")
          %th= t("vocab.onyomi")
          %th= t("vocab.kunyomi")
      %tbody
        - @kanjis.each do |kanji|
          %tr
            %td.text-center= link_to kanji.symbol, kanji
            %td= kanji.meaning
            %td= render "kanjis/kanas", yomis: kanji.yomis.select{ |y| y.on }
            %td= render "kanjis/kanas", yomis: kanji.yomis.select{ |y| !y.on }

.text-center.mt-3
  = link_to t("vocab.similar.kanjis"), similar_kanjis_path, class: "btn btn-success"
