= render "utils/title", text: @similar_kanji.kanjis, header: true

.row.top_margin
  .col-xs-12
    %table{class: "table table-bordered"}
      %thead
        %tr
          %th.col-xs-1.text-center= t("vocab.kanji")
          %th.col-xs-5= t("vocab.meaning")
          %th.col-xs-3= t("vocab.onyomi")
          %th.col-xs-3= t("vocab.kunyomi")
      %tbody
        - @kanjis.each do |kanji|
          %tr
            %td.col-xs-1.text-center= link_to kanji.symbol, kanji
            %td.col-xs-5= kanji.meaning
            %td.col-xs-3= render "kanjis/kanas", yomis: kanji.yomis.select{ |y| y.on }
            %td.col-xs-3= render "kanjis/kanas", yomis: kanji.yomis.select{ |y| !y.on }

.text-center.top_margin
  = link_to t("vocab.similar.kanjis"), similar_kanjis_path, class: "btn btn-success"
  - if can?(:update, @similar_kanji)
    = link_to t("edit"), edit_similar_kanji_path(@similar_kanji), class: "btn btn-info"
  - if can?(:delete, @similar_kanji)
    = link_to t("delete"), @similar_kanji, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
