= render "utils/title", key: "resident.residents", header: true

= content_for :javascript do
  = render "residents.js"

.text-center.top_margin
  = form_tag residents_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :last_name, t("person.last_name"), class: "sr-only"
      = text_field_tag :last_name, params[:last_name], class: "form-control", placeholder: t("person.last_name"), size: 10
    .form-group
      = label_tag :first_names, t("person.first_names"), class: "sr-only"
      = text_field_tag :first_names, params[:first_names], class: "form-control", placeholder: t("person.first_names"), size: 10
    = button_tag t("search"), type: "submit", class: "btn btn-success"
    = link_to t("reset"), "#", class: "btn btn-success", id: "reset"

.row.top_margin
  .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("name")
          %th= t("email")
          %th.text-center= t("flat.short.owner")
          %th.text-center= t("flat.short.tenant")
          %th.text-center= t("flat.short.landlord")
          %th= t("vehicle.vehicles")
      %tbody{id: "results"}
        = render "results", residents: @residents

= render "bottom_links", focus: :resident
