= render "utils/title", text: t("resident.resident"), header: true

.row
  .col-md-offset-3.col-md-6
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("name")
          %td= @resident.name
        %tr
          %th= t("email")
          %td= @resident.email
        %tr
          %th= t("resident.address")
          %td= @resident.address
        %tr
          %th= t("vehicle.vehicles")
          %td
            - @resident.vehicles.each do |vehicle|
              = link_to vehicle.registration, vehicle
        %tr
          %th= t("owner")
          %td
            - @resident.ownerships.each do |flat|
              = link_to flat.address, flat
        %tr
          %th= t("flat.tenant")
          %td
            - @resident.tenancies.each do |flat|
              = link_to flat.address, flat

= render "bottom_links", focus: :resident, resident: @resident
