= render "utils/title", text: @resident.name

.row
  .col-md-offset-3.col-md-6
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("name")
          %td= @resident.name
        %tr
          %th= t("resident.flat")
          %td= @resident.location
        %tr
          %th= t("resident.bay")
          %td= @resident.bay if @resident.bay > 0
        %tr
          %th= t("email")
          %td= @resident.email
        %tr
          %th= t("vehicle.vehicles")
          %td
            - @resident.vehicles.each do |vehicle|
              = link_to vehicle.registration, vehicle

.text-center
  = link_to t("resident.residents"), residents_path, class: "btn btn-success"
  - if can?(:manage, Resident)
    = link_to t("edit"), edit_resident_path(@resident), class: "btn btn-info"
    = link_to t("resident.new"), new_resident_path, class: "btn btn-info"
