
- number = picture.people.size + 3
- content_for :javascript do
  = render "person_completer.js", number: number

.row
  .col-md-12
    = form_for picture, html: { class: "form-horizontal" } do |f|
      - shared = { form: f, object: picture, col: "md", pad: 2}
      = render "utils/file_field_for", shared.merge(param: :image, text: t("picture.file"), width: 4)
      = render "check_box_completers", shared.merge(param: :people, width: 4, number: number)
      = render "utils/check_box_for", shared.merge(param: :portrait, text: t("picture.portrait"), width: 1)
      = render "utils/text_area_for", shared.merge(param: :description, text: t("description"), width: 10)
      .row
        .offset-md-2.col-md-10
          = f.submit t("save"), class: "btn btn-primary"
          = link_to t("cancel"), picture.new_record?? pictures_path : picture, class: "btn btn-secondary"
          - unless picture.new_record?
            = link_to t("delete"), picture, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
