- list = session[:picture_ids].to_s
- prv = Picture.find_by(id: $1.to_i) if list.match(/_(\d+)_#{picture.id}_/)
- nxt = Picture.find_by(id: $1.to_i) if list.match(/_#{picture.id}_(\d+)_/)
.text-center
  .btn-group
    - if prv || nxt
      = link_to t("prev"), prv || "#", class: "btn btn-success#{prv ? '' : ' disabled'}"
      = link_to t("next"), nxt || "#", class: "btn btn-success#{nxt ? '' : ' disabled'}"
    = link_to t("picture.original"), picture.image.url, class: "btn btn-success"
    = link_to picture.person.name(full: false), picture.person, class: "btn btn-success"
    - if can?(:manage, picture)
      = link_to t("edit"), edit_picture_path(picture), class: "btn btn-info"
