- list = session[:picture_ids].to_s
- prv = Picture.find_by(id: $1.to_i) if list.match(/_(\d+)_#{picture.id}_/)
- nxt = Picture.find_by(id: $1.to_i) if list.match(/_#{picture.id}_(\d+)_/)

.btn-toolbar.justify-content-center
  - if prv || nxt
    .btn-group.me-1
      = link_to t("symbol.prev"), prv || "#", class: "green-btn#{prv ? '' : ' disabled'}"
      = link_to t("symbol.next"), nxt || "#", class: "green-btn#{nxt ? '' : ' disabled'}"
  .btn-group.me-1
    = link_to t("picture.pictures"), last_search(pictures_path), class: "green-btn"
    = link_to t("person.people"), last_search(people_path), class: "green-btn"
  .btn-group.me-1
    - if can?(:manage, picture)
      = link_to t("edit"), edit_picture_path(picture), class: "blue-btn"
