= render "utils/title", key: "picture.pictures"

.text-center
  = form_tag pictures_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :name, t("name"), class: "sr-only"
      = text_field_tag :name, params[:name], class: "form-control", placeholder: t("name"), size: 16
    .form-group
      = label_tag :description, t("description"), class: "sr-only"
      = text_field_tag :description, params[:description], class: "form-control", placeholder: t("description"), size: 16
    = button_tag t("search"), type: "submit", class: "btn btn-success"
    = render "utils/help_button"

#results.top_margin
  = render "results", pictures: @pictures

.text-center.top_margin
  - if can?(:create, Picture)
    = link_to t("picture.new"), new_picture_path, class: "btn btn-info"
  = link_to t("person.people"), people_path, class: "btn btn-success"

- content_for :help_title do
  = "How to Search and View Pictures"
- content_for :help do
  %ul
    %li
      = succeed(":") do
        %strong= t("name")
      Each picture is linked to one person (even if there is more than one person in the picture)
      so you can search for pictures using one or more terms to match the first, last or "known as"
      names of the associated people. Terms are case insensitive, don't have to be full names and
      order is not important. For example, a fairly specific search might be:
      %em "john smith"
      which would only find pictures linked with people who had names matching both those terms.
      In contrast, a less specific search example is:
      %em "jo sm"
      which would match pictures associated with John Smith but also Joe Smyth, Jo Dinsmore, and so on.
    %li
      = succeed(":") do
        %strong= t("description")
      Some pictures have descriptions and you can search for matching terms in those descriptions
      such as place names, years or the names of people in the picture other than the main person
      linked to it (see above). For example, if you don't find any pictures matching by name for
      a given set of search terms, try matching the picture description with the same search terms.
    %li
      = succeed(":") do
        %strong= t("view")
      To view the full size version of a picture with it's description just click on the
      thumbnail (small version) below.
