= render "utils/title", text: @picture.title

= render "prev_next", picture: @picture

.text-center.top_margin
  - Picture::SIZE.each_pair do |nm, sz|
    - unless nm == :tn
      %div{class: "visible-#{nm}-block"}
        = image_tag @picture.image.url(nm)
  - if @picture.portrait
    %div{title: t("picture.portrait")}= "☐"

- people = @picture.people.by_last_name
- unless people.empty?
  %p.top_margin
    = succeed(":") do
      = t("picture.in")
  %ul
    - people.each_with_index do |p, i|
      %li= link_to p.name(reversed: true, with_years: true, with_married_name: true), tree_people_path(id: p.id)

- if @picture.description.present?
  .panel.panel-default.top_margin
    .panel-body= @picture.description_html
