= render "utils/title", text: @picture.title

.row
  %div{class: center(xs: 10)}
    %section
      .header.text-center
        %h3= @picture.title
      .body
        = render "prev_next", picture: @picture
      .body.border-top.text-center
        = image_tag @picture.path(thumbnail: false), class: "img-fluid"
        - if @picture.portrait
          .text-center{title: t("picture.portrait")}= "☐"
      - people = @picture.people.by_last_name
      - if @picture.description.present? || !people.empty?
        .body.border-top
          = @picture.description_html
          - unless people.empty?
            %p
              = succeed(":") do
                = t("picture.in")
            %ul
              - people.each_with_index do |p, i|
                %li= link_to p.name(reversed: true, with_years: true, with_married_name: true), tree_people_path(id: p.id)
