:ruby
  lo = Sni::Layout.call(xs: [2,3,3])
  inputs = [
    [:season,  t("match.season"), :select, lo[0], menu: match_season_menu],
    [:team_id, t("team.team"),    :select, lo[1], menu: team_menu],
    [:played,  t("match.played"), :select, lo[2], menu: match_played_menu],
  ]

= render "utils/title", key: "match.matches"

.row
  %div{class: center(xl: 6, lg: 8, md: 10)}
    %section
      .header.text-center
        %h3= t("match.matches")
      .body
        = render "utils/search/form", index: matches_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do # round table
          %table{class: "table table-bordered table-sm mt-3"}
            %tbody
              = render partial: "match", collection: @matches.matches
              = render "utils/pagination_links", pager: @matches, columns: 7
