= render "utils/title", key: "wk.kana.favourites"

%section
  .header.text-center
    %h3= t("wk.kana.favourites")
  .body
    %table{class: "table table-bordered mt-3 w-auto mx-auto kanji-grid", "data-controller" => "tooltips"}
      %tbody
        - i = -1
        - 1.upto(8) do |row|
          %tr
            - 1.upto(12) do |col|
              - character, romanji = @favourites[i+=1]
              - if character
                %td.text-center.p-0{title: romanji, "data-bs-toggle" => "tooltip", "data-placement" => "top", "data-bs-custom-class" => "kana-tooltip"}= character
              - else
                %td.text-center.p-0= "\u3000"
  .footer
    = link_to t("wk.radical.radicals"), last_search(wk_radicals_path), class: "green-btn"
    = link_to t("wk.kanji.kanjis"), wk_kanjis_path, class: "green-btn"
    = link_to t("wk.kanji.favourites"), favourites_wk_kanjis_path, class: "green-btn"
    = link_to t("wk.kanji.candidates"), candidates_wk_kanjis_path, class: "green-btn"
    = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "green-btn"
    = link_to t("wk.kana.kanas"), last_search(wk_kanas_path), class: "green-btn"
