:ruby
  lo = Sni::Layout.call(xl: [2], md: [3], xs: [4])
  inputs = [
    [:title, t("grammar.title"), :text, lo[0], placeholder: t("search"), autofocus: true],
  ]

= render "utils/title", key: "grammar.group.groups"

%section
  .header.text-center
    %h3= t("grammar.group.groups")
  .body
    = render "utils/search/form", index: grammar_groups_path, inputs: inputs
    .row
      %div{class: center(md: 10, lg: 8, xl: 6)}
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th= t("grammar.title")
            %tbody
              = render partial: "group", collection: @grammar_groups.matches
              = render "utils/pagination_links", pager: @grammar_groups, columns: 1
  - if can?(:create, GrammarGroup)
    .footer
      = link_to t("grammar.group.new"), new_grammar_group_path, class: "blue-btn"
      = link_to t("grammar.grammar"), grammars_path, class: "green-btn"
