= render "utils/title", text: @group.title

.row
  %div{class: center(lg: 10, xx: 8)}
    %section
      .header
        %h5.d-inline= @group.title
      .body
        %ul
          - @group.grammars.by_ref.each do |grammar|
            %li= link_to grammar.title, grammar
      .footer
        = link_to t("grammar.group.groups"), grammar_groups_path, class: "green-btn"
        = link_to t("grammar.grammar"), grammars_path, class: "green-btn"
        - if can?(:edit, @group)
          = link_to t("edit"), edit_grammar_group_path(@group), class: "blue-btn"
        - if can?(:delete, @group)
          = link_to t("delete"), @group, class: "red-btn", data: { turbo_method: :delete, turbo_confirm: t("sure") }
