- p = "pages/prefectures/wiki"

%h4= render p, region: "九州地方", kana: "きゅうしゅうちほう", page: "Kyushu", pop: 14.3
%ul
  %li
    = render p, region: "福岡県", kana: "ふくおかけん", page: "Fukuoka_Prefecture", pop: 5.1
    %ul
      %li= render p, region: "福岡市", kana: "ふくおかし", page: "Fukuoka", pop: 2.6
  %li
    = render p, region: "熊本県", kana: "くまもとけん", page: "Kumamoto_Prefecture", pop: 1.7
    %ul
      %li= render p, region: "熊本市", kana: "くまもとし", page: "Kumamoto", pop: 0.7
  %li
    = render p, region: "鹿児島県", kana: "かごしまけん", page: "Kagoshima_Prefecture", pop: 1.6
    %ul
      %li= render p, region: "鹿児島市", kana: "かごしまし", page: "Kagoshima", pop: 0.6
  %li
    = render p, region: "沖縄県", kana: "おきなわけん", page: "Okinawa_Prefecture", pop: 1.5
    %ul
      %li= render p, region: "那覇市", kana: "なはし", page: "Naha", pop: 0.3
  %li
    = render p, region: "長崎県", kana: "ながさきけん", page: "Nagasaki_Prefecture", pop: 1.3
    %ul
      %li= render p, region: "長崎市", kana: "なかさきし", page: "Nagasaki", pop: 0.4
  %li
    = render p, region: "大分県", kana: "おおいたけん", page: "Ōita_Prefecture", pop: 1.1
    %ul
      %li= render p, region: "大分市", kana: "おおいたし", page: "Ōita_(city)", pop: 0.5
  %li
    = render p, region: "宮崎県", kana: "みやざきけん", page: "Miyazaki_Prefecture", pop: 1.0
    %ul
      %li= render p, region: "宮崎市", kana: "みやざきし", page: "Miyazaki_(city)", pop: 0.4
  %li
    = render p, region: "佐賀県", kana: "さがけん", page: "Saga_Prefecture", pop: 0.8
    %ul
      %li= render p, region: "佐賀市", kana: "さがし", page: "Saga_(city)", pop: 0.2
