- p = "pages/prefectures/wiki"

%h4= render p, region: "四国地方", kana: "しこくちほう", page: "Shikoku", pop: 3.8
%ul
  %li
    = render p, region: "愛媛県", kana: "えひめけん", page: "Ehime_Prefecture", pop: 1.3
    %ul
      %li= render p, region: "松山市", kana: "まつやまし", page: "Matsuyama", pop: 0.5
  %li
    = render p, region: "香川県", kana: "かがわけん", page: "Kagawa_Prefecture", pop: 0.9
    %ul
      %li= render p, region: "高松市", kana: "たかまつし", page: "Takamatsu,_Kagawa", pop: 0.4
  %li
    = render p, region: "高知県", kana: "こうちけん", page: "Kochi_Prefecture", pop: 0.8
    %ul
      %li= render p, region: "高知市", kana: "こうちし", page: "Kōchi_(city)", pop: 0.3
  %li
    = render p, region: "徳島県", kana: "とくしまけん", page: "Tokushima_Prefecture", pop: 0.7
    %ul
      %li= render p, region: "徳島市", kana: "とくしまし", page: "Tokushima_(city)", pop: 0.3
