.row
  .col-md-12
    = form_for todo, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        - shared = { form: f, object: todo, col: "md", pad: 3}
        = render "utils/text_field_for", shared.merge(param: :description, text: t("description"), width: 5)
        = render "utils/select_for", shared.merge(param: :priority, text: t("todo.priority"), menu: todo_priority_menu(todo.priority), width: 2)
        - unless todo.new_record?
          = render "utils/check_box_for", shared.merge(param: :done, text: t("todo.done"), width: 1)


      .row
        .col-md-offset-4.col-md-8
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), todos_path, class: "btn btn-default"
          - unless todo.new_record?
            = link_to t("delete"), todo, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
