= content_for :javascript do
  = render "form.js"

= form_for parking, html: { class: "form-horizontal" } do |f|
  - shared = { form: f, object: parking, col: "md", pad: 3 }
  = render "utils/select_completer_for", shared.merge(param: :vehicle_id, text: t("vehicle.vehicle"), menu: vehicle_menu(parking.vehicle_id), width: 2)
  = render "utils/select_for", shared.merge(param: :bay, text: t("flat.bay"), width: 2, menu: parking_bay_menu(parking.bay))
  = render "utils/text_field_for", shared.merge(param: :noted_at_string, text: t("parking.noted_at"), width: 4)
  = render "bay_map"
  .row.mt-3
    .offset-md-3.col-md-9
      = f.submit t("save"), class: "btn btn-primary"
      = link_to t("cancel"), parkings_path, class: "btn btn-secondary"
      - if can?(:create, Vehicle)
        = link_to t("vehicle.new"), new_vehicle_path, class: "btn btn-info"
