- parkings.matches.each do |parking|
  %tr
    %td.text-center= parking.noted_at.strftime("%a")
    %td.text-center= parking.noted_at.strftime("%d %b %y")
    %td.text-center= parking.noted_at.strftime("%H:%M")
    %td.text-center= parking.bay
    %td.text-center= link_to parking.flat.address, parking.flat if parking.flat
    %td.text-center= link_to parking.vehicle.registration, parking.vehicle
    - if can?(:delete, Parking)
      %td.text-center= link_to t("symbol.cross"), parking, class: "btn btn-default btn-xs", method: :delete, data: { confirm: t("sure") }

= render "utils/pagination_links", pager: parkings, columns: 5 + (can?(:delete, Parking) ? 1 : 0)
