%thead
  %tr
    %th.text-center.col-xs-1= t("day")
    %th.text-center= t("date")
    %th.text-center.col-xs-1= t("time")
    %th.text-center.col-xs-1= t("flat.bay")
    %th.text-center.col-xs-1= t("flat.flat")
    %th.text-center= t("vehicle.vehicle")
    - if extra
      %th.col-xs-1
%tbody
  - parkings.matches.each do |parking|
    %tr
      %td.text-center= parking.noted_at.strftime("%a")
      %td.text-center= parking.noted_at.strftime("%d %b %y")
      %td.text-center= parking.noted_at.strftime("%H:%M")
      %td.text-center= parking.bay == 0 ? t("parking.street") : parking.bay
      %td.text-center= link_to parking.flat.address, parking.flat if parking.flat
      %td.text-center= link_to parking.vehicle.registration, parking.vehicle
      - if extra
        %td.text-center
          - if parking.deletable?
            = link_to t("symbol.cross"), parking, class: "btn btn-secondary btn-sm", method: :delete, data: { confirm: t("sure") }

  = render "utils/pagination_links", pager: parkings, columns: extra ? 7 : 6
