= render "utils/title", key: "parking.parkings", header: true

= content_for :javascript do
  = render "parkings.js"

.text-center.top_margin
  = form_tag parkings_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = text_field_tag :term, params[:term], class: "form-control", placeholder: t("vehicle.vehicle"), size: 10
    .form-group
      = label_tag :vehicle, t("vehicle.vehicle"), class: "sr-only"
      = select_tag :vehicle, vehicle_search_menu(params[:vehicle]), class: "form-control auto-submit"
    .form-group
      = label_tag :bay, t("flat.bay"), class: "sr-only"
      = select_tag :bay, parking_bay_menu(params[:bay], search: true), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"
    = link_to t("reset"), "#", class: "btn btn-success", id: "reset"

= render "bay_map"

.row.top_margin
  .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    %table{id: "results", class: "table table-bordered table-striped"}
      = render "results", parkings: @parkings, extra: @extra

= render "residents/bottom_links", focus: :parking
