= render "utils/title", key: "parking.parkings", header: true

= content_for :javascript do
  = render "parkings.js"

.text-center.top_margin
  = form_tag parkings_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :vehicle, t("vehicle.vehicle"), class: "sr-only"
      = select_tag :vehicle, vehicle_search_menu(params[:vehicle]), class: "form-control auto-submit"
    .form-group
      = label_tag :bay, t("flat.bay"), class: "sr-only"
      = select_tag :bay, parking_bay_menu(params[:bay], search: true), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"
    = link_to t("reset"), "#", class: "btn btn-success", id: "reset"

.top_margin
  = render "bay_buttons", bay: @bay

.row.top_margin
  .col-xs-12.col-md-8.col-md-offset-2
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center.col-xs-1= t("day")
          %th.text-center= t("date")
          %th.text-center.col-xs-1= t("time")
          %th.text-center.col-xs-1= t("flat.bay")
          %th.text-center.col-xs-1= t("flat.flat")
          %th.text-center= t("vehicle.vehicle")
          - if can?(:delete, Parking)
            %th.col-xs-1
      %tbody{id: "results"}
        = render "results", parkings: @parkings

= render "residents/bottom_links", focus: :parking
