= render "utils/title", key: "parking.parkings", header: true

= content_for :javascript do
  = render "parkings.js"

= form_tag parkings_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = text_field_tag :term, params[:term], class: "form-control mr-1 mb-1", placeholder: t("vehicle.vehicle"), size: 10
  = label_tag :vehicle, t("vehicle.vehicle"), class: "sr-only"
  = select_tag :vehicle, vehicle_search_menu(params[:vehicle]), class: "form-control mr-1 mb-1 auto-submit"
  = label_tag :bay, t("flat.bay"), class: "sr-only"
  = select_tag :bay, parking_bay_menu(params[:bay], search: true), class: "form-control mr-1 mb-1 auto-submit"
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"
  = link_to t("reset"), "#", class: "btn btn-success mr-1 mb-1", id: "reset"

= render "bay_map"

.row.mt-3
  .col-sm-10.offset-sm-1.col-md-8.offset-md-2
    %table{id: "results", class: "table table-bordered table-striped table-sm"}
      = render "results", parkings: @parkings, extra: @extra

= render "residents/bottom_links", focus: :parking
