- sounds.matches.each do |sound|
  %tr
    %td= t("sound.categories.#{sound.category}")
    %td= link_to sound.short_name, sound
    %td.text-center= render "level", level: sound.level
= render "utils/pagination_links", pager: sounds, columns: 3
