= render "utils/title", text: @sound.short_name

- content_for :javascript do
  = render partial: "level_update", formats: :js, locals: { id: @sound.id }

.row
  %div{class: center(lg: 10, xx: 8)}
    %section
      .header.text-center
        %h5.d-inline= @sound.short_name
        %span#level
          = render "level", level: @sound.level
      .body
        %audio.d-table.ms-auto.me-auto{controls: "true"}
          %source{src: @sound.path, type: @sound.type}
        = @sound.note_html
      .footer
        = link_to t("sound.sounds"), sounds_path, class: "btn btn-success btn-sm"
