= render "utils/title", text: @sound.short_name

- content_for :javascript do
  = render partial: "level_update", formats: :js, locals: { id: @sound.id }

.row
  %div{class: center(lg: 10, xx: 8)}
    %section
      .header.text-center
        - if @prev
          = link_to t("symbol.prev"), @prev, class: "float-start"
        %h5.d-inline= @sound.short_name
        %span.ms-2#level
          = render "level", level: @sound.level
        - if @next
          = link_to t("symbol.next"), @next, class: "float-end"
      .body
        %audio.d-table.ms-auto.me-auto{controls: "true"}
          %source{src: @sound.path, type: @sound.type}
        - if @sound.note.present?
          %hr
          = @sound.note_html
      .footer
        - if can?(:edit, @sound)
          = link_to t("sound.edit"), edit_sound_path(@sound), class: "blue-btn"
        = link_to t("sound.sounds"), sounds_path, class: "green-btn"
