- radicals.matches.each do |radical|
  %tr.d-flex
    %td.col-2= link_to radical.name, radical
    %td.col-1.text-center= radical.character
    %td.col-8= radical.mnemonic.truncate(60)
    %td.col-1.text-center= radical.level
= render "utils/pagination_links", pager: radicals, columns: 2
