:ruby
  lo = Layout.new(
    xx: [1,1,1,1],
    xl: [2,1,1,2],
    lg: [2,2,2,2],
    sm: [[3,3],[3,3]],
    xs: [[4,4],[4,4]],
  ).to_a
  inputs = [
    [:rquery, t("wk.radical.radical"), :text,   lo[0], placeholder: t("wk.radical.radical")],
    [:level,  t("wk.level"),           :select, lo[1], menu: wk_level_menu(params[:level])],
    [:id,     t("wk.id"),              :text,   lo[2], placeholder: t("wk.short.id")],
    [:order,  t("order"),              :select, lo[3], menu: wk_radical_order_menu(params[:order])],
  ]

= render "utils/title", key: "wk.radical.radicals"

%section
  .header.text-center
    %h3= t("wk.radical.radicals")
  .body
    = render "utils/search/form", index: wk_radicals_path, inputs: inputs, remote: false
    %table{class: "table table-bordered table-sm mt-3"}
      %thead
        %tr.d-flex
          %th.col-2.text-center= t("wk.radical.name")
          %th.col-1.text-center= t("wk.short.character")
          %th.col-8.text-center= t("wk.hint.mnemonic")
          %th.col-1.text-center= t("wk.level")
      %tbody
        = render "results", radicals: @radicals
  .footer
    = link_to t("wk.kanji.kanjis"), last_search(wk_kanjis_path), class: "btn btn-success btn-sm"
    = link_to t("wk.vocab.vocabs"), last_search(wk_vocabs_path), class: "btn btn-success btn-sm"
