= render "utils/title", key: "tax.taxes"

.text-center
  = form_tag taxes_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :year_number, t("tax.year"), class: "sr-only"
      = select_tag :year_number, tax_year_menu(@year_number), class: "form-control auto-submit"
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("description")
          %th.text-center= t("tax.income")
          %th.text-center= t("tax.paid")
          %th.text-center= t("tax.free")
          %th.text-center= t("tax.times")
      %tbody{id: "results"}
        = render "results", taxes: @taxes

#buttons.text-center
  = render "buttons", year_number: @year_number
