= render "utils/title", text: @tax.description

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("description")
          %td= @tax.description
        %tr
          %th= t("tax.year")
          %td= @tax.tax_year
        %tr
          %th= t("tax.income")
          %td= @tax.income
        %tr
          %th= t("tax.paid")
          %td= @tax.paid
        %tr
          %th= t("tax.free")
          %td= @tax.free
        %tr
          %th= t("tax.times")
          %td= @tax.times

.text-center
  = link_to t("tax.taxes"), taxes_path(year_number: @tax.year_number), class: "btn btn-success"
  - if can?(:manage, Tax)
    = link_to t("edit"), edit_tax_path(@tax), class: "btn btn-info"
