= render "utils/title", text: t("vehicle.vehicle"), header: true

.row
  .offset-md-3.col-md-6
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("vehicle.registration")
          %td= @vehicle.registration
        %tr
          %th= t("description")
          %td= @vehicle.description
        %tr
          %th= t("owner")
          %td= link_to @vehicle.resident.name, @vehicle.resident if @vehicle.resident

= render "residents/bottom_links", focus: :vehicle, vehicle: @vehicle
