.row
  .col-md-10
    = form_for interface, html: { class: "form-horizontal" } do |f|
      %fieldset
        - shared = { form: f, object: interface, col: "md", pad: 3, width: 5}
        = render "utils/text_field_for", shared.merge(param: :name, text: t("interface.name"))
        = render "utils/text_field_for", shared.merge(param: :mac_address, text: t("interface.mac_address"), width: 4)
        = render "utils/text_field_for", shared.merge(param: :ip_address, text: t("interface.ip_address"), width: 4)
        = render "utils/text_field_for", shared.merge(param: :manufacturer, text: t("interface.manufacturer"))
        = render "utils/select_for", shared.merge(param: :device_id, text: t("device.device"), menu: interface_device_menu(interface))

      .row
        .offset-md-3.col-md-9
          = f.submit t("save"), class: "btn btn-primary"
          = link_to t("cancel"), interface.new_record?? interfaces_path : interface, class: "btn btn-secondary"
          - unless interface.new_record?
            = link_to t("delete"), interface, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
