= render "utils/title", key: "interface.interfaces"

.text-center
  = form_tag interfaces_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :q, t("query"), class: "sr-only"
      = text_field_tag :q, params[:q], class: "form-control", size: 16, placeholder: t("interface.interface")
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-xs-12.col-md-10.col-md-offset-1
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("interface.name")
          %th= t("interface.mac_address")
          %th= t("interface.ip_address")
          %th= t("interface.manufacturer")
          %th= t("device.device")
      %tbody{id: "results"}
        = render "results", interfaces: @interfaces

.text-center.top_margin
  - if can?(:create, Interface)
    = link_to t("interface.new"), new_interface_path, class: "btn btn-info"
  = link_to t("device.devices"), devices_path, class: "btn btn-success"
