= render "utils/title", key: "hl.upload.uploads"

.row
  .col-md-offset-1.col-md-10
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center= t("name")
          %th.text-center= t("date")
          %th.text-center= t("size")
          %th.text-center= t("hl.upload.content_type")
          %th.text-center= t("error")
          %th.text-center= t("hl.transaction.transactions")
      %tbody
        - @uploads.matches.each do |upload|
          %tr
            %td= link_to upload.name, upload
            %td.text-center= upload.created_at.to_s(:nosec)
            %td.text-center= upload.size
            %td= upload.content_type
            %td.text-center= t(upload.error.blank?? "tick" : "cross")
            %td.text-center= link_to_if upload.transactions.size > 0, upload.transactions.size, transactions_path(upload_id: upload.id), class: "btn btn-info btn-xs"
        = render "utils/pagination_links", pager: @uploads, columns: 6

.text-center
  = link_to t("hl.upload.new"), new_upload_path, class: "btn btn-primary"

