- content_for :title, t("upload.uploads")

%h1.text-center= t("upload.uploads")

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center= t("name")
          %th.text-center= t("date")
          %th.text-center= t("size")
          %th.text-center= t("upload.content_type")
          %th.text-center= t("upload.parsed")
          %th.text-center= t("error")
      %tbody
        - @uploads.each do |upload|
          %tr
            %td= link_to upload.name, upload
            %td.text-center= upload.created_at.to_s(:nosec)
            %td.text-center= upload.size
            %td= upload.content_type
            %td.text-center= t(upload.parsed ? "tick" : "cross")
            %td.text-center= t(upload.error.blank?? "tick" : "cross")
