= render "utils/title", key: "upload.uploads"

.row
  .col-md-offset-1.col-md-10
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center= t("name")
          %th.text-center= t("date")
          %th.text-center= t("size")
          %th.text-center= t("upload.content_type")
          %th.text-center= t("error")
          %th.text-center= t("transaction.transactions")
      %tbody{id: "results"}
        = render "results", uploads: @uploads

.text-center
  = link_to t("transaction.summary"), summary_transactions_path, class: "btn btn-success"
  = link_to t("transaction.transactions"), transactions_path, class: "btn btn-success"
  = link_to t("upload.new"), new_upload_path, class: "btn btn-info"
