= render "utils/title", key: "upload.new"

.row
  .col-md-12
    = form_for @upload, html: { class: "form-horizontal", role: "form", multipart: true } do |f|
      %fieldset
        - shared = { form: f, object: @upload, col: "md", pad: 4 }
        = render "utils/select_for", shared.merge(param: :account, text: t("upload.account.acc"), width: 4, menu: upload_account_menu(@upload))
        = render "utils/file_field_for", shared.merge(param: :file, text: t("upload.file"), width: 4)
      .row
        .col-md-offset-4.col-md-8
          = f.submit t("upload.load"), class: "btn btn-info"
          = link_to t("cancel"), uploads_path, class: "btn btn-default"
