= render "utils/title", key: "hl.upload.upload"

.row
  .col-md-12
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("name")
          %td= @upload.name
          %th= t("created_at")
          %td= @upload.created_at.to_s(:db)
        %tr
          %th= t("hl.upload.content_type")
          %td= @upload.content_type
          %th= t("size")
          %td= @upload.size.to_s
        - if @upload.error.present?
          %tr
            %th= t("error")
            %td{colspan: 3}= @upload.error
        %tr
          %th= t("hl.transaction.transactions")
          %td{colspan: 3}= link_to_if @transactions.size > 0, @transactions.size, transactions_path(upload_id: @upload.id), class: "btn btn-info btn-xs"
        %tr
          %th.text-center{colspan: 4}= t("hl.upload.content")
        %tr
          %td{colspan: 4}
            %pre= @upload.content
    .text-center
      = link_to t("delete"), upload_path(@upload), data: { confirm: "Sure?" }, method: :delete, class: "btn btn-danger"
