- transactions.matches.each do |t|
  - style, color = classifier_style(t.classifier)
  %tr
    %td.text-center= transaction_date(t.date)
    %td.text-center{style: style}= t.category
    %td{style: style}= t.description
    %td{style: style}= t.amount
    %td= t.balance
    %td= t("transaction.accounts.#{t.account}")
    %td.text-center
      - if t.classifier
        = link_to(t("symbol.separator"), t.classifier, style: color)
      - else
        %button.btn.btn-sm.approval-button{"data-transaction" => t.id, type: "button"}= t("transaction.symbol.#{t.approved ? 'approved' : 'unapproved'}")
= render "utils/pagination_links", pager: transactions, columns: 7
