- transactions.matches.each do |t|
  - style, color = classifier_style(t.classifier)
  %tr
    %td.text-center= transaction_date(t.date)
    %td.text-center{style: style}= t.category
    %td{style: style}= t.description
    %td{style: style}= t.amount
    %td= t.balance
    %td= t("transaction.accounts.#{t.account}")
    %td.text-center
      - if t.classifier
        = link_to t("symbol.separator"), t.classifier, style: color, "data-turbo" => "false"
      - else
        %button.btn.btn-sm.approval-button{
          type: "button",
          "data-controller" => "approval",
          "data-approval-tid-value" => t.id,
          "data-action" => "approval#toggle",
        }= t("transaction.symbol.#{t.approved ? 'approved' : 'unapproved'}")
= render "utils/pagination_links", pager: transactions, columns: 7
