- transactions.matches.each do |t|
  - style = classifier_style(t.classifier)
  %tr
    %td.text-center= t.date
    %td.text-center{style: style}= t.category
    %td{style: style}= t.description
    %td{style: style}= t.amount
    %td= t.balance
    %td= t("transaction.accounts.#{t.account}")
    %td.text-center= link_to("c", t.classifier) if t.classifier
= render "utils/pagination_links", pager: transactions, columns: 7
