- style, color = classifier_style(t.classifier)
%tr
  %td.text-center= transaction_date(t.date)
  %td.text-center{style: style}= t.category
  %td{style: style}= t.description
  %td{style: style}= t.amount
  %td= t.balance
  %td= t("transaction.accounts.#{t.account}")
  %td.text-center
    - if t.classifier
      = link_to t("symbol.separator"), t.classifier, style: color, "data-turbo" => "false"
    - else
      = render "approve", transaction: t
