:ruby
  lo = Sni::Layout.call(
    lg: [[2,2,2],[2,2,2], [2,2,2]],
    md: [[3,3,3],[3,3,3], [3,3,3]],
    xs: [[4,4,4],[4,4,4], [4,4,4]],
  )
  inputs = [
    [:description,   t("transaction.description"), :text,   lo[0], size: 20, placeholder: t("transaction.description")],
    [:amount,        t("transaction.amount"),      :text,   lo[1], size: 20, placeholder: t("transaction.amount")],
    [:upload_id,     t("transaction.upload"),      :text,   lo[2], size: 20, placeholder: t("transaction.upload")],
    [:account,       t("transaction.account"),     :select, lo[3], menu: transaction_account_menu(params[:account])],
    [:category,      t("favourite.category"),      :select, lo[4], menu: transaction_category_menu(params[:category])],
    [:classifier_id, t("classifier.classifiers"),  :select, lo[5], menu: transaction_classifier_menu(params[:classifier_id])],
    [:date,          t("transaction.date"),        :text,   lo[6], size: 20, placeholder: t("transaction.date"), value: @corrections[:date] || params[:date]],
    [:days,          t("transaction.days"),        :text,   lo[7], size: 20, placeholder: t("transaction.days"), value: @corrections[:days] || params[:days]],
    [:order,         t("order"),                   :select, lo[8], menu: transaction_order_menu(params[:order])],
  ]

= render "utils/title", key: "transaction.transactions"

%section.mt-3
  .header
    .d-flex.justify-content-between.align-items-center
      %h3.mb-0= t("transaction.transactions")
      = link_to t("classifier.classifiers"), classifiers_path, class: "green-btn"
  .body
    = render "utils/search/form", index: transactions_path, inputs: inputs
    = turbo_frame_tag :results, "data-turbo-action" => "advance" do
      %div
        = render "averages", averages: @averages
      %div.d-none{
        "data-controller" => "correction",
        "data-correction-date-value" => @corrections[:date],
        "data-correction-days-value" => @corrections[:days],
        "data-correction-ulid-value" => @corrections[:ulid],
      }
      %table.table.table-bordered.table-sm.mt-3
        %thead
          %tr
            %th.text-center= t("transaction.date")
            %th.text-center= t("transaction.category")
            %th= t("transaction.description")
            %th= t("transaction.amount")
            %th= t("transaction.balance")
            %th= t("transaction.account")
            %th
        %tbody
          = render partial: "t", collection: @transactions.matches
          = render "utils/pagination_links", pager: @transactions, columns: 7

= form_with url: upload_transactions_path, multipart: true do |form|
  = form.file_field :file
  = form.submit t("transaction.analyse")
