= render "utils/title", key: "transaction.transactions"

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center= t("transaction.trade_date")
          %th.text-center= t("transaction.value")
          %th= t("transaction.description")
      %tbody
        - @transactions.matches.each do |transaction|
          %tr
            %td.text-center= transaction.trade_date
            %td.text-right{style: "padding-right: 3em; padding-left: 0;"}= "%.2f" % transaction.value
            %td= link_to transaction.description, transaction
        = render "utils/pagination_links", pager: @transactions, columns: 3

.text-center
  = link_to t("upload.uploads"), uploads_path, class: "btn btn-primary"
