= render "utils/title", key: "transaction.transactions"

.text-center
  = form_tag transactions_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :description, t("transaction.description"), class: "sr-only"
      = text_field_tag :description, params[:description], class: "form-control", placeholder: t("transaction.description"), size: 20
    .form-group
      = label_tag :reference, t("transaction.reference"), class: "sr-only"
      = text_field_tag :reference, params[:reference], class: "form-control", placeholder: t("transaction.reference"), size: 20
    .form-group
      = label_tag :reference, t("upload.id"), class: "sr-only"
      = text_field_tag :upload_id, params[:upload_id], class: "form-control", placeholder: t("upload.id"), size: 10
    = button_tag t("search"), type: "submit", class: "btn btn-success"
%p

.row
  .col-md-offset-1.col-md-10
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.col-md-2.text-center= t("transaction.trade_date")
          %th.col-md-1.text-center= t("transaction.value")
          %th.col-md-6= t("transaction.description")
          %th.col-md-3= t("transaction.reference")
      %tbody{id: "results"}
        = render "results", transactions: @transactions

.text-center
  = link_to t("transaction.summary"), summary_transactions_path, class: "btn btn-success"
  = link_to t("upload.uploads"), uploads_path, class: "btn btn-success"
