- content_for :title, t("hl.transaction.transaction")

%h1.text-center= t("hl.transaction.transaction")

.row
  .col-md-12
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("hl.transaction.trade_date")
          %td= @transaction.trade_date
          %th= t("hl.transaction.settle_date")
          %td= @transaction.settle_date
        %tr
          %th= t("hl.transaction.reference")
          %td= @transaction.reference
          %th= t("hl.transaction.description")
          %td= @transaction.description
        %tr
          %th= t("hl.transaction.cost")
          %td= @transaction.cost
          %th= t("hl.transaction.quantity")
          %td= @transaction.quantity
        %tr
          %th= t("hl.transaction.value")
          %td= @transaction.value
          %th= t("created_at")
          %td= link_to @transaction.created_at.to_s(:db), @transaction.upload
