= render "utils/title", key: "expense.expenses"

.text-center
  = render "categories", category: @category
  - if can?(:create, Expense)
    = link_to t("expense.new"), new_expense_path, class: "btn btn-info"

.row.mt-3
  .offset-md-1.col-md-10
    %table{class: "table table-bordered table-striped table-sm"}
      %thead
        %tr
          %th.text-center= t("description")
          %th.text-center= t("expense.category.category")
          %th.text-center= t("expense.period.period")
          %th.text-center= t("amount")
          %th.text-center= t("annual")
          - if can?(:edit, Expense)
            %th
      %tbody
        - total = 0
        - @expenses.each do |expense|
          - total += expense.annual
          %tr
            %td= expense.description
            %td.text-center= t("expense.category.#{expense.category}")
            %td.text-center= t("expense.period.#{expense.period}")
            %td.text-right= "%.2f" % expense.amount
            %td.text-right= expense.annual
            - if can?(:edit, Expense)
              %td.text-center
                = link_to t("edit"), edit_expense_path(expense), class: "btn btn-info btn-sm"
        %tr
          %th.text-right{colspan: 4}= t("total")
          %th.text-right= total
          - if can?(:edit, Expense)
            %td
