= render "utils/title", key: "marriage.marriages"

.text-center
  = form_tag marriages_path, method: :get, remote: true, class: "form-inline", role: "form" do
    .form-group
      = label_tag :wedding, t("marriage.wedding"), class: "sr-only"
      = text_field_tag :wedding, params[:wedding], class: "form-control", placeholder: t("marriage.wedding"), size: 12
    = button_tag t("search"), type: "submit", class: "btn btn-success"

%p

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("marriage.wedding")
          %th= t("marriage.husband")
          %th= t("marriage.wife")
      %tbody{id: "results"}
        = render "results", marriages: @marriages

.text-center
  - if can?(:create, Marriage)
    = link_to t("marriage.new"), new_marriage_path, class: "btn btn-info"
