.row
  .col-md-12
    = form_for verb, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        - shared = { form: f, object: verb, col: "md", pad: 2 }
        = render "utils/text_field_for", shared.merge(param: :kanji, text: t("vocab.kanji"), width: 4)
        = render "utils/text_field_for", shared.merge(param: :reading, text: t("vocab.reading"), width: 4)
        = render "utils/text_field_for", shared.merge(param: :meaning, text: t("vocab.meaning"), width: 7)
        = render "utils/select_for", shared.merge(param: :category, text: t("verb.category"), width: 3, menu: verb_category_menu(verb.category))
        = render "utils/check_box_for", shared.merge(param: :transitive, text: t("verb.transitivity"), width: 4)
      .row
        .col-md-offset-4.col-md-8
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), verb.new_record?? verbs_path : verb, class: "btn btn-default"
          - unless verb.new_record?
            = link_to t("delete"), verb, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
