- masses.matches.each do |mass|
  %tr
    %td.text-center= mass.date
    %td.text-center= unit.to_s(mass.start)
    %td.text-center= unit.to_s(mass.finish)
    - if can?(:create, Mass)
      %td.text-center
        = link_to t("edit"), edit_mass_path(mass), class: "btn btn-info btn-sm"
= render "utils/pagination_links", pager: masses, columns: 3 + (can?(:create, Mass) ? 1 : 0)
