- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi"
- content_for :javascript do
  = render partial: "draw_graph", formats: :js, locals: { mgd: @mgd }

= render "utils/title", key: "mass.data"

#chart{style: "height: #{@mgd.full_height}px"}

.text-center.mt-3
  %span{id: "control_buttons"}= render "control_buttons", unit: @unit, mgd: @mgd
  - if can?(:create, Mass)
    = link_to t("mass.new"), new_mass_path, class: "btn btn-primary btn-sm"
