- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi"
- content_for :javascript do
  = render "draw_graph.js", mgd: @mgd

= render "utils/title", key: "mass.data"

#chart{style: "height: #{@mgd.full_height}px"}

%p

.text-center
  %span{id: "unit_buttons"}= render "unit_buttons", unit: @unit, path: :graph_masses_path
  - if can?(:create, Mass)
    = link_to t("mass.new"), new_mass_path, class: "btn btn-info"
