- content_for :head do
  = javascript_include_tag "https://www.google.com/jsapi"
- content_for :javascript do
  = render "graph.js", mgd: @mgd

= render "utils/title", key: "mass.data"

#chart{style: "height: #{@mgd.full_height}px"}

%p

.text-center
  = link_to t("list"), masses_path(unit: @unit.key), class: "btn btn-success"
  = render "units", unit: @unit, path: :graph_masses_path
  - if can?(:create, Mass)
    = link_to t("mass.new"), new_mass_path, class: "btn btn-info"
