= render "utils/title", key: "mass.data"

.row
  %div{class: Sni::Center.call(sm: 10, md: 8, lg: 6)}
    %section
      = turbo_frame_tag :results, "data-turbo-action" => "advance" do
        .header.text-center
          %h3= t("mass.data")
        .body
          %table{class: "table table-bordered table-sm"}
            %thead
              %tr
                %th.text-center= t("mass.date")
                %th.text-center= t("mass.start")
                %th.text-center= t("mass.finish")
                %th.text-center= t("mass.start_2")
                %th.text-center= t("mass.finish_2")
                - if can?(:create, Mass)
                  %th
            %tbody
              = render partial: "mass", collection: @masses.matches, locals: { unit: @unit }
              = render "utils/pagination_links", pager: @masses, columns: 5 + (can?(:create, Mass) ? 1 : 0)
        .footer
          - Mass::UNITS.keys.each do |u|
            - if u == @unit.key
              .btn.btn-secondary.btn-sm.mb-1= t("mass.unit.short.#{u}")
            - else
              = link_to t("mass.unit.short.#{u}"), @masses.page_path(unit: u), class: "green-btn", "data-turbo-frame" => "results"
          = link_to t("graph"), weight_path(unit: @unit.key), class: "green-btn", "data-turbo-frame" => "_top"
          - if can?(:view, MassEvent)
            = link_to t("mass.event.events"), mass_events_path, class: "green-btn", "data-turbo-frame" => "_top"
          - if can?(:create, Mass)
            = link_to t("mass.new"), new_mass_path, class: "blue-btn", "data-turbo-frame" => "_top"
