= render "utils/title", key: "kg.data"

.row
  .col-md-offset-3.col-md-6
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center= t("kg.date")
          %th.text-center= t("kg.start")
          %th.text-center= t("kg.finish")
          %th
      %tbody
        - @masses.matches.each do |mass|
          %tr
            %td.text-center= mass.date
            %td.text-center= "%.1f" % mass.start if mass.start.present?
            %td.text-center= "%.1f" % mass.finish if mass.finish.present?
            %td.text-center
              = link_to t("edit"), edit_mass_path(mass), class: "btn btn-info btn-xs"
        = render "utils/pagination_links", pager: @masses, columns: 4

.text-center
  = link_to t("kg.graph"), graph_masses_path, class: "btn btn-primary"
  = link_to t("kg.new"), new_mass_path, class: "btn btn-primary"
