.row
  .col-md-offset-2.col-md-8
    = form_for fund, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        .form-group{class: fund.errors[:name].any? ? "has-error" : ""}
          = f.label :name, t("name"), class: "control-label col-md-3"
          %div{class: "col-md-6"}= f.text_field :name, class: "form-control"
          %div{class: "col-md-3 help-block"}= fund.errors[:name].first
        .form-group{class: fund.errors[:company].any? ? "has-error" : ""}
          = f.label :company, t("fund.company"), class: "control-label col-md-3"
          %div{class: "col-md-6"}= f.text_field :company, class: "form-control"
          %div{class: "col-md-3 help-block"}= fund.errors[:company].first
        .form-group{class: fund.errors[:category].any? ? "has-error" : ""}
          = f.label :category, t("fund.category"), class: "control-label col-md-3"
          %div{class: "col-md-4"}= f.select :category, fund_category_menu(fund.category), {}, class: "form-control input-sm"
          %div{class: "col-md-5 help-block"}= fund.errors[:category].first
        .form-group{class: fund.errors[:risk_reward_profile].any? ? "has-error" : ""}
          = f.label :risk_reward_profile, t("fund.risk_reward_profile"), class: "control-label col-md-3"
          %div{class: "col-md-2"}= f.text_field :risk_reward_profile, class: "form-control"
          %div{class: "col-md-7 help-block"}= fund.errors[:risk_reward_profile].first
        .form-group{class: fund.errors[:annual_fee].any? ? "has-error" : ""}
          = f.label :annual_fee, t("fund.annual_fee"), class: "control-label col-md-3"
          %div{class: "col-md-2"}= f.text_field :annual_fee, class: "form-control"
          %div{class: "col-md-7 help-block"}= fund.errors[:annual_fee].first
        .form-group{class: fund.errors[:performance_fee].any? ? "has-error" : ""}
          = f.label :performance_fee, t("fund.performance_fee"), class: "control-label col-md-3"
          %div{class: "col-md-1"}= f.check_box :performance_fee, { class: "form-control" }
          %div{class: "col-md-8 help-block"}= fund.errors[:performance_fee].first
      .row
        .col-md-offset-4.col-md-8
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), fund.new_record?? funds_path : fund, class: "btn btn-default"
          - unless fund.new_record?
            = link_to t("delete"), fund, class: "btn btn-danger", method: :delete, data: { confirm: "Sure?" }
