.row
  .col-md-offset-2.col-md-8
    = form_for fund, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        - shared = { form: f, object: fund, col: "md", pad: 3 }
        = render "utils/text_field_for", shared.merge(param: :name, text: t("fund.name"), width: 6)
        = render "utils/text_field_for", shared.merge(param: :company, text: t("fund.company"), width: 6)
        = render "utils/select_for", shared.merge(param: :category, text: t("fund.category"), width: 4, menu: fund_category_menu(fund.category))
        = render "utils/select_for", shared.merge(param: :sector, text: t("fund.sector"), width: 4, menu: fund_sector_menu(fund.sector))
        = render "utils/select_for", shared.merge(param: :star, text: t("fund.star"), width: 4, menu: fund_star_menu(fund.star))
        = render "utils/text_field_for", shared.merge(param: :size, text: t("fund.size"), width: 3)
        = render "utils/text_field_for", shared.merge(param: :risk_reward_profile, text: t("fund.risk_reward_profile"), width: 2)
        = render "utils/text_field_for", shared.merge(param: :annual_fee, text: t("fund.annual_fee"), width: 2)
        = render "utils/check_box_for", shared.merge(param: :performance_fee, text: t("fund.performance_fee"), width: 1)
      .row
        .col-md-offset-3.col-md-9
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), fund.new_record?? funds_path : fund, class: "btn btn-default"
          - unless fund.new_record?
            = link_to t("delete"), fund, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
