= render "utils/title", key: "fund.funds"

.row
  .col-md-12
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th= t("name")
          %th.text-center= t("fund.short.srri")
          %th.text-center= t("return.short.average_return")
          %th.text-center= t("fund.short.annual_fee")
          %th.text-center= t("fund.stars.stars")
          %th.text-center= t("fund.short.size")
          %th= t("fund.sector")
          %th= t("fund.category.category")
          - if can?(:create, Fund)
            %th
      %tbody{id: "results"}
        = render "results", funds: @funds

.text-center
  - if can?(:create, Fund)
    = link_to t("fund.new"), new_fund_path, class: "btn btn-info"
