= render "utils/title", text: @fund.name, header: true

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("fund.risk_reward_profile")
          %td= @fund.risk_reward_profile
        %tr
          %th= t("return.average")
          %td= @fund.average_return
        %tr
          %th= t("fund.annual_fee")
          %td= @fund.formatted_annual_fee
        %tr
          %th= t("fund.performance_fee")
          %td= @fund.performance_fee ? t("yes") : t("no")
        %tr
          %th= t("fund.sector")
          %td= @fund.sector
        %tr
          %th= t("fund.category.category")
          %td= t("fund.category.#{@fund.category}")
        %tr
          %th= t("fund.size")
          %td= @fund.size
        %tr
          %th= t("fund.company")
          %td= @fund.company

.text-center
  = link_to t("fund.funds"), funds_path, class: "btn btn-success"
  = link_to t("edit"), edit_fund_path(@fund), class: "btn btn-info"
  = link_to t("return.new"), new_fund_return_path(@fund), class: "btn btn-info"
  = link_to t("comment.new"), new_fund_comment_path(@fund), class: "btn btn-info"

= render "returns/index", returnable: @fund, returns: @fund.returns
= render "comments/index", commentable: @fund, comments: @fund.comments, date_format: "%b %Y"
