- case test.testable_type
  - when "Wk::Example"
    - example = test.testable
    = example.english
  - when "Place"
    - place = test.testable
    = link_to place.jname, place
  - when "Border"
    - border = test.testable
    = link_to border.from.jname, border.from
    = t("border.directions.#{border.direction}", locale: "jp")
  - else
    = test.id
