:ruby
  lo = Layout.new(
    md: [2,2,2,2,2],
    sm: [[3,3,3],[4,2]],
    xs: [[4,4,4],[4,4]],
  ).to_a
  inputs = [
    [:type,   t("test.type"),   :select, lo[0], menu: test_type_menu(params[:type])],
    [:order,  t("order"),       :select, lo[1], menu: test_order_menu(params[:order])],
    [:last,   t("test.last"),   :select, lo[2], menu: test_last_menu(params[:last])],
    [:filter, t("test.filter"), :text,   lo[3], size: 10],
    [:number, t("test.number"), :select, lo[4], menu: test_number_menu(params[:number])],
  ]
  ids = @tests.matches.map(&:id)

= render "utils/title", key: "test.tests"

.row
  %div{class: center(xs: 12, md: 10, lg: 8, xl: 6)}
    %section
      .header.text-center
        %h3= t("test.tests")
      .body
        = render "utils/search/form", index: tests_path, inputs: inputs, remote: false
        %table{class: "table table-bordered table-sm mt-3"}
          %thead
            %tr
              %th.text-center= t("test.short.type")
              %th= t("test.subject")
              %th.text-center= t("test.short.attempts")
              %th.text-center= t("test.short.poor")
              %th.text-center= t("test.short.fair")
              %th.text-center= t("test.short.good")
              %th.text-center= t("test.short.excellent")
              %th.text-center= t("test.short.level")
              %th.text-center= t("test.short.last")
              %th.text-center= t("test.short.due")
          %tbody{id: "results"}
            = render "results", tests: @tests
      - unless ids.empty?
        .footer
          = link_to t("test.review"), review_tests_path(ids: ids), class: "blue-btn"
