%h1.text-center
  - (1..@total).each do |n|
    - style = n == @number ? "dark" : test_style(@answers[n-1])
    %span.badge{class: "badge-#{style}"}= n

- if @test
  .row.mt-3
    %div{class: center(xs: 12, md: 10, lg: 8, xl: 6)}
      .row
        .col-1
        - Test::ANSWERS.each do |ans|
          .col-2.text-centre
            = form_for @test do |form|
              = form.hidden_field(:last, value: ans)
              = form.submit t("test.answers.#{ans}"), class: "btn btn-#{test_style(ans)}"
- else
  .text-center.mt-3
    = link_to t("test.tests"), last_search(tests_path), class: "btn btn-info"
