= render "utils/title", text: t("test.review")

- content_for :javascript do
  = render partial: "review", formats: :js, locals: { ids: @tests.map(&:id) }

- skip = test_btn_style("skip")

%p.text-center
  - @tests.each_with_index do |t, i|
    - n = i + 1
    %button.btn.btn-sm{id: "top-number-#{t.id}", class: skip}= n

.row.mt-4.ml-1.mr-1
  %div{class: center(xs: 12, md: 10, xl: 8)}
    - @tests.each_with_index.reverse_each do |t, i|
      - n = i + 1
      .row.border{id: "test-#{t.id}"}
        .col-2.col-sm-1.text-center
          %button.btn.btn-sm.mt-4{id: "row-number-#{t.id}", class: skip}= n
        .col-10.col-sm-11
          .row.border-left.border-bottom.p-2
            .col-12= render "question", test: t
          .row.border-left.border-bottom.p-2{id: "answer-#{t.id}"}
            .col-12= render "answer", test: t
          .row.border-left.border-bottom.p-2{id: "show-#{t.id}"}
            .col-12.text-center
              %button.btn.btn-sm.btn-dark.show{"data-tid" => t.id}= t("test.show")
          .row.border-left.border-bottom.p-2{id: "buttons-#{t.id}"}
            = render "buttons", test: t

.text-center.mt-4
  = link_to t("test.tests"), last_search(tests_path), class: "btn btn-info", id: "back"
