= render "pages/risle/bay_group", x: 200,  y: 700, r:   0, ids: [44, 32, 37, 30, 40, 41]
= render "pages/risle/bay_group", x: 200,  y: 532, r:   0, ids: [23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13]
= render "pages/risle/bay_group", x: 630,  y: 532, r:   0, ids: [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
= render "pages/risle/bay_group", x: 450,  y: 894, r: -90, ids: [26, 25, 24]
= render "pages/risle/bay_group", x: 680,  y: 792, r:  90, ids: [29, 28, 27]
= render "pages/risle/bay_group", x: 700,  y: 700, r:   0, ids: [31, 33, 34, 35, 36, 38, 39, 49]
= render "pages/risle/bay_group", x: 1200, y: 630, r: -35, ids: [66, 42, 43, 45, 46]
= render "pages/risle/bay_group", x: 1380, y: 501, r: -35, ids: [47, 48, 50, 75]
= render "pages/risle/bay_group", x: 1476, y: 528, r:  55, ids: [52, 51]
= render "pages/risle/bay_group", x: 1310, y: 100, r: -19, ids: [88, 89, 90], bw: 66, bh: 34
= render "pages/risle/bay_group", x: 1284, y: 348, r: -19, ids: [79, 78, 77, 76, 85, 84, 83, 82, 81, 80]
= render "pages/risle/bay_group", x: 1522, y: 584, r: -35, ids: [71, 53, 54, 55, 56, 57, 58]
= render "pages/risle/bay_group", x: 1686, y: 268, r:  60, ids: [86, 87, 72, 73, 74]
= render "pages/risle/bay_group", x: 1780, y: 415, r:  50, ids: [59, 60, 61, 62, 63, 64]
= render "pages/risle/bay_group", x: 1875, y: 333, r:  50, ids: [65, 67, 68, 69, 70]
