%g{transform: "translate(#{x},#{y}) rotate(#{r})"}
  - ids.each_with_index do |id, i|
    %use{id: "bay-#{id}", x:  "#{34 * i}", y: "0", "xlink:href" => "#bay", "data-bay" => id}
    %text{x: "#{8 + 34 * i}", y: "38", fill: "white", "font-family" => "Verdana", "font-size" => "15px"}= id
