= render "pages/risle/binhut", x:  170, y: 650, r:  90
= render "pages/risle/binhut", x:  450, y: 738, r: -90, bw: 50, bh: 30
= render "pages/risle/binhut", x:  648, y: 738, r:  90, bw: 50, bh: 30
= render "pages/risle/binhut", x: 1070, y: 534, r:   0, bw: 50, bh: 30
= render "pages/risle/binhut", x: 1514, y: 632, r:  35, bw: 50, bh: 30
= render "pages/risle/binhut", x: 1642, y: 248, r:  19, bw: 50, bh: 30
