= render "pages/risle/binhut", x:  168, y: 650, r:  90, bw: 30, bh: 24
= render "pages/risle/binhut", x:  450, y: 738, r: -90
= render "pages/risle/binhut", x:  648, y: 738, r:  90
= render "pages/risle/binhut", x: 1070, y: 534, r:   0
= render "pages/risle/binhut", x: 1514, y: 632, r:  35
= render "pages/risle/binhut", x: 1676, y: 216, r:  19
