= render "pages/risle/building", num:  5, x: 1428, y: 128, r: -19, x2: 220, y3: 130
= render "pages/risle/building", num:  6, x: 1220, y: 200, r: -19, x2: 220, y3: 130
= render "pages/risle/building", num:  7, x: 1580, y: 670, r: -35, x2: 240
= render "pages/risle/building", num:  9, x: 1280, y: 710, r: -35, x2: 120, x4:  -48
= render "pages/risle/building", num:  9, x: 1160, y: 710, r:   0, x2: 120, x3:  166
= render "pages/risle/building", num: 10, x: 1040, y: 710, r:   0, x2: 120
= render "pages/risle/building", num: 11, x:  717, y: 800, r:   0, x2: 283
= render "pages/risle/building", num: 13, x:  170, y: 800, r:   0, x2: 230, x4: -150
= render "pages/risle/building", num: 15, x:   20, y: 950, r: -90, x2: 300, x4:  150
= render "pages/risle/building", num: 16, x:   20, y: 650, r: -90, x2: 300, x3:  150
= render "pages/risle/building", num: 17, x:   20, y: 350, r:   0, x2: 367, x4:  150
= render "pages/risle/building", num: 19, x:  387, y: 350, r:   0
= render "pages/risle/building", num: 21, x:  730, y: 350, r:   0, x2: 270
