= render "pages/risle/building", bnum:  5, x: 1250, y: 192, r: -19, x2: 220, y3:  130,          lf: [1,3,5,7,9], rf: [2,4,6,8]
= render "pages/risle/building", bnum:  6, x: 1458, y: 120, r: -19, x2: 220, y3:  130,          lf: [1,3,5],     rf: [2,4,6]
= render "pages/risle/building", bnum:  7, x: 1572, y: 662, r: -35, x2: 240,                    lf: [1,3,5,7,9], rf: [2,4,6,8]
= render "pages/risle/building", bnum:  9, x: 1280, y: 710, r: -35, x2: 120, x4:  -48,          lf: [1,3,5,7,9]
= render "pages/risle/building", bnum:  9, x: 1160, y: 710, r:   0, x2: 120, x3:  166,                           rf: [2,4,6,8]
= render "pages/risle/building", bnum: 10, x: 1040, y: 710, r:   0, x2: 120,                    lf: [1,2,3,4],   rf: [0,0,0,0]
= render "pages/risle/building", bnum: 11, x:  717, y: 800, r:   0, x2: 283,                    lf: [1,3,5,7,9], rf: [2,4,6,8]
= render "pages/risle/building", bnum: 13, x:  182, y: 800, r:   0, x2: 222, x4: -127,          lf: [1,3,5,7],   rf: [2,4,6]
= render "pages/risle/building", bnum: 15, x:   55, y: 950, r: -99, x2: 303, x3:  280, x4: 127, lf: [0,1,3,5],   rf: [0,2,4,6]
= render "pages/risle/building", bnum: 16, x:    8, y: 650, r: -81, x2: 303, x3:  175, x4: 24,  lf: [1,3,5,7],   rf: [2,4,6,8]
= render "pages/risle/building", bnum: 17, x:   55, y: 350, r:   0, x2: 332, x4:  128,          lf: [1,3,5,7],   rf: [2,4,6,8]
= render "pages/risle/building", bnum: 19, x:  387, y: 350, r:   0,                             lf: [0,1,3],     rf: [0,2,4]
= render "pages/risle/building", bnum: 21, x:  730, y: 350, r:   0, x2: 270,                    lf: [2,4,6,8,9], rf: [1,3,5,7]
