%thead
  %tr
    - pstat.headers.each do |header|
      %th.text-center= header.html_safe
%tbody
  - pstat.data.each do |row|
    %tr
      - row.each do |stat|
        - stat = [stat] unless stat.is_a?(Array)
        %td.text-center
          - stat.each do |item|
            - case item.to_s
              - when /\AB_0\z/  # street
                %span.street.btn.btn-secondary.btn-sm= t("parking.street")
              - when /\AB_(\d+)\z/  # bay number
                %span.bay.btn.btn-success.btn-sm{"data-bay" => $1}= $1
              - when /\AV_(\d+)_(.+)\z/  # registration number with vehicle ID
                = link_to_if can?(:view, Vehicle), $2, vehicle_path($1)
              - when /\AP_(\d+)_(\d+)\z/  # parking count with vehicle ID
                = link_to_if can?(:view, Parking), $2, parkings_path(vehicle: $1)
              - else
                = item  # nothing special, just itself
