.row
  .offset-md-1.col-md-10
    = form_for trade, html: { class: "form-horizontal" } do |f|
      - shared = { form: f, object: trade, col: "md", pad: 3, width: 2}
      = render "utils/text_field_for", shared.merge(param: :stock, text: t("trade.stock"), width: 7)
      = render "utils/text_field_for", shared.merge(param: :units, text: t("trade.units"))
      = render "utils/text_field_for", shared.merge(param: :buy_date, text: t("trade.buy_date"))
      = render "utils/text_field_for", shared.merge(param: :buy_price, text: t("trade.buy_price"))
      = render "utils/text_field_for", shared.merge(param: :buy_factor, text: t("trade.buy_factor"))
      = render "utils/text_field_for", shared.merge(param: :sell_date, text: t("trade.sell_date"))
      = render "utils/text_field_for", shared.merge(param: :sell_price, text: t("trade.sell_price"))
      = render "utils/text_field_for", shared.merge(param: :sell_factor, text: t("trade.sell_factor"))
      .row
        .offset-md-3.col-md-9
          = f.submit t("save"), class: "btn btn-primary"
          = link_to t("cancel"), trade.new_record?? trades_path : trade, class: "btn btn-secondary"
          - unless trade.new_record?
            = link_to t("delete"), trade, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
