- trades.matches.each do |trade|
  %tr.d-flex
    %td.col-4= link_to trade.stock, trade
    %td.col-2.text-center= trade.sell_date.strftime
    %td.col-1.text-center= number_with_precision(trade.units, precision: 2)
    %td.col-1.text-center= number_with_precision(trade.pound_cost, precision: 2)
    %td.col-1.text-center= number_with_precision(trade.pound_sold, precision: 2)
    %td.col-1.text-center= trade.days_held
    %td.col-1.text-center= number_to_percentage(trade.growth_rate, precision: 0)
    %td.col-1.text-center= number_with_precision(trade.profit, precision: 0)
= render "utils/pagination_links", pager: trades, columns: 1
