- trades.matches.each do |trade|
  %tr
    %td= link_to trade.stock, trade
    %td{class: "text-center"}= number_with_precision(trade.units, precision: 2)
    %td{class: "text-center"}= number_with_precision(trade.pound_cost, precision: 2)
    %td{class: "text-center"}= number_with_precision(trade.pound_sold, precision: 2)
    %td{class: "text-center"}= trade.days_held
    %td{class: "text-center"}= number_to_percentage(trade.growth_rate, precision: 0)
    %td{class: "text-center"}= number_with_precision(trade.profit, precision: 0)
= render "utils/pagination_links", pager: trades, columns: 1
