= render "utils/title", text: @trade.stock

.row
  .col-md-offset-2.col-md-8
    %table{class: "table table-bordered table-striped"}
      %tbody
        %tr
          %th= t("trade.stock")
          %td= @trade.stock
        %tr
          %th= t("trade.units")
          %td= number_with_precision(@trade.units, precision: 2)
        %tr
          %th= t("trade.buy_date")
          %td= @trade.buy_date
        %tr
          %th= t("trade.buy_price")
          %td= number_with_precision(@trade.buy_price, precision: 2) + t("trade.pence")
        %tr
          %th= t("trade.sell_date")
          %td= @trade.sell_date
        %tr
          %th= t("trade.sell_price")
          %td= number_with_precision(@trade.sell_price, precision: 2) + t("trade.pence")
        %tr
          %th= t("trade.days_held")
          %td= @trade.days_held
        %tr
          %th= t("trade.growth")
          %td= number_to_percentage(@trade.growth_rate, precision: 0)
        %tr
          %th= t("trade.profit")
          %td= t("trade.pounds") + number_with_precision(@trade.profit, precision: 2)

.text-center.top_margin
  = link_to t("trade.trades"), trades_path, class: "btn btn-success"
  - if can?(:update, @trade)
    = link_to t("edit"), edit_trade_path(@trade), class: "btn btn-info"
  - if can?(:delete, @trade)
    = link_to t("delete"), @trade, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
