:ruby
  lo = Sni::Layout.call(xs: [3,3,3,3], md: [2,2,2,2])
  inputs = [
    [:q,     t("search"),         :text,   lo[0], size: 16, autofocus: true],
    [:cat,   t("place.category"), :select, lo[1], menu: place_category_search_menu(params[:cat])],
    [:kanji, t("place.kanji"),    :select, lo[2], menu: place_kanji_menu(params[:kanji])],
    [:order, t("order"),          :select, lo[3], menu: place_order_menu(params[:order])],
  ]
  my_meta_tags "place"

.row
  %div{class: Sni::Center.call(md: 10, lg: 8, xl: 6)}
    %section
      .header.text-center
        %h3= t("place.title")
      .body
        = render "utils/search/form", index: places_path, inputs: inputs
        = turbo_frame_tag :results, "data-turbo-action" => "advance" do
          %table{class: "table table-bordered table-sm mt-3"}
            %thead
              %tr
                %th= t("place.jname", locale: "jp")
                %th= t("place.parent", locale: "jp")
                %th.text-center= t("place.pop", locale: "jp")
                %th= t("place.ename", locale: "jp")
            %tbody
              = render partial: "place", collection: @places.matches
              = render "utils/pagination_links", pager: @places, columns: 4
      .footer
        = link_to t("pages.prefectures.title"),  prefectures_path, class: "green-btn"
        - if can?(:create, Place)
          = link_to t("place.new"), new_place_path, class: "blue-btn"
