= render "utils/title", key: "place.places"

:ruby
  inputs = [
    [:q,     t("search"),         :text,   size: 16, autofocus: true],
    [:cat,   t("place.category"), :select, menu: place_category_search_menu(params[:cat])],
    [:kanji, t("place.kanji"),    :select, menu: place_kanji_menu(params[:kanji])],
    [:order, t("order"),          :select, menu: place_order_menu(params[:order])],
  ]
= render "utils/search/form", index: places_path, inputs: inputs

.row.mt-3
  %div{class: center(xs: 12, md: 10, lg: 8, xl: 6)}
    %table{class: "table table-bordered table-striped table-sm mt-3"}
      %thead
        %tr
          %th= t("place.jname", locale: "jp")
          %th= t("place.parent", locale: "jp")
          %th.text-center= t("place.pop", locale: "jp")
          %th= t("place.ename", locale: "jp")
      %tbody{id: "results"}
        = render "results", places: @places

- if can?(:create, Place)
  .text-center.mt3
    = link_to t("place.new"), new_place_path, class: "btn btn-info"
