= render "utils/title", text: @place.jname

- content_for :javascript do
  = render partial: "map", formats: :js

.row
  %div{class: center(xl: 6, lg: 8, md: 10)}
    = render "map", vb: @place.vb
    %table.table.table-bordered.table-striped.table-sm
      %tbody
        %tr
          %th= t("name")
          %td
            %strong= @place.jname
            = precede("(") do
              = succeed(")") do
                = @place.reading
        %tr
          %th= t("place.kanji")
          %td
            - @place.jname.split("").each do |c|
              - if k = Wk::Kanji.find_by(character: c)
                = link_to c, k
        %tr
          %th= t("place.category")
          %td= t("place.categories.#{@place.category}")
        %tr
          %th= t("place.pop")
          %td= @place.millions
        %tr
          %th= t("place.wiki")
          %td= render "wiki", place: @place
        - if @place.vbox.present?
          %tr
            %th= t("place.vbox")
            %td= @place.vbox
        - if p = @place.parent
          %tr
            %th= t("place.categories.#{p.category}")
            %td
              = link_to p.jname, p
              = "(#{p.ename} #{p.millions})"
        - @place.children.by_pop.each do |p|
          %tr
            %th= t("place.categories.#{p.category}")
            %td
              = link_to p.jname, p
              = "(#{p.ename} #{p.millions})"

.text-center.mt-3
  = link_to t("place.places"), last_search(places_path), class: "btn btn-success"
  - if can?(:prefectures, :page)
    = link_to t("pages.prefectures.name"),  prefectures_path, class: "btn btn-success"
  - if can?(:edit, Place)
    = link_to t("edit"), edit_place_path(@place), class: "btn btn-info"
