= render "utils/title", text: @place.jname

.row
  %div{class: center(xl: 6, lg: 8, md: 10)}
    %section
      .header.text-center
        %h3= @place.jname
      .body
        = render "map", vb: @place.vb, elements: @elements
      - if @prev || @next
        .body.border-top
          %p.text-center
            - if @prev
              = link_to @prev.ename, @prev
              = "|"
            = @place.ename
            - if @next
              = "|"
              = link_to @next.ename, @next
      .body.border-top
        %table.table.table-bordered.table-sm
          %tbody
            %tr
              %th= t("name", locale: "jp")
              %td= render "name", place: @place, reading: true, pop: true, capital: true
            - if can?(:read, Wk::Kanji)
              %tr
                %th= t("place.kanji", locale: "jp")
                %td
                  - @place.jname.split("").each do |c|
                    - if k = Wk::Kanji.find_by(character: c)
                      = link_to c, k
            %tr
              %th= t("place.category", locale: "jp")
              %td= t("place.categories.#{@place.category}", locale: "jp")
            %tr
              %th= t("place.wiki", locale: "jp")
              %td= render "wiki", place: @place
            - if @place.vbox.present?
              %tr
                %th= t("place.vbox")
                %td= @place.vbox
            - if @place.mark_position.present?
              %tr
                %th= t("place.mark_position", locale: "jp")
                %td= @place.mark_position
            - if @place.text_position.present?
              %tr
                %th= t("place.text_position", locale: "jp")
                %td= @place.text_position
            - if p = @place.parent
              %tr
                %th= t("place.categories.#{p.category}", locale: "jp")
                %td
                  = link_to p.jname, p
                  = p.millions
            - @place.children.by_pop.each do |p|
              %tr
                %th= t("place.categories.#{p.category}", locale: "jp")
                %td
                  = link_to p.jname, p
                  = p.millions
            - if @place.notes.present?
              %tr
                %td{colspan: 2}= @place.notes_html
      .footer
        = link_to t("place.title"), last_search(places_path), class: "green-btn"
        = link_to t("pages.prefectures.title"),  prefectures_path, class: "green-btn"
        - if can?(:edit, Place)
          = link_to t("edit"), edit_place_path(@place), class: "blue-btn"
          - if @place.mark_y || @place.text_y
            = link_to t("place.move"), move_place_path(@place), class: "blue-btn"
