= render "utils/title", text: @place.jname

- content_for :javascript do
  = render partial: "map", formats: :js

.row
  %div{class: center(xl: 6, lg: 8, md: 10)}
    = render "map", vb: @place.vb, elements: @elements
    %table.table.table-bordered.table-striped.table-sm
      %tbody
        %tr
          %th= t("name", locale: "jp")
          %td= render "name", place: @place, reading: true, pop: true, capital: true
        - if can?(:read, Wk::Kanji)
          %tr
            %th= t("place.kanji", locale: "jp")
            %td
              - @place.jname.split("").each do |c|
                - if k = Wk::Kanji.find_by(character: c)
                  = link_to c, k
        %tr
          %th= t("place.category", locale: "jp")
          %td= t("place.categories.#{@place.category}", locale: "jp")
        %tr
          %th= t("place.wiki", locale: "jp")
          %td= render "wiki", place: @place
        - if @place.vbox.present?
          %tr
            %th= t("place.vbox")
            %td= @place.vbox
        - if @place.mark_position.present?
          %tr
            %th= t("place.mark_position", locale: "jp")
            %td= @place.mark_position
        - if @place.text_position.present?
          %tr
            %th= t("place.text_position", locale: "jp")
            %td= @place.text_position
        - if p = @place.parent
          %tr
            %th= t("place.categories.#{p.category}", locale: "jp")
            %td
              = link_to p.jname, p
              = p.millions
        - @place.children.by_pop.each do |p|
          %tr
            %th= t("place.categories.#{p.category}", locale: "jp")
            %td
              = link_to p.jname, p
              = p.millions
        - if @place.category == "prefecture"
          - @place.borders.by_direction.each do |b|
            %tr
              %th= t("border.directions.#{b.direction}", locale: "jp")
              %td
                = link_to b.to.jname, b.to
                = b.to.millions
        - if @place.notes.present?
          %tr
            %td{colspan: 2}= @place.notes_html

.text-center.mt-3
  = link_to t("place.places"), last_search(places_path), class: "btn btn-success"
  - if can?(:prefectures, :page)
    = link_to t("pages.prefectures.name"),  prefectures_path, class: "btn btn-success"
  - if can?(:edit, Place)
    = link_to t("edit"), edit_place_path(@place), class: "btn btn-info"
