%nav{class: "navbar navbar-default", role: "navigation"}
  .navbar-header
    %button{class: "navbar-toggle", type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      - if can?(:read, Mass)
        %li= link_to t("mass.mass"), graph_masses_path
      - if can?(:read, Transaction)
        %li= link_to t("transaction.transactions"), summary_transactions_path
      - if can?(:read, Expense)
        %li= link_to t("expense.expenses"), expenses_path
      - if can?(:read, Income)
        %li= link_to t("income.incomes"), graph_incomes_path
    %ul.nav.navbar-nav.navbar-right
      = render "layouts/sign_in_out"
