%nav{class: "navbar navbar-default", role: "navigation"}
  .navbar-header
    %button{class: "navbar-toggle", type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    - if authenticated?
      %ul.nav.navbar-nav
        %li.dropdown
          = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
            = t("kg.kg")
            %b.caret
          %ul.dropdown-menu
            %li= link_to t("kg.index"), masses_path
            %li= link_to t("kg.graph"), graph_masses_path
        %li.dropdown
          = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
            = t("hl.hl")
            %b.caret
          %ul.dropdown-menu
            %li= link_to t("hl.transaction.transactions"), transactions_path
            %li= link_to t("hl.upload.uploads"), uploads_path
    %ul.nav.navbar-nav.navbar-right
      = render "layouts/sign_in_out"
