- menu_size = 8

%nav
  %button{type: "button", "data-toggle" => "collapse", "data-target" => "#navbar"}
    %span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    %ul.left

      - if can?(:read, Blog)
        %li= link_to t("home"), blogs_path

      - if [Wk::Radical, Wk::Kanji, Wk::VerbPair, Wk::Example, Wk::Group, Note, Misa, Problem].map{ |c| can?(:read, c) }.any?
        %li.dropdown
          = link_to t("wk.japanese", locale: "jp"), "#", class: "dropdown-toggle", id: "wk_dropdown", "data-toggle" => "dropdown"
          .dropdown-menu
            = render "wk/vocabs/dropdown_menu"                         if can?(:read, Wk::Vocab)
            = render "wk/kanjis/dropdown_menu"                         if can?(:read, Wk::Kanji)
            = render "wk/radicals/dropdown_menu"                       if can?(:read, Wk::Radical)
            = render "wk/verb_pairs/dropdown_menu"                     if can?(:read, Wk::VerbPair)
            = link_to t("wk.verb_pair.verb_pairs"), wk_verb_pairs_path if can?(:read, Wk::VerbPair)
            = link_to t("wk.example.examples"),     wk_examples_path   if can?(:read, Wk::Example)
            = link_to t("wk.group.groups"),         wk_groups_path     if can?(:read, Wk::Group)
            = link_to t("misa.misas"),              misas_path         if can?(:read, Misa)
            = link_to t("note.notes"),              notes_path         if can?(:read, Note)
            = link_to t("problem.problems"),        problems_path      if can?(:read, Problem)

      - if [Person, Picture, Partnership, HistoricalEvent].map{|c| can?(:read, c) }.any?
        %li.dropdown
          = link_to t("family"), "#", class: "dropdown-toggle", id: "wk_dropdown", "data-toggle" => "dropdown"
          .dropdown-menu{"aria-labelledby" => "family_dropdown"}
            = link_to t("person.tree"),              tree_people_path       if can?(:tree, Person)
            = link_to t("person.people"),            people_path            if can?(:read, Person)
            = link_to t("picture.pictures"),         pictures_path          if can?(:read, Picture)
            = link_to t("partnership.partnerships"), partnerships_path      if can?(:read, Partnership)
            = link_to t("person.checks.title"),      checks_people_path     if can?(:checks, Person)
            = link_to t("historical_event.events"),  historical_events_path if can?(:read, HistoricalEvent)

      - if [Position, Opening, Lesson, Book].map{|c| can?(:read, c) }.any?
        %li.dropdown
          = link_to t("chess"), "#", class: "dropdown-toggle", id: "chess_dropdown", "data-toggle" => "dropdown"
          .dropdown-menu{"aria-labelledby" => "chess_dropdown"}
            = link_to t("lesson.lessons"),     lessons_path   if can?(:read, Lesson)
            = link_to t("book.books"),         books_path     if can?(:read, Book)
            = link_to t("position.positions"), positions_path if can?(:read, Position)
            = link_to t("opening.openings"),   openings_path  if can?(:read, Opening)

      - if [Resident, Flat, Vehicle, Parking].map{ |c| can?(:read, c) }.any? || [:pam, :risle, :deeds].map{ |a| can?(a, Page) }.any?
        %li.dropdown
          = link_to t("pages.risle.name"), "#", class: "dropdown-toggle", id: "risle_dropdown", "data-toggle" => "dropdown"
          .dropdown-menu{"aria-labelledby" => "risle_dropdown"}
            = link_to t("map"),                risle_path     if can?(:risle, Page)
            = link_to t("pages.pam"),          pam_path       if can?(:pam, Page)
            = link_to t("resident.residents"), residents_path if can?(:read, Resident)
            = link_to t("flat.flats"),         flats_path     if can?(:read, Flat)
            = link_to t("vehicle.vehicles"),   vehicles_path  if can?(:read, Vehicle)
            = link_to t("parking.parkings"),   parkings_path  if can?(:read, Parking)
            = link_to t("flat.deeds"),         deeds_path     if can?(:deeds, Page)

      - if [Income, Trade, Fund, Transaction, Expense].map{|c| can?(:read, c) }.any?
        %li.dropdown
          = link_to t("money"), "#", class: "dropdown-toggle", id: "money_dropdown", "data-toggle" => "dropdown"
          .dropdown-menu{"aria-labelledby" => "money_dropdown"}
            = link_to t("income.incomes"),           graph_incomes_path        if can?(:read, Income)
            = link_to t("trade.trades"),             trades_path               if can?(:read, Trade)
            = link_to t("fund.funds"),               funds_path                if can?(:read, Fund)
            = link_to t("transaction.transactions"), summary_transactions_path if can?(:read, Transaction)
            = link_to t("expense.expenses"),         expenses_path             if can?(:read, Expense)

      - if [:aoc, :magic, :play].map{ |p| can?(p, Page) }.any? || [Bucket, Device, Dragon, Favourite, Interface, Login, Mass, Opening, Position, Tapa, User].map{ |c| can?(:read, c) }.any?
        %li.dropdown
          = link_to t("other"), "#", class: "dropdown-toggle", id: "other_dropdown", "data-toggle" => "dropdown"
          .dropdown-menu{"aria-labelledby" => "other_dropdown"}
            = link_to t("mass.mass"),            graph_masses_path if can?(:read, Mass)
            = link_to t("favourite.favourites"), favourites_path   if can?(:read, Favourite)
            = link_to t("bucket.buckets"),       buckets_path      if can?(:read, Bucket)
            = link_to t("todo.todos"),           todos_path        if can?(:read, Todo)
            = link_to t("pages.aoc.short"),      aoc_path          if can?(:aoc, Page)
            = link_to t("tapa.tapas"),           tapas_path        if can?(:read, Tapa)
            = link_to t("dragon.dragons"),       dragons_path      if can?(:read, Dragon)
            = link_to t("pages.magic"),          magic_path        if can?(:magic, Page)
            = link_to t("pages.play"),           play_path         if can?(:play, Page)
            = link_to t("device.devices"),       devices_path      if can?(:read, Device)
            = link_to t("interface.interfaces"), interfaces_path   if can?(:read, Interface)
            = link_to t("user.users"),           users_path        if can?(:read, User)
            = link_to t("login.logins"),         logins_path       if can?(:read, Login)

    %ul.right
      - if authenticated?
        = link_to t("session.sign_out"), sign_out_path
      - else
        = link_to t("session.sign_in"), sign_in_path
