!!!
%html
  %head
    = render "layouts/head"
  %body
    .container.top_margin.bottom_margin
      = render "layouts/nav"
      = render "layouts/flash"
      = yield
    - if content_for? :help
      = render "utils/help"
