= render "utils/title", key: "vocab.similar.words"

.text-center
  = form_tag similar_words_path, method: :get, remote: true, class: "form-inline" do
    .form-group
      = label_tag :q, t("query"), class: "sr-only"
      = text_field_tag :q, params[:q], class: "form-control", size: 16, placeholder: t("vocab.readings"), autofocus: true
    = button_tag t("search"), type: "submit", class: "btn btn-success"

.row.top_margin
  .col-xs-8.offset-xs-2.col-sm-6.offset-sm-3.col-md-4.offset-md-4
    %table{class: "table table-bordered"}
      %thead
        %tr
          %th= t("vocab.readings")
      %tbody{id: "results"}
        = render "results", similar_words: @similar_words

.text-center.top_margin
  - if can?(:create, SimilarWord)
    = link_to t("vocab.similar.word.new"), new_similar_word_path, class: "btn btn-info"
