= render "utils/title", key: "vocab.similar.words"

= form_tag similar_words_path, method: :get, remote: true, class: "form-inline justify-content-center" do
  = label_tag :q, t("query"), class: "sr-only"
  = text_field_tag :q, params[:q], class: "form-control mr-1 mb-1", size: 16, placeholder: t("vocab.readings"), autofocus: true
  = button_tag t("search"), type: "submit", class: "btn btn-success mr-1 mb-1"

.row.mt-3
  .col-md-10.offset-md-1.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
    %table{class: "table table-bordered table-striped table-sm"}
      %thead
        %tr
          %th= t("vocab.readings")
          %th= t("vocab.kanji")
      %tbody{id: "results"}
        = render "results", similar_words: @similar_words

- if can?(:create, SimilarWord)
  .text-center.mt-3
    = link_to t("vocab.similar.word.new"), new_similar_word_path, class: "btn btn-info"
