= render "utils/title", text: @similar_word.display, header: true

.row.mt-3
  .offset-xl-1.col-xl-10
    %table{class: "table table-bordered"}
      %thead
        %tr
          %th= t("vocab.kanji")
          %th= t("vocab.reading")
          %th= t("vocab.meaning")
          %th= t("vocab.category")
          %th.text-center= t("vocab.level")
          %th.text-center= t("vocab.audio")
      %tbody
        - @vocabs.each do |vocab|
          %tr
            %td= link_to vocab.kanji, vocab
            %td
              = render "vocabs/accent_pattern", vocab: vocab
              = vocab.reading
            %td= vocab.meaning
            %td= vocab.category
            %td.text-center= vocab.level
            %td.text-center= render "vocabs/audio", vocab: vocab

.text-center.mt-3
  = link_to t("vocab.similar.words"), similar_words_path, class: "btn btn-success"
  - if can?(:update, @similar_word)
    = link_to t("edit"), edit_similar_word_path(@similar_word), class: "btn btn-info"
  - if can?(:delete, @similar_word)
    = link_to t("delete"), @similar_word, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
